<div class="col-sm-12 col-md-6 form-group">
	<label for="goDownName">Location Name</label> <input id="locationName"
		maxlength="255" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.location.locationName" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="itemName">GST</label> <input id="goDownGst"
		maxlength="255" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.location.goDownGst" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="itemName">City</label> <input id="city"
		maxlength="255" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.location.city" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="state">State</label> <select class="form-control"
		ng-model="vm.billInkDashboardService.location.state.stateId"
		id="userState"
		ng-init="vm.billInkDashboardService.location.state.stateId = vm.stateList[0].stateId"
		ng-options="state.stateId as state.stateName for state in vm.billInkDashboardService.stateList">
	</select>
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="itemName">PIN Code</label> <input id="pinCode"
		maxlength="255" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.location.pinCode" />
</div>

<div class="col-sm-12 col-md-6 form-group">
	<label for="itemName">Location InchargeName</label> <input id="locationIncharge"
		maxlength="255" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.location.locationIncharge" />
</div>

<div class="col-sm-12 col-md-6 form-group">
	<label for="itemName">Contact Number</label> <input id="contactNumber"
		maxlength="255" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.location.contactNumber" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="itemName">Email</label> <input id="email"
		maxlength="255" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.location.email" />
</div>
<div class="col-sm-12 col-md-12 form-group">
	<label for="itemName">Location Address</label> 
	<textarea id="address" class="form-control ng-pristine ng-valid ng-empty ng-touched"
	 type="text" ng-model="vm.billInkDashboardService.location.address" autocomplete="off">	
	 </textarea>
</div>
