<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="addEditLocationDataController as vm" style="padding-top: 10px; padding-bottom: 10px;">
	<form>
		<div class="row col-sm-9"  ng-include="'../location/view/addEditLocationDataTemplate.html'"></div>
		<div class="row col-sm-12 col-md-12 col-lg-12">
			<div class="col-sm-12 col-md-12 col-lg-12 form-group">
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span>Document List</span> <i class="mdi mdi-plus-circle pull-right"
							style="padding-right: 5px; cursor: pointer;"
							ng-click="vm.addDocument()"> </i>
					</div>
					<div class="card-body row">
						<table class="table purchase-item-container">
							<thead>
								<tr>
									<th>Document File</th>
									<th>Document Type</th>
									<th>Description</th>
									<th>Download</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="locationDocumentObj in vm.billInkDashboardService.location.locationDocumentList">
									<td>
										<img alt="Document"
											ng-if="!vm.billInkDashboardService.isPDFDocument(locationDocumentObj.documentUrl)"
											src="{{locationDocumentObj.documentUrl}}"
											height="100px" style="max-width: 150px;" />
											
										<img alt="Document"
											ng-if="vm.billInkDashboardService.isPDFDocument(locationDocumentObj.documentUrl)"
											src="../images/pdf-image.png"
											height="100px" style="max-width: 150px;" />
									</td>
									<td ng-bind="locationDocumentObj.documentType"></td>
									<td ng-bind="locationDocumentObj.description"></td>
									<td><a href="#"
										ng-click="vm.billInkDashboardService.downloadURI(locationDocumentObj.documentUrl)">
											Download </a></td>
									<td><i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.deleteDocument($index)"> </i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row col-sm-12 col-lg-12 col-md-12">
			<div class="col-sm-12">
				<button class="btn btn-default pull-right btn-md" ng-click="vm.closeLocationDataSave()">
					Cancel
				</button>
				<button class="btn btn-primary pull-right btn-md"
						
						style="margin-right: 10px;" ng-click="vm.uploadFileAndSaveLocationData()">
					Save
				</button>
				<button class="btn btn-primary pull-right btn-md"
						ng-if="vm.manageLocationDataService.requestType === 'Edit'"
						style="margin-right: 10px;" ng-click="vm.uploadFileAndUpdateItemData()">
					Update
				</button>
			</div>
		</div>
	</form>
	
	<div id="add-document-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Company Document</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType" >Document Type</label>
							<select class="form-control" ng-model="vm.locationDocumentObj.documentType" id="documentType"
									ng-options="documentType for documentType in vm.billInkDashboardService.documentTypeList">
				      		</select>
						</div>

						<div class="col-sm-12 col-sm-12 form-group">
							<label for="documentFile">Document</label>
							<input id="documentFile"
								class="form-control-file" type="file"
								file-model="vm.locationDocumentFile" />
						</div>

						<div class="form-group row col-sm-12">
							<label for="documentDesc" >Description</label>
							<textarea id="documentDesc" maxlength="500" class="form-control" 
								ng-model="vm.locationDocumentObj.description"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closeLocationDataSave()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveDocument()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>