<style>
<!--
.manage-item-container .card-border {
	border: 1px solid #1e88e5;
	border-radius: 5px;
	min-height: 250px;
	background: white;
}

.manage-item-container .card-container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.manage-item-container .bold-text {
	font-weight: 700;
}

/* The side navigation menu */
/* The sidenav */
.sidenav {
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1e88e5;
	overflow-x: hidden;
	padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding: 5px 5px 5px 10px;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav a.active {
	color: black;
	background: white;
	border-radius: 2px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 15px;
	}
}

.manage-item-container .mySidenav input[type=text] {
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.manage-item-container .mySidenav input[type=text]:focus {
	width: 100%;
}

.sidenav-custom-css {
	position: fixed;
	left: auto;
	top: 145px;
	width: 20%;
	height: 70%;
}

.mdi {
	font-size: 20px;
}

.dropdown-toggle::after {
	float: right;
	margin-top: 10px;
}

.dropdown li:hover {
	background-color: #ddd;
}

.dropdown li {
	padding: 10px;
	border-bottom: 1px solid #eef5f9;
}

.dropdown ul {
	width: 97%;
	margin-left: 20px;
	cursor: pointer;
	height: 200px;
	overflow: auto;
}
-->
</style>
<div class="manage-item-container col-lg-12 col-md-12 col-sm-12"
	style="padding-left: 0px;"
	ng-controller="manageLocationDataController as vm" ng-init="vm.init()">
	<div class="row">
		<div class="col-sm-3" style="padding: 0px; position: sticky;">
			<div class="col-sm-12">
				<div id="mySidenav" class="sidenav sidenav-custom-css"
					infine-scroll-directive load-more-data="vm.loadMoreCompanyList()">
					<div style="padding: 5px 5px 5px 10px;">
						<input type="text" class="form-control" name="search"
							ng-model="vm.searchCompanyNameText" placeholder="Search.."
							ng-change="vm.getCompanyListOnSearch()"> <span
							class="glyphicon glyphicon-search"></span>
					</div>
					<a ng-repeat="companyObj in vm.companyList" href="#"
						ng-click="vm.getCompayItemDetail(companyObj.companyId)"
						ng-class="{'active': vm.manageLocationDataService.selectedCompanyId === companyObj.companyId}">
						<span ng-bind="companyObj.companyName"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-9 row" style="padding-top: 10px;">
			<div class="col-sm-12 row">
				<div class="col-sm-11"></div>
				<div class="col-sm-1">
					<button class="btn btn-default" ng-click="vm.addLocationDataSave()">Add</button>
				</div>
			</div>
			<div class="col-sm-12 row" infinite-scroll="vm.loadMoreItem()"
				infinite-scroll-distance="2"
				ng-include="vm.manageLocationDataService.locationContainerURL">
			</div>
		</div>


		<!-- <div id="add-location-section-model">
	<div class="modal fade" id="exampleModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Add Location</h5>
					<button type="button" class="close"
						ng-click="vm.closeLocationDataSave()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						 <div class="col-sm-12 row" style="padding: 0px;" ng-include="'../location/view/addEditLocationData.html'"></div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div> -->


	</div>
</div>