<div class="manage-item-container col-lg-12 col-md-12 col-sm-12"
	style="padding-left: 0px;">

	<div class="row">
		<!-- <div class="col-sm-3" style="padding: 0px; position: sticky;">
			<div class="col-sm-12">
				<div id="mySidenav" class="sidenav sidenav-custom-css"
					infine-scroll-directive load-more-data="vm.loadMoreCompanyList()">
					<div style="padding: 5px 5px 5px 10px;">
						<input type="text" class="form-control" name="search"
							ng-model="vm.searchCompanyNameText" placeholder="Search.."
							ng-change="vm.getCompanyListOnSearch()"> <span
							class="glyphicon glyphicon-search"></span>
					</div>
					<a ng-repeat="companyObj in vm.companyList" href="#"
						ng-click="vm.getCompayLocationDetail(companyObj.companyId)"
						ng-class="{'active': vm.manageLocationDataService.selectedCompanyId === companyObj.companyId}">
						<span ng-bind="companyObj.companyName"></span>
					</a>
				</div>
			</div>
		</div> -->

		<div class="row col-sm-9" style="padding-top: 10px;">
			<div class="col-lg-4 col-md-6 col-sm-12 card-container"
				ng-repeat="locationObj in vm.manageLocationDataService.locationListObj">
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span ng-bind="::locationObj.locationName"></span> <i
							class="mdi mdi-delete pull-right"
							style="padding-right: 10px; cursor: pointer;"
							ng-if="vm.billInkDashboardService.userRole === 'Vendor'"
							ng-click="vm.deleteLocation(locationObj.locationId)"
							>
							
						</i>
					</div>
					<div class="card-body"min-height: 250px;" >
						<p class="card-text">
						<div class="col-sm-12" ng-if="locationObj.city !== ''">
							<label class="bold-text">Location City</label> <span
								ng-bind="::locationObj.city"></span>
						</div>
						<div class="col-sm-12" ng-if="locationObj.city !== ''">
							<label class="bold-text">Location InchargeName</label> <span
								ng-bind="::locationObj.contactNumber"></span>
						</div>
						<div class="col-sm-12" ng-if="locationObj.contactNumber !== ''">
							<label class="bold-text">Incharge ContactNumber</label> <span
								ng-bind="::locationObj.contactNumber"></span>
						</div>

						</p>
					</div>
				</div>
			</div>



		</div>
	</div>
</div>