<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="addEditLedgerDataController as vm"
	style="padding-top: 10px; padding-bottom: 10px;" ng-init="vm.init()">
	<form>
		<div class="row col-sm-12 col-md-12 col-lg-12">

			<div class="col-sm-12 row" ng-include="'../ledger/view/addLedgerFormTemplate.html'"></div>

			<div class="col-sm-12 col-md-12 col-lg-12 form-group">
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span>Document List</span> <i
							class="mdi mdi-plus-circle pull-right"
							style="padding-right: 5px; cursor: pointer;"
							ng-click="vm.addDocument()"> </i>
					</div>
					<div class="card-body row">
						<table class="table purchase-item-container">
							<thead>
								<tr>
									<th>Document File</th>
									<th>Document Type</th>
									<th>Description</th>
									<th>Download</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="ledgerDocumentObj in vm.billInkDashboardService.ledger.ledgerDocumentList">
									<td><img alt="Document"
										ng-if="!vm.billInkDashboardService.isPDFDocument(ledgerDocumentObj.documentUrl)"
										src="{{ledgerDocumentObj.documentUrl}}" height="100px"
										style="max-width: 150px;" /> <img alt="Document"
										ng-if="vm.billInkDashboardService.isPDFDocument(ledgerDocumentObj.documentUrl)"
										src="../images/pdf-image.png" height="100px"
										style="max-width: 150px;" /></td>
									<td ng-bind="ledgerDocumentObj.documentType"></td>
									<td ng-bind="ledgerDocumentObj.description"></td>
									<td><a href="#"
										ng-click="vm.billInkDashboardService.downloadURI(ledgerDocumentObj.documentUrl)">
											Download </a></td>
									<td><i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.deleteDocument($index)"> </i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-12 col-lg-12 form-group">
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span>Multiple Gst</span> <i
							class="mdi mdi-plus-circle pull-right"
							style="padding-right: 5px; cursor: pointer;"
							ng-click="vm.addMultipleGst()"> </i>	
					</div>
					<div class="card-body row">
					
						<table class="table purchase-item-container">
							<thead>
								<tr>
									<th>GST Number</th>
									<th>City</th>
									<th>State</th>
									<th>Address</th>
									<th></th>
								</tr>
							</thead>
							 <tbody>
								<tr ng-repeat="ledgerMultipleGstObj in vm.billInkDashboardService.ledger.multipleGstList">
									<td ng-bind="ledgerMultipleGstObj.multipleGst"></td>
									<td ng-bind="ledgerMultipleGstObj.city"></td>
									<td ng-bind="ledgerMultipleGstObj.state"></td>
									<td ng-bind="ledgerMultipleGstObj.address"></td>
									<td></td>
									<td> 
										<i class="mdi mdi-delete pull-right"
											style="padding-right: 5px; cursor: pointer;"
											ng-click="vm.deleteMultipleGst($index)"> </i>
									</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>


		</div>
		<div class="row col-sm-12 col-lg-12 col-md-12">
			<div class="col-sm-12">
				<button class="btn btn-default pull-right btn-md"
					ng-click="vm.closeLedgerDataSave()">Cancel</button>
				<button class="btn btn-primary pull-right btn-md"
					ng-if="vm.manageLedgerDataService.requestType === 'Add'"
					style="margin-right: 10px;" ng-click="vm.saveLedgerData()">
					Save</button>
				<button class="btn btn-primary pull-right btn-md"
					ng-if="vm.manageLedgerDataService.requestType === 'Edit'"
					style="margin-right: 10px;" ng-click="vm.updateLedgerData()">
					Update</button>
			</div>
		</div>
	</form>

	<div id="add-document-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Company Document</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType">Document Type</label> <select
								class="form-control"
								ng-model="vm.ledgerDocumentObj.documentType" id="documentType"
								ng-options="documentType for documentType in vm.billInkDashboardService.documentTypeList">
							</select>
						</div>

						<div class="col-sm-12 col-sm-12 form-group">
							<label for="documentFile">Document</label> <input
								id="documentFile" class="form-control-file" type="file"
								file-model="vm.ledgerDocumentFile" />
						</div>

						<div class="form-group row col-sm-12">
							<label for="documentDesc">Description</label>
							<textarea id="documentDesc" maxlength="500" class="form-control"
								ng-model="vm.ledgerDocumentObj.description"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedDocumentModal()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveDocument()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="add-MultipleGST-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add GST Details</h4>
					</div>
					<div class="modal-body">

						<div class="form-group row col-sm-12">
							<label for="multipleGst">GST Number</label> <input id="multipleGst"
								class="form-control" type="text"
								ng-model="vm.ledgerMultipleGstObj.multipleGst" />
						</div>
						<div class="form-group row col-sm-12">
							<label for="documentType">City</label> <input id="city"
								class="form-control" type="text"
								ng-model="vm.ledgerMultipleGstObj.city" />
						</div>
						<div class="form-group row col-sm-12">
							<label for="state">State</label> <select class="form-control"
								ng-model="vm.ledgerMultipleGstObj.state"
								id="userState"
								ng-init="vm.billInkDashboardService.ledger.state.stateId = vm.stateList[0].stateId"
								ng-options="state.stateName as state.stateName for state in vm.billInkDashboardService.stateList">
							</select>

						</div>

						<div class="form-group row col-sm-12">
							<label for="documentDesc">Address</label>
							<textarea id="documentDesc" maxlength="500" class="form-control"
								ng-model="vm.ledgerMultipleGstObj.address"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedMultipleGst()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveMultipleGstData()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>