<div class="col-sm-12 col-md-6 form-group">
	<label for="ledgerName">Ledger Name</label> <input id="ledgerName"
		type="text" class="form-control"
		ng-model="vm.billInkDashboardService.ledger.ledgerName" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="mobileNumber">Mobile Number</label> <input type="number" min="0"
		id="mobileNumber" class="form-control"
		ng-model="vm.billInkDashboardService.ledger.mobileNumber" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="mobileNumber">MRP</label> <input type="number" min="0"
		id="ledgerCharge" class="form-control"
		ng-model="vm.billInkDashboardService.ledger.ledgerCharge" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="mobileNumber">Tax Code</label> <select class="form-control"
		ng-model="vm.billInkDashboardService.ledger.taxCode" id="taxCode"
		ng-options="taxCode for taxCode in vm.billInkDashboardService.taxCodeList">
	</select>
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="sacCode">SAC Code</label> <input type="text"
		maxlength="255" id="sacCode" class="form-control"
		ng-model="vm.billInkDashboardService.ledger.sacCode" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="ledgerGroup">Ledger Group</label> <select
		class="form-control" ng-change="vm.checkedledgerType()"
		ng-model="vm.billInkDashboardService.ledger.ledgerGroup" id="gstType"
		ng-options="ledgerGroup for ledgerGroup in vm.billInkDashboardService.ledgerGroupList">
	</select>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 form-group creditoption" style="display: none;">
	<label for="creditPeriod">Credit Period</label>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
		<span ng-model="vm.billInkDashboardService.ledger.creditPeriod" ></span>
			<select
				class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
				id="dayMonthDD" ng-model="vm.billInkDashboardService.ledger.periodName">
				<option value="Month">Month</option>
				<option value="days">Days</option>
			</select>
		</div>
		<input id="creditPeriod" class="form-control" type="number"
			ng-model="vm.billInkDashboardService.ledger.creditPeriod" />
	</div>
</div>


<!-- <div class="col-sm-12 col-md-6 form-group creditoption"
	style="display: none;">
	<label for="creditPeriod">Credit Period</label>
	<input id="creditPeriod" class="form-control" type="text"
		ng-model="vm.billInkDashboardService.ledger.creditPeriod" />
</div> -->
<div class="col-sm-12 col-md-6 form-group creditoption"
	style="display: none;">
	<label for="creditLimit">Credit Limit</label> <input id="creditLimit"
		class="form-control" type="number"  ng-model="vm.billInkDashboardService.ledger.creditLimit" />
</div>
<div class="col-sm-12 col-sm-6 form-group creditoption"
	style="display: none;">
	<label for="billNumber">Ledger Code</label>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text"
				ng-bind="vm.billInkDashboardService.ledger.ledgerCodePrefix"></span>
		</div>
		<input id="billNumber" maxlength="255" class="form-control"
			type="text"
			ng-model="vm.billInkDashboardService.ledger.currentledgerCode" />
	</div>
</div>


<!-- <div class="col-sm-12 col-md-6 form-group">
	<label for="ledgerCode">Ledger Code</label>
	 <input id="ledgerCode"
		class="form-control" type="text"
		ng-model="vm.billInkDashboardService.ledger.ledgerCode" />
</div> -->
<div class="col-sm-12 col-md-6 form-group">
	<label for="ledgerCode">Select Customer Type</label> <select
		class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
		ng-change="vm.billInkDashboardService.fillPriceMaster()"
		ng-model="vm.billInkDashboardService.ledger.customerTypeId"		
		id="customerTypeId">
		<option
			ng-repeat="data in vm.billInkDashboardService.getCustomerTypeList"
			value="{{data.customerTypeId}}" ng-selected="vm.billInkDashboardService.ledger.customerTypeId == data.customerTypeId">{{data.customerType}}</option>
	</select>
</div>
<!-- <div class="col-sm-12 col-md-6 form-group">
	<label for="priceId">Price Master</label> <input id="priceId"
		class="form-control" type="text" 
		ng-model="vm.billInkDashboardService.ledger.priceId" />
</div> -->
<div class="col-sm-12 col-md-6 form-group">
	<label for="gstType">GST Type</label> <select class="form-control"
		ng-model="vm.billInkDashboardService.ledger.gstType" id="gstType"
		ng-options="gstType for gstType in vm.billInkDashboardService.gstTypeList">
	</select>
</div>
<div class="col-md-6 col-md-6 form-group">
	<label for="gstNumber">GST Number</label> <input id="gstNumber"
		class="form-control" type="text"
		ng-model="vm.billInkDashboardService.ledger.gstNumber" />
</div>
<div class="col-md-6 col-md-6 form-group">
	<label for="panNumber">PAN Number</label> <input id="panNumber"
		maxlength="10" class="form-control" type="text"
		ng-model="vm.billInkDashboardService.ledger.panNumber" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="openingBalance">Opening Balance</label> <input
		type="number" id="openingBalance" class="form-control" min="0"
		ng-model="vm.billInkDashboardService.ledger.openingBalance" step="any" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="contactPersonName">Contact Person Name</label> <input
		type="text" id="contactPersonName" class="form-control"
		ng-model="vm.billInkDashboardService.ledger.contactPersonName"
		step="any" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="cityName">City Name</label> <input id="cityName"
		class="form-control" type="text" maxlength="500"
		ng-model="vm.billInkDashboardService.ledger.cityName" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="pinCode">Pin Code</label> <input id="pinCode"
		class="form-control" type="number" min="0"
		ng-model="vm.billInkDashboardService.ledger.pinCode" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="state">State </label>
	<select
		class="form-control"
		ng-model="vm.billInkDashboardService.ledger.stateId" ng-change="vm.setState(vm.billInkDashboardService.ledger.stateId)"
		id="userState">
		<option
			ng-repeat="data in vm.billInkDashboardService.stateList"
			value="{{data.stateId}}" 
			ng-selected="vm.billInkDashboardService.ledger.state.stateId == data.stateId">{{data.stateName}}</option>
	</select> 
	<!--  <select class="form-control"
		ng-model="vm.billInkDashboardService.ledger.stateId"
		id="userState"
		ng-init="vm.billInkDashboardService.ledger.state.stateId = vm.stateList[0].stateId"
		ng-selected="vm.billInkDashboardService.ledger.state.stateId == vm.stateList[0].stateId"
		ng-options="state.stateId as state.stateName for state in vm.billInkDashboardService.stateList">
	</select>-->
</div>
<style>
.display-center{
	margin-top: 40px;
	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
}
.mb-zero{
	margin-bottom: 0px !important;
}
</style>
<div class="col-sm-12 col-md-6 form-group display-center">
	<label for="priceId" class="mb-zero">Price Master :</label> <span
		ng-model="vm.billInkDashboardService.ledger.priceId"></span> <input
		type="checkbox" id="priceYesId" style="width: 20px;height: 20px;"
		ng-model="vm.billInkDashboardService.ledger.priceYesId"
		ng-click="vm.changeprice($event)" value="true" ng-checked="item[2]" />&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" id="priceNoId" style="width: 20px;height: 20px;"
		ng-model="vm.billInkDashboardService.ledger.priceNoId"
		ng-click="vm.changeprice($event)" value="false" ng-checked="item[2]" />&nbsp;&nbsp;No
</div>
<div class="col-sm-12 col-md-6 form-group display-center">
	<label for="priceId"  class="mb-zero">Scheme Master :</label> <input type="checkbox"
		id="schemeOneId" style="width: 20px;height: 20px;"
		ng-model="vm.billInkDashboardService.ledger.schemeOneId"
		ng-click="vm.change(0)" value="false" ng-checked="item[2]" />&nbsp;&nbsp;Scheme
	One&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox"
		id="schemeTwoId" style="width: 20px;height: 20px;"
		ng-model="vm.billInkDashboardService.ledger.schemeTwoId"
		ng-click="vm.change(1)" value="false" ng-checked="item[2]" />&nbsp;&nbsp;Scheme
	Two
</div>
<div class="col-sm-12 col-md-12 form-group">
	<label for="address">Address</label>
	<textarea id="address" class="form-control" type="text"
		ng-model="vm.billInkDashboardService.ledger.address">
	</textarea>
</div>