<div class="col-lg-4 col-md-6 col-sm-12 card-container"
	ng-repeat="ledgerObj in vm.manageLedgerDataService.ledgerList">
	<i class="mdi mdi-delete pull-right" style="padding-right: 10px; padding-top: 10px; cursor: pointer;" ng-click="vm.showDeletePrompt(ledgerObj.ledgerId)"></i>
	<div class="card-border">
		<div class="card-header" style="text-align: center;">
			<span ng-bind="::ledgerObj.ledgerName"></span>
		</div>
		<div class="card-body" style="cursor: pointer; min-height: 250px;" ng-click="vm.editLedgerData(ledgerObj.ledgerId)">
			<p class="card-text">
			<div class="col-sm-12" ng-if="ledgerObj.gstNumber !== ''">
				<label class="bold-text">GST Number </label> 
				<span ng-bind="::ledgerObj.gstNumber"></span>
			</div>
			<div class="col-sm-12" ng-if="ledgerObj.ledgerGroup !== ''">
				<label class="bold-text">Ledger Group</label> 
				<span ng-bind="::ledgerObj.ledgerGroup"></span>
			</div>
			<div class="col-sm-12" ng-if="ledgerObj.gstType !== ''">
				<label class="bold-text">GST Type</label> 
				<span ng-bind="::ledgerObj.gstType"></span>
			</div>
			<div class="col-sm-12" ng-if="ledgerObj.mobileNumber !== '' && ledgerObj.mobileNumber > 0">
				<label class="bold-text">Mobile Number </label> <span
					ng-bind="::ledgerObj.mobileNumber"></span>
			</div>
			<div class="col-sm-12" ng-if="ledgerObj.ledgerCharge !== '' && ledgerObj.ledgerCharge > 0">
				<label class="bold-text">Charge</label> <span
					ng-bind="::ledgerObj.ledgerCharge"></span>
			</div>
			<div class="col-sm-12" ng-if="ledgerObj.taxCode !== '' && ledgerObj.taxCode > 0">
				<label class="bold-text">Tax Code</label> <span
					ng-bind="::ledgerObj.taxCode"></span>
			</div>
			</p>
		</div>
	</div>
</div>