<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="addExpenseDataController as vm"
	class="row col-sm-12" style="padding-top: 10px; padding-bottom: 10px;"
	ng-init="vm.init()">
	<div class="col-sm-12">
		<input type="image" src="../images/back-button.png"
			ng-click="vm.closeAddEditExpenseScreen()" height="40px" width="40px" />
	</div>
	<div class="row col-sm-12">
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-8 col-md-8 col-lg-8">
			<div class="col-sm-12 form-group">
				<label for="userName">Select Expense Ledger</label>
				<div class="dropdown">
					<div class="input-group">
						<input class="form-control dropdown-toggle" 
							ng-change="vm.searchLedger()"
							ng-model="vm.searchLedgerNameText"
							type="text" autocomplete="off" 
							placeholder="search expense ledger..." 
							data-toggle="dropdown" />
					  	<ul class="dropdown-menu col-sm-12"
					  		ng-if="vm.searchLedgerList.length > 0">
					  		<li ng-repeat="ledgerObj in vm.searchLedgerList"
					  			ng-click="vm.selectLedger(ledgerObj)">
					  			<span ng-bind="ledgerObj.ledgerName"></span>
					  		</li>	
					  	</ul>
					  	<div class="input-group-pospend">
					    	<span class="input-group-text" style="padding-left: 5px; padding-right: 5px;">
								<i class="mdi mdi-plus-circle pull-right" title="Add Item" style="cursor: pointer;" 
									ng-click="vm.billInkDashboardService.launchAddLedgerModel()">
								</i>
						    </span>
						  </div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 form-group">
				<label for="userName">Select Expense</label>
				<div class="dropdown">
					<div class="input-group">
						<input class="form-control dropdown-toggle" 
							ng-change="vm.searchExpense()"
							ng-model="vm.searchExpenseNameText"
							type="text" autocomplete="off" 
							placeholder="search expense..." 
							data-toggle="dropdown" />
					  	<ul class="dropdown-menu col-sm-12"
					  		ng-if="vm.searchExpenseList.length > 0">
					  		<li ng-repeat="ledgerObj in vm.searchExpenseList"
					  			ng-click="vm.selectExpense(ledgerObj)">
					  			<span ng-bind="ledgerObj.ledgerName"></span>
					  		</li>	
					  	</ul>
					  	<div class="input-group-pospend">
					    	<span class="input-group-text" style="padding-left: 5px; padding-right: 5px;">
								<i class="mdi mdi-plus-circle pull-right" title="Add Item" style="cursor: pointer;" 
									ng-click="vm.billInkDashboardService.launchAddLedgerModel()">
								</i>
						    </span>
						  </div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 form-group">
				<label for="userName">Reference Number 1</label> <input
					id="userName" class="form-control" type="text" maxlength="255" placeholder="reference number 1"
					ng-model="vm.expense.referenceNumber1" />
			</div>
			<div class="col-sm-12 form-group">
				<label for="userName">Reference Number 2</label> <input
					id="userName" class="form-control" type="text" maxlength="255" placeholder="reference number 2"
					ng-model="vm.expense.referenceNumber2" />
			</div>
			<div class="col-sm-12 form-group"
				ng-if="vm.manageExpenseDataService.requestFor === 'uploadImage' && vm.manageExpenseDataService.requestType === 'Edit'">
				<label for="imageURL">Expense Photo</label> <input type="file"
					class="form-control-file" accept="image/*" multiple="multiple"
					file-model="vm.profilePhotoFile" /> <br />
				<div class="col-sm-12 row" style="cursor: pointer;">
					<div class="col-sm-2"
						style="padding: 0px; position: relative; margin-right: 10px; margin-top: 10px;"
						ng-repeat="imageURLObj in vm.expense.imageURLList track by $index">
						<i class="mdi mdi-close-circle-outline"
							ng-click="vm.deleteImage($index)"
							style="position: absolute; top: -15px; right: -10px; font-size: 20px;"></i>
						<img style="height: 100px; width: 100%" alt="No Image"
							src="{{imageURLObj.imageURL}}"
							ng-click="vm.openImageModel($index)">
					</div>
				</div>
			</div>
			<div class="col-sm-12 form-group"
				ng-if="vm.manageExpenseDataService.requestFor === 'uploadImage' && vm.manageExpenseDataService.requestType === 'Add'">
				<label for="imageURL">Expense Photo</label> <input type="file"
					class="form-control-file" accept="image/*" multiple="multiple"
					file-model="vm.profilePhotoFile" />
			</div>
			<div class="col-sm-12 form-group"
				ng-if="vm.manageExpenseDataService.requestFor === 'enterManually'">
				<label for="billDate">Expense Invoice Date</label> <input
					id="billDate" class="form-control" type="date"
					ng-model="vm.expense.expenseInvoiceDateObj" />
			</div>
			<div class="col-sm-12 form-group"
				ng-if="vm.manageExpenseDataService.requestFor === 'enterManually'">
				<label for="expenseAmount">Expense Amount</label> <input
					id="expenseAmount" class="form-control" type="number" step="any"
					ng-model="vm.expense.expenseAmount" />
			</div>
			<div class="col-sm-12 form-group">
				<label for="firstName">Description</label>
				<textarea id="firstName" class="form-control" type="text"
					ng-model="vm.expense.description">
				</textarea>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default pull-right btn-md"
					ng-click="vm.closeAddEditExpenseScreen()">Cancel</button>
				<button
					ng-if="vm.manageExpenseDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndSaveExpenseData('Save')">Save</button>
				<button
					ng-if="vm.manageExpenseDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndSaveExpenseData('Publish')">
					Publish</button>
				<button
					ng-if="vm.manageExpenseDataService.requestType === 'Edit' && vm.expense.status.statusName === 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndUpdateExpenseData('Save')">
					Update</button>
				<button
					ng-if="vm.manageExpenseDataService.requestType === 'Edit' && vm.expense.status.statusName !== 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndUpdateExpenseData('Publish')">
					Update</button>
				<button
					ng-if="vm.manageExpenseDataService.requestType === 'Edit' && vm.expense.status.statusName === 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;" ng-click="vm.publishSavedExpense()">
					Publish</button>
				<button
					ng-if="vm.manageExpenseDataService.requestType === 'Edit' && vm.billInkDashboardService.userRole !== 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;" ng-click="vm.markExpenseAsVerified()">
					Verify</button>
			</div>
		</div>
	</div>

	<div id="expense-image-show-model">
		<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Expense#{{vm.expense.expenseId}}
							Photos</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" align="center">
						<img alt="Expense Photo" style="height: 500px; width: 90%"
							src="{{vm.selectedPhotoURL}}" />
					</div>
					<div class="modal-footer">
						<div class="col-sm-12 row">
							<div class="col-sm-5"></div>
							<div class="col-sm-2">
								<button type="button" class="btn" ng-click="vm.fetchImage(-1)"><</button>
								<button type="button" class="btn" ng-click="vm.fetchImage(1)">></button>
							</div>
							<div class="col-sm-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>