
<div class="row col-sm-12 add-edit-drop-down" style="padding-top: 10px;">
	<div class="col-sm-12"
		ng-if="vm.billInkDashboardService.userRole === 'Admin'">
		<input type="image" src="../images/back-button.png"
			ng-click="vm.backToCompanyWiseExpenseData()" height="40px"
			width="40px" />
	</div>
	<div class="col-sm-9 form-group" style="display: inline-flex;">
		<div class="dropdown col-sm-11"
			style="padding-left: 0px; padding-right: 0px;">
			<input class="form-control dropdown-toggle"
				ng-change="vm.searchLedger()" ng-model="vm.searchLedgerNameText"
				type="text" autocomplete="off" placeholder="search ledger..."
				data-toggle="dropdown" />
			<ul class="dropdown-menu col-sm-12"
				ng-if="vm.searchLedgerList.length > 0">
				<li ng-repeat="ledgerObj in vm.searchLedgerList"
					ng-click="vm.selectLedger(ledgerObj)"><span
					ng-bind="ledgerObj.ledgerName"></span></li>
			</ul>
		</div>
		<div class="btn-group">
			<button class="btn btn-primary" ng-click="vm.launchFilter()"
				style="border-right: 2px solid white;">
				<span class="mdi mdi-filter-outline"></span>
			</button>
			<button class="btn btn-primary" ng-click="vm.searchFilterData()">
				Search</button>
		</div>
	</div>
	<div class="col-sm-3" style="text-align: right;">
		<div class="dropdown col-sm-12"
			ng-if="vm.billInkDashboardService.userRole === 'Vendor'">
			<button class="dropdown-toggle btn btn-default" type="button"
				data-toggle="dropdown">Add</button>
			<ul class="dropdown-menu">
				<li ng-click="vm.showAddExpenseDataForm('uploadImage')">Upload
					Image</li>
				<li ng-click="vm.showAddExpenseDataForm('enterManually')">Enter
					Manually</li>
			</ul>
		</div>
	</div>
</div>

<div class="col-sm-12 row" infinite-scroll="vm.loadMoreExpense()"
	infinite-scroll-distance="2">
	<div class="col-lg-4 col-md-4 col-sm-12 card-container"
		ng-repeat="expenseObj in vm.manageExpenseDataService.expenseList">
		<div class="card-border"
			style="cursor: pointer; box-shadow: 1px 2px 2px 1px #1e88e5;">
			<div class="card-header" style="text-align: center;">
				<span ng-bind="::expenseObj.ledgerData.ledgerName"></span> <i
					class="mdi mdi-delete pull-right"
					style="padding-right: 10px; cursor: pointer;"
					ng-if="vm.billInkDashboardService.userRole === 'Vendor'"
					ng-click="vm.showDeletePrompt(expenseObj.expenseId, expenseObj.status.statusName)">
				</i>
				<div class="pull-right" style="padding-right: 10px;">
					#<span ng-bind="::expenseObj.expenseId"></span>
				</div>
			</div>
			<div class="card-body row" style="min-height: 220px;"
				ng-click="vm.editExpenseData(expenseObj.expenseId, expenseObj.imageURL)">
				<div class="col-sm-12" style="text-align: right;">
					<span class="label label-success" ng-if="expenseObj.verified">Verified</span>
					<span class="label label-red" ng-if="!expenseObj.verified">Pending</span>
				</div>
				<div class="col-sm-12 col-lg-6 col-md-6" ng-if="expenseObj.imageURL">
					<div
						style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
						<img class="card-img-top" src="{{expenseObj.imageURL}}"
							style="max-width: 200px;" height="150px" alt="Card image cap">
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 row">
					<div class="col-sm-12">
						<label class="bold-text">Expense</label> <span
							ng-bind="::expenseObj.expenseData.ledgerName"></span>
					</div>
					<div class="col-sm-12"
						ng-if="expenseObj.status.statusName === 'New' || expenseObj.status.statusName === 'UnPublished' ">
						<label class="bold-text">Added By</label> <span
							ng-bind="::expenseObj.addedBy.userName"></span>
					</div>
					<div class="col-sm-12"
						ng-if="expenseObj.status.statusName === 'New' || expenseObj.status.statusName === 'UnPublished' ">
						<label class="bold-text">Added Date</label> <span
							ng-bind="::expenseObj.addedDateTime"></span>
					</div>
					<div class="col-sm-12"
						ng-if="expenseObj.status.statusName === 'Modified'">
						<label class="bold-text">Modify By</label> <span
							ng-bind="::expenseObj.modifiedBy.userName"></span>
					</div>
					<div class="col-sm-12"
						ng-if="expenseObj.status.statusName === 'Modified'">
						<label class="bold-text">Modified Date</label> <span
							ng-bind="::expenseObj.modifiedDateTime"></span>
					</div>
					<div class="col-sm-12"
						ng-if="expenseObj.status.statusName === 'Deleted'">
						<label class="bold-text">Deleted By</label> <span
							ng-bind="::expenseObj.deletedBy.userName"></span>
					</div>
					<div class="col-sm-12"
						ng-if="expenseObj.status.statusName === 'Deleted'">
						<label class="bold-text">Deleted Date</label> <span
							ng-bind="::expenseObj.deletedDateTime"></span>
					</div>
				</div>

				<div class="col-sm-12 col-md-6 col-lg-6 row"
					ng-if="!expenseObj.imageURL || expenseObj.imageURL === ''">
					<div class="col-sm-12">
						<label class="bold-text">Expense Date</label> <span
							ng-bind="::expenseObj.expenseInvoiceDate"></span>
					</div>
					<div class="col-sm-12">
						<label class="bold-text">Expense Amount</label> <span
							ng-bind="::expenseObj.expenseAmount"></span>
					</div>
					<div class="col-sm-12">
						<label class="bold-text">Status</label> <span
							ng-bind="::expenseObj.status.statusName"></span>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="expense-delelete-confirmation-dialog">
	<div class="modal fade confirmation-dialog" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Are you sure to delete?</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						ng-click="vm.closeDeleteModal()">Cancel</button>
					<button type="button" class="btn btn-danger"
						ng-click="vm.deleteExpenseData()">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="expense-filter-dialog">
	<div class="modal fade confirmation-dialog" role="dialog">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Expense Filter</h4>
				</div>
				<div class="modal-body">
					<div class="col-sm-12 col-sm-12 form-group">
						<label for="userName">Select Ledger</label>
						<div class="dropdown">
							<input class="form-control dropdown-toggle"
								ng-change="vm.searchLedger()" ng-model="vm.searchLedgerNameText"
								type="text" autocomplete="off" placeholder="search company..."
								data-toggle="dropdown" />
							<ul class="dropdown-menu col-sm-12"
								ng-if="vm.searchLedgerList.length > 0">
								<li ng-repeat="ledgerObj in vm.searchLedgerList"
									ng-click="vm.selectLedger(ledgerObj)"><span
									ng-bind="ledgerObj.ledgerName"></span></li>
							</ul>
						</div>
					</div>

					<div class="col-sm-12 col-sm-12 form-group">
						<label for="billNumber">Expense Number</label> <input
							id="billNumber" class="form-control" type="number"
							ng-model="vm.manageExpenseDataService.expenseFilterData.expenseId" />
					</div>
					<div class="form-group row col-sm-12">
						<div ng-repeat="status in vm.statusList" class="col-sm-3">
							<input id="status-text-{{status}}" type="checkbox"
								ng-checked="vm.manageExpenseDataService.expenseFilterData.statusList.indexOf(status) > -1"
								ng-click="vm.toggleSelection(status)" /> <label
								for="status-text-{{status}}" ng-bind="status"></label>
						</div>
					</div>

					<div class="form-group row col-sm-12">
						<div class="col-sm-3">
							<input type="radio" id="filter-verified"
								ng-model="vm.manageExpenseDataService.expenseFilterData.isVerified"
								value="1" /> <label for="filter-verified">Verified</label>
						</div>
						<div class="col-sm-3">
							<input type="radio" id="filter-unverified"
								ng-model="vm.manageExpenseDataService.expenseFilterData.isVerified"
								value="0" /> <label for="filter-unverified">Un-Verified</label>
						</div>
						<div class="col-sm-3">
							<input type="radio" id="filter-all"
								ng-model="vm.manageExpenseDataService.expenseFilterData.isVerified"
								value="2" /> <label for="filter-all">All</label>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						ng-click="vm.closeFilterModal()">Cancel</button>
					<button type="button" class="btn btn-default"
						ng-click="vm.resetFilter()">Reset</button>
					<button type="button" class="btn btn-primary"
						ng-click="vm.applyFilter()">OK</button>
				</div>
			</div>
		</div>
	</div>
</div>
