html, body {
	height:100%;
}
.footers{
	padding: 4px 0px;
}
.hrwi{
	width: 104%;
}
.bg{
	background:#f8f9fa !important;
	padding-bottom: 0px;
}
.bggrey{
	background:#f0f0f0 !important;
}
.remove-margin{
	margin:0px;
}
.text-designation {
	font-family: 'Hind';
	font-size: 12px;
	color: #b6b7b8!important;
}
.text-user-name {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 600;
	color: #4a4a4a;
}
.padding-top-12-5px{
    padding-top: 12.5px !important;
}
.padding-20px{
    padding: 25px;
}
.padding-25px{
    padding: 25px;
}
.padding-top-25px{
    padding-top: 25px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.padding-top-10px{
    padding-top: 10px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.padding-onlytop-10px{
    padding-top: 10px;
}
.padding-left-right-reset{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.margin-top-25px{
    margin-top: 25px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.line-height-25px{
	line-height: 25px;
}
.ico-setting{
	position: absolute;
    right: 23px;
    top: 15px;
}
.fa-6 {
    font-size: 20em !important;
}
.fa-5 {
    font-size: 12em !important;
}
.fa-4 {
    font-size: 7em !important;
}
.fa-3 {
    font-size: 4em !important;
}
.fa-2 {
    font-size: 2em !important;
}
.fa-1-3 {
    font-size: 1.3em !important;
}
.fa-1 {
    font-size: 1.3em !important;
}

.fa-2-img {
    height: 2em !important;
}
.fa-3-img {
    height: 3em !important;
}
.search{
	font-family: 'Hind';
	font-size: 15px;
    padding-left: 20px;
    padding-right: 40px;
    background: transparent;
    box-shadow: none;
    border-radius: 30px;
    height: 57px;
    margin-top: 8px;
	border : 1px solid #f0f0f0;
	width: 100%;
}
#SearchForm a {
    position: absolute;
    top: 30px/*25px*/;
    right: 30px;
    color: #d8d8d8;
}
.searchTable {
    font-family: 'Hind';
    font-size: 15px;
    padding-left: 20px;
    padding-right: 40px;
    background: transparent;
    box-shadow: none;
    border-radius: 30px;
    height: 35px;
    /* margin-top: 8px; */
    border: 1px solid #f0f0f0;
    width: 100%;
}

.SearchFormTablea {
    position: absolute !important;
    top: 18px/*25px*/ !important;
    right: 12px !important;
    color: #d8d8d8 !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #d8d8d8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d8d8d8;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d8d8d8;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d8d8d8;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #d8d8d8;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #d8d8d8;
}
/*.logout{
	width:72px;	
	height:72px;
}*/
.logoutbtn{
	width:72px;	
	height:72px;
}
.calnder-notify{
	background-color: #f44236 !important;
    width: 10px;
    height: 10px;
    position: relative;
    top: -27px;
    left: 26px;
}
.floting-notify-noti-bg{
	background-color: #FFF !important;
	width: 16px;
	height: 16px;
	position: relative;
	top: -45px;
	left: -8px;
}
.floting-notify-noti{
	background-color: #f44236 !important;
	width: 10px;
	height: 10px;
	position: relative;
	left: 3px;
	top: 3px;
}
.floting-notify-bg{
	background-color: #FFF !important;
	width: 16px;
	height: 16px;
	position: relative;
	top: -30px;
	left: -15px;
}
.floting-notify{
	background-color: #f44236 !important;
	width: 10px;
	height: 10px;
	position: relative;
	left: 3px;
	top: 3px;
}
.notify{
	background-color:#f44236 !important;
	width:10px;	
	height:10px;
	position: relative;
    top: -31px;
    left: 16px;
}
.padding-3-5{
	padding: 3px 5px;
}
.text-color-white{
	color:#FFF;
}
.text-size-12{	
	font-family: 'Hind';
    font-size: 12px;
}
.Rounded-Rectangle{
	text-align: center;
	padding-top:25px;
	height:70px;
	background-color:#FFF; 
	color: #4a4a4a;   
	border-radius: 50px;
	box-shadow: 0em 0em 1.5em #e4e5e6;
	-webkit-box-shadow: 0em 0em 1.5em #e4e5e6;
	-moz-box-shadow: 0em 0em 1.5em #e4e5e6;
}

.menu-name {
	font-family: 'Montserrat';
	font-size: 15px;
	padding-left:10px;
	text-transform: uppercase;
	cursor:pointer;
	font-weight: 600;
}

.menu-name-withouticon {
	font-family: 'Montserrat';
	font-size: 15px;
	text-transform: uppercase;
	cursor:pointer;
	font-weight: 600;
}
.menubutton:hover {
	background: linear-gradient(to right, #4ccaac, #3f78c8);
	color: #FFF;
	cursor:pointer;
}

.menu-name-text-only {
	font-family: 'Montserrat';
	font-size: 15px;   
	text-transform: uppercase;
	cursor:pointer;	
}

.menu-name-title {
	font-family: 'Montserrat';
	font-size: 15px;  
	padding-top:15px;
	height:50px;
}

.Rounded-circle{
	text-align: center;
	padding-top:15px;
	height:50px;
	width:50px;
	background-color:transparent; 
	border:1px solid #F1F2F3;
	color: #4a4a4a;   
	border-radius: 50px;
}

.Rounded-circle:hover{
	text-align: center;
	padding-top:15px;
	height:50px;
	width:50px;
	background-color:#FFF; 
	color: #4a4a4a;   
	border-radius: 50px;
	box-shadow: 0em 0em 1.5em #e4e5e6;
	-webkit-box-shadow: 0em 0em 1.5em #e4e5e6;
	-moz-box-shadow: 0em 0em 1.5em #e4e5e6;
	cursor:pointer;	
}

.Rounded-circle-selected{
	text-align: center;
	padding-top:15px;
	height:50px;
	width:50px;
	background-color:#FFF; 
	color: #4a4a4a;   
	border-radius: 50px;
	box-shadow: 0em 0em 1.5em #e4e5e6;
	-webkit-box-shadow: 0em 0em 1.5em #e4e5e6;
	-moz-box-shadow: 0em 0em 1.5em #e4e5e6;
	cursor:pointer;	
}

.Rounded-circle-square{
	text-align: center;
	padding-top:15px;
	height:50px;
	/* width: 70px; */
	width: 50px; 
	background-color:transparent;
	border:1px solid #F1F2F3;
	color: #4a4a4a;
	border-radius: 50px;
}

.Rounded-circle-square:hover{
	text-align: center;
	padding-top:15px;
	height:50px;
	/* width: 70px; */
	width: 50px; 
	background-color:#FFF; 
	color: #4a4a4a;   
	border-radius: 50px;
	box-shadow: 0em 0em 1.5em #e4e5e6;
	-webkit-box-shadow: 0em 0em 1.5em #e4e5e6;
	-moz-box-shadow: 0em 0em 1.5em #e4e5e6;
	cursor:pointer;	
}

.Rounded-circle-square-selected{
	text-align: center;
	padding-top:15px;
	height:50px;
	width:70px;
	background-color:#FFF; 
	color: #4a4a4a;   
	border-radius: 50px;
	box-shadow: 0em 0em 1.5em #e4e5e6;
	-webkit-box-shadow: 0em 0em 1.5em #e4e5e6;
	-moz-box-shadow: 0em 0em 1.5em #e4e5e6;
	cursor:pointer;	
}

.StudentDetail hr, 
.IdCardStudentDetail hr{
	margin-left:-15px;
	margin-right:-15px;
}

.stud-info-title,
.Exam-syllabus-title {
	font-family: 'Montserrat';
	font-size: 22px;
	padding-top: 5px;
	height: 40px;
	color:#4a4a4a;
}

.border-corner{
	text-align: center;
	height: 40px;
	width: 40px;
	padding-top: 10px;
	padding-left: 2px;
	margin-left: 5px;
	background-color:transparent;
	border:1px solid #F1F2F3;
	color: #4a4a4a;
	border-radius: 5px;
}
.pos-relative{
	position:relative;
}
.no-of-student{
	font-family: 'Hind';
	font-size: 15px;
	text-align: center;
	height: 40px;
	padding-top: 10px;
	padding-right: 5px;
}

.submenuhr{
	margin-left:-20px;
	margin-right:-20px;
	background-color:#f0f0f0;
	height:32px;
	padding-left: 20px;
	padding-right: 20px;
}

.submenubutton, .newstudentsubmenubutton{
	float:right;
	text-align:center;
	font-family: 'Montserrat';
	/*font-family: 'Hind Semibold';*/
	margin-left: 5px;
	font-size: 14px;
	padding: 7px 14px 4px 14px;
	text-transform: uppercase;
}

.submenubutton:hover, .newstudentsubmenubutton:hover {
	font-family: 'Montserrat';
	/*font-family: 'Hind Semibold';*/
	font-size: 14px;
	border-radius: 50px;
	background: linear-gradient(to right, #4ccaac, #3f78c8);
	color: #FFF;
	cursor:pointer;
}

.submenubutton-selected, .newstudentsubmenubutton-selected {
	font-family: 'Montserrat';
	/*font-family: 'Hind Semibold';*/
	font-size: 14px;
	border-radius: 50px;
	background: linear-gradient(to right, #4ccaac, #3f78c8);
	color: #FFF;
	cursor:pointer;
}

tbody {
	display:block;
	max-height:90vh;
	overflow:auto;
}
thead tr, tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
}
html {
	overflow: scroll;
	overflow-x: hidden;
}

.table > thead > tr > td {
	border:none !important;
	color: #d8d8d8;
}

.table > tbody > tr  {
	background-color: #FFFFFF;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	box-shadow: 3px 3px #F1f2f3;
}

::-webkit-scrollbar {
	width: 0px;  /* remove scrollbar space */
	background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red  #FF0000 */
::-webkit-scrollbar-thumb {
	background: #999;
}


/* The container */
.container-checkmark {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
  /*   font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkmark input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 2px solid #eee;
    border-radius: 4px;
}

.checkmark-withoutleft {
    position: absolute;
    top: -3px;
    height: 15px;
    width: 15px;
    border: 2px solid #eee;
    border-radius: 4px;
    
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkmark input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkmark .checkmark:after {
    left: 3px;
    top: 1px;
    width: 5px;
    height: 7px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.colorblack{
	color: black !important;
}

.width20px{
    width: 20px;
}

.width30px{
    width: 30px;
}

.width78px{
    width: 78px;
}

.StudentDetail .table>tbody>tr>td, 
.FamilyDetail .table>tbody>tr>td, 
.BankDetail .table>tbody>tr>td, 
.StudyDetail .table>tbody>tr>td, 
.HealthDetail .table>tbody>tr>td, 
.PickupDropDetail .table>tbody>tr>td, 
.ScholarshipDetail .table>tbody>tr>td, 
.LeavingcertiDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}

.RegistrationDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:2px;
	padding-bottom:2px;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.ExamResultMenu .table>tbody>tr>td,
.AllCompletedExamss .table>tbody>tr>td{
	border-top: none;
	padding-top:10px !important;
	padding-bottom:10px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}

.ToDoList .table>tbody>tr>td{
	float:left;
	border-top: none;
	padding-top:10px !important;
	padding-bottom:10px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}

.rollno{
	font-family: 'Hind Semibold' !important;
	text-align: center;
}

/*.FamilyDetail .table>tbody>tr>td{
	line-height:1.7;
	font-family: 'Hind';
	font-size: 14px;
	border-top: none;
}*/

.FamilyDetail .table>thead>tr>td{
	line-height:1.7;
}

.width20per{
	width:20%;
}

.width10per{
	width:10%;
}
.width33per{
	width:33.33%;
}
.width50per{
	width:50%;
}
.width25per{
	width:25%;
}
.width16per{
	width:16%;
}
.width40per{
	width:40%;
}
.width6per{
	width:6%;
}
.width5per{
	width:5%;
}
.width30per{
	width:30%;
}
.width12per{
	width:12%;
}
.marginminus{
	margin-left: -8px !important;
	margin-right: -8px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.margin-top-21px{
	margin-top: 21px !important;
}
.pad-left-right{
	padding-left: 20px;
    padding-right: 20px;
}
.width50px{
	width:50px;
}
.width100px{
	width:100px;
}
.width130px{
	width:100px;
}
.width150px{
	width:150px;
}
.width155px{
	width:150px;
}
.width200px{
	width:200px;
}
.width300px{
	width:300px;
}

.flat-btn{
	width: max-content !important;
	background: linear-gradient(to right, #4ccaac, #3f78c8) !important;
	border-radius: 20px !important;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 2px;
	color: white !important;
}

.flat-menu{
	width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    padding: 15px;
}

.drop-down-dg, .drop-down-dg:hover, .drop-down-dg:focus{
	overflow: hidden; 
	position: relative;
	background-color: #FFFFFF !important;
	color: #4a4a4a !important;
	border: none !important;
	width: 80%;
	border-radius: 5px 0px 0px 5px !important;
	text-align: left;
	font-family: 'Hind';
	font-size: 14px;
	text-transform: uppercase;
}
.drop-down-dgf{
	padding-left: 0px;
}
.drop-down-dgf, .drop-down-dgf:hover, .drop-down-dgf:focus{
	overflow: hidden; 
	position: relative;
	background-color: #FFFFFF !important;
	color: #4a4a4a !important;
	border: none !important;
	width: 94%;
	border-radius: 5px 0px 0px 5px !important;
	text-align: left;
	font-family: 'Hind';
	font-size: 14px;
	text-transform: uppercase;
	
}

.drop-down-dgfu, .drop-down-dgfu:hover, .drop-down-dgfu:focus{
	overflow: hidden; 
	position: relative;
	background-color: #FFFFFF !important;
	color: #4a4a4a !important;
	border: none !important;
	width: 93%;
	border-radius: 5px 0px 0px 5px !important;
	text-align: left;
	font-family: 'Hind';
	font-size: 14px;
	text-transform: uppercase;
}

.drop-down-ar, .drop-down-ar:hover ,.drop-down-ar:focus {
	overflow: hidden;
	position: relative;
	background-color: #FFFFFF !important;
	border: none !important;
	border-radius: 0px 5px 5px 0px !important;
	font-family: 'Hind';
	font-size: 14px;
}

.SelectDivision li a,
.SelectInfoCategory li a,
.ListCount{	
	text-transform: uppercase;
}


.SelectInfoCategory li a .container-checkmark {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 14px;
	color:#cbcbcc;
	font-weight:400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.SelectInfoCategory li a .container-checkmark .checkmark:after {
    left: 3px;
    top: 1px;
    width: 5px;
    height: 7px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pop-up-btn, .pop-up-btn:hover, .pop-up-btn:focus{
	overflow: hidden; 
	position: relative;
	background-color: #4ccaac !important;
	color: #ffffff !important;
	border: none !important;
	width: 90%;
	border-radius: 5px 5px 5px 5px !important;
	font-family: 'Hind';
	font-size: 14px;
	text-transform: uppercase;
}

.disa, .disa:hover, .disa:focus{
	background-color: #f0f0f0 !important;
}
.displaynone{
	display: none !important;
}
.display{
	display: block !important;
}


.btn-action, .btn-action:hover, .btn-action:focus{
 background-color:#f0f0f0;
 font-family: 'Hind';
 border:none;
 color:black;
 text-transform:uppercase;
 font-size: 13px;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
}
.btn-cancel-popup, .btn-cancel-popup:hover, .btn-cancel-popup:focus{
	background-color:#f0f0f0;
	font-family: 'Hind';
	border:none;
	color:black;
	text-transform:uppercase;
	font-size: 16px;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
}

.btn-continue-popup, .btn-continue-popup:hover, .btn-continue-popup:focus{
	background-color:#3f78c8;
	font-family: 'Hind';
	border:none;
	color:white;
    margin-left: 5px;
	text-transform:uppercase;
	font-size: 16px;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
}

.btnpopupsubmit{
	background-color:#f0f0f0;
	font-family: 'Hind';
	border:none;
	color:black;
	font-size: 15px;
    padding: 0px 1px 0px 2px;
    border-radius: 4px;
   position:relative;
    transition: .5s ease;
    top: 6px;
    left: 40px;
    
}
.btnpopupsubmitbooktableedit{
	background-color:#f0f0f0;
	font-family: 'Hind';
	border:none;
	color:black;
	font-size: 15px;
    padding: 0px 1px 0px 2px;
    border-radius: 4px;
    position:relative;
    transition: .5s ease;
    top: 6px;
    left: 0px;
    
}
.btnpopupsubmitbooktabledelete{
	background-color:#f0f0f0;
	font-family: 'Hind';
	border:none;
	color:black;
	font-size: 15px;
    padding: 0px 1px 0px 2px;
    border-radius: 4px;
   position:relative;
    transition: .5s ease;
    top: 6px;
    left: 10px;
    
}
.btnpopupsave{
	background-color:#f0f0f0;
	font-family: 'Hind';
	border:none;
	color:black;
	font-size: 15px;
    padding: 7px 14px 7px 14px;
    border-radius: 4px;
   position:relative;
    transition: .5s ease;
    top: 4px;
    left: 40px;
    
}
.margin-popup{	
    margin-right: -25px;
    margin-left: -25px;
}

.PopupCategory li a .container-checkmark {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 14px;
	color:#cbcbcc;
	font-weight:400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.PopupCategory li a .container-checkmark .checkmark:after {
    left: 3px;
    top: 1px;
    width: 5px;
    height: 7px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.select-done, .select-done:hover, .select-done:focus{
	background: #3f78c8 !important;
    color: white !important;
    text-align: center !important;
	font-family: 'Hind';
    font-size: 16px !important;
	padding: 8px 16px;
	cursor:pointer;
}

ul.fancy-list {
	font-family: Hind;
	font-size: 14px;
	line-height: 20px;
	list-style: none;
	text-align: left;
	padding-left: 12px;
	color: #d2d2d3;
}

ul.fancy-list li:before {
	font-family: FontAwesome;
	font-size: 9px;
	content: "\f00c";
	color: #b6b6b7;
	position: relative;
	margin-right: 5px;
	bottom: 2px;
}

.margin-top-5px{
	margin-top: 5px;
}

.text-align-left{
	text-align:left;
}

.student-detail-update{
	color:#c1c1c2;
}

.student-detail-update:focus{
	color:#4a4a4a;
}

.bg-item-form{
	background-color: #FFFFFF;
    margin-top: 5px;
    border-radius: 5px;
	margin-bottom:20px;
	padding-bottom:12.5px;
    box-shadow: 3px 3px #F1f2f3;
}

.form-left-border{	
	border-left:1px solid #F1F2F3;
}
.new-student-label{
	font-family: Hind;
	font-size: 12px;
	color:#d8d8d8;
	font-weight: 100;
	padding-left: 11px;
	text-transform: uppercase;
}
.new-student{
	font-family: Hind;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #F0F0F0;
	border-radius: 0;
	padding: 12px 7px 12px 0px;
}

.new-student:focus{
	border: none;
    border-bottom: 1px solid #4ccaac;
    border-radius: 0;
}


.border-id-corner{
	text-align: center;
	height: 40px;
	width:auto;
	padding-top: 10px;
	padding-left: 20px;
	margin-left: 5px;
	padding-right:20px;
	background-color:transparent;
	border:1px solid #F1F2F3;
	color: #4a4a4a;
	border-radius: 5px;
}

.border-id-corner-img{
	text-align: center;
	height: 40px;
	width: 40px;
	padding-top: 10px;
	padding-left: 5px;
	margin-left: 5px;
	padding-right: 5px;
	background-color:transparent;
	border:1px solid #F1F2F3;
	color: #4a4a4a;
	border-radius: 5px;
}

.bg-color-green{
	background-color:#4ccaac;
	color:#FFF;
}

.bg-color-white{
	background-color:#FFF;
}


.bg-color-blue{
	background-color:#3f78c8;
	color:#FFF;
}

.zoom-menu-height{
	height:0px !important;
}

#PrintQueueModal .modal-dialog {
    width: 35%;
    margin: 30px auto;
}

#PrintQRQueueModal .modal-dialog {
    width: 50%;
    margin: 30px auto;
}

#SelectSubject .modal-dialog {
    width: 50%;
    margin: 30px auto;
}

#PrintQueueModal .bg-item-form,
#PrintQRQueueModal .bg-item-form,
#SelectSubject .bg-item-form{
	padding-top: 12.5px;
	margin-bottom: 3px;
}
.remove-icon{
	text-align: right;
    color: #b6b6b7;
}

.cursor-pointer{
	cursor:pointer;
	text-transform: uppercase;
}

.print-title{
	font-size: 16px;
    font-family: Hind Medium;
    text-align: left;
    padding: 20px;
}

.print-title-remove-icon{
	text-align: right;
    color: #b6b6b7;
    padding: 20px;
}
.print-body{
	background-color:#4677bc !important;
	margin-left:0px !important;
	margin-right:00px !important;
}

.border-top-orange{
	background-color: #f79420;
	height: 5px;
}
.border-top-white{
	background-color: #FFFFFF;
	height: 5px;
}
.border-top-green{
	background-color: #03a64f;
	height: 5px;
}

.line-draw{
	width: 100%;
	height: 300px;
	background: white;
}

.lines,.lines-above-image{
	position:absolute;
	width: 100%;
}

.print-header{
	font-family: "Montserrat";
	font-size: 22px;
}

.display-flex{
	display: flex;
}

.Std-print{
	position: relative;
	top: 50%;
	font-family: "Montserrat";
	font-size: 15px;
	background: #f0f0f0;
	color: #4a4a4a;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	left: 30%;
	width: 75%;
	padding: 15px;
	padding-left: 30px;
	text-align: left;
}

.front{
	font-family: 'Montserrat';
	font-size: 12px;
	color: #191f28;
	text-transform: uppercase;
}

.front .title{
	color: #b7b7b8;
	font-size: 9px;
	padding-top: 6px;
}

.idcard-img{
	background: #4677bc;
	border-bottom-left-radius: 50%;
	margin-bottom: 4px;
	border-bottom-right-radius: 50%;
}

.front .body{
	font-size: 10px;
}

.margin-bottom-6px{
	margin-bottom:6px;
}

.margin-top-12px{
	margin-top:12px;
}

.padding-bottom-15px{
	padding-bottom:15px;
}

.back{
	font-family: 'Montserrat';
	font-size: 16px;
	color: #191f28;
	text-transform:uppercase;
}

.back .title{
	color: #b7b7b8;
	font-size: 9px;
	padding-top: 6px;
	padding-left:10px;
	padding-right:10px;
}

.back .body{
	font-size: 8px;
	padding-top: 2px;
	padding-left:20px;
	padding-right:20px;
}

.back hr{
	margin-left:10px;
	margin-right:10px;
}

.back .instruction{
	text-transform: initial;
	font-size: 6px;
}

.back .instruction ul{
	padding-left: 0px;
	padding-right: 0px;
}

.blue-color{
	background: #4677bc;
}

.back .rightside{
	background: #4677BC;
    height: 40px;
    border-bottom-right-radius: 10%;
}

.back .leftside{
	background: #4677BC;
    height: 40px;
    border-bottom-left-radius: 10%;
}

.back .topside{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background: white;
    padding-top: 5px;
}

.view-all{
	color: #6cd1b8;
	text-transform:uppercase;
	font-weight:bold;
}

.TodaysIssueBooks .table>tbody>tr>td,
.TodaysIssueBooks .table>thead>tr>td, 
.TodaysReturnBooks .table>tbody>tr>td, 
.TodaysReturnBooks .table>thead>tr>td{
	border-top: none;
	vertical-align: middle !important;
	text-align:left;
	font-family: 'Hind';
	font-size: 14px;
}

.IssueBookTitle{
	font-family: 'Montserrat';
	font-size: 16px;
	padding:8px;
	text-align: left;
	font-weight: 600;
}
.IssueBookForm hr,
.RemoveFromStockForm hr{
	margin: 0px;
}
.IssueBookInfo{
	padding:8px;
}
.IssueBookInfo .title,
.IssueBookDetail .title,
.RemoveFromStockDetail .title{
	color: #b7b7b8;
	font-size: 12px;
	padding-top: 6px;
	text-transform:uppercase;
	text-align:left;
}

.IssueBookInfo .body,
.IssueBookDetail .body,
.RemoveFromStockDetail .body{
	color: #6c6c6c;
	font-size: 15px;
	text-align:left;
	padding-top: 2px;
	padding-bottom: 5px;
}

.IssueBookInfo img{
	width:80px;
}

.height-38px{
	height:38px;
}

.IssueBookDetail,
.RemoveFromStockDetail{
	padding-left:12px;
	padding-right:12px;
	padding-top:12px;
	padding-bottom:4px;
	text-align:left;
}

.IssueBookDetail .padtop,
.RemoveFromStockDetail .padtop{	
	padding-top: 6px;
}


.IssueBookForm .titles,
.AddNewStockForm .titles,
.BookInStockForm .titles,
.IssuedBooksForm .titles,
.RemoveFromStockForm .titles{
	font-family: 'Montserrat';
	font-size: 22px;
	padding-top: 5px;
	height: 40px;
	color:#4a4a4a;
	text-align: left;
}

.IssueBookForm .table>tbody>tr>td,
.IssueBookForm .table>thead>tr>td,
.BookInStockForm .table>tbody>tr>td,
.BookInStockForm .table>thead>tr>td,
.IssuedBooksForm .table>tbody>tr>td,
.IssuedBooksForm .table>thead>tr>td,
.RemoveFromStockForm .table>tbody>tr>td,
.RemoveFromStockForm .table>thead>tr>td{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
	border-top: none;
	text-align:left;
}

.margin-left-7px{
	margin-left:7px;
}

.green-color-text{
	color:#4ccaac !important;
}

.onclicklink{	
	font-family: 'Hind Semibold' !important;
	color: #3f78c8;
	cursor:pointer;
}

.EnterMark{
	border: 1px solid #4CCAAC;
	color: #4CCAAC;
}
.EnterMark::placeholder {
    color: #4CCAAC !important;
}

.EnterMark:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #4CCAAC !important;
}

.EnterMark::-ms-input-placeholder { /* Microsoft Edge */
   color: #4CCAAC !important;
}
.margin-20-px{
	margin:20px;
}
.marks-update{
	color:#4a4a4a;
	font-weight:bold;
}
.RedEnterMark{
	border: 1px solid #F50000;
	color: #F50000;
}
.red-color-text{
	color:#F50000 !important;
}
.ScrollStyle
{
    float:left;
    width:2000px;
    overflow-y:scroll;
    height: 100px;
}
.hrform{
    margin-top:-15px;
    margin-bottom:20px;
    border:0;
    border-top:1px solid #eee;
    margin-left: 10px;
    margin-right: 10px;
}
.hrformradio{
    margin-top:-5px;
    margin-bottom:20px;
    border:0;
    border-top:1px solid #eee;
    margin-left: 10px;
    margin-right: 10px;
}
.input-group-btn .dropdownbtnform {
  padding: 14px 0px;
}
.icenter {
    display: block;
    margin-left: auto;
    margin-right: 7px;
    margin-top: 4px;
   
}

@media screen and (max-width: 1680px) {
	#Time{
		font-size: 87.5pt;
	}
	#Date{
		font-size: 28.88pt;
	}
	.padTop50 {
		padding-top: 43.75px;
	}
	.fontTitle{
		font-size:17.5px;
	}
	.form-group {
		margin-bottom: 13.13px;
	}
	.fontLogin {
		font-size: 26.25px;
		padding-top: 35px;
	}
	input[type=text] {
		margin: 17.5px 17.5px;
	}
	.fontFingerID, .fontForgotPasword {
		font-size: 13.13px;
		padding-top: 21.88px;
	}
	.marginTop20 {
		margin-top: 17.5px;
	}
	input[type=submit] {
		height: 52.5px;
	}
}

@media screen and (max-width: 1600px) {
	#Time{
		font-size: 83.33pt;
	}
	#Date{
		font-size: 27.5pt;
	}
	.padTop50 {
		padding-top: 41.67px;
	}
	.fontTitle{
		font-size:16.67px;
	}
	.form-group {
		margin-bottom: 12.5px;
	}
	.fontLogin {
		font-size: 25px;
		padding-top: 33.33px;
	}
	input[type=text] {
		margin: 6px 6px;/*16.67px 16.67px;*/
	}
	.fontFingerID, .fontForgotPasword {
		font-size: 12.5px;
		padding-top: 20.83px;
	}
	.marginTop20 {
		margin-top: 16.67px;
	}
	input[type=submit] {
		height: 50px;
	}
}

@media screen and (max-width: 1440px) {
	#Time{
		font-size: 75pt;
	}
	#Date{
		font-size: 24.75pt;
	}
	.padTop50 {
		padding-top: 37.5px;
	}
	.fontTitle{
		font-size:15px;
	}
	.form-group {
		margin-bottom: 11.25px;
	}
	.fontLogin {
		font-size: 22.5px;
		padding-top: 30x;
	}
	input[type=text] {
		margin: 15px 15px;
	}
	.fontFingerID, .fontForgotPasword {
		font-size: 11.25px;
		padding-top: 18.75px;
	}
	.marginTop20 {
		margin-top: 15px;
	}
	input[type=submit] {
		height: 45px;
	}
}

@media screen and (max-width: 1400px) {
	#Time{
		font-size: 72.92pt;
	}
	#Date{
		font-size: 24.06pt;
	}
	.padTop50 {
		padding-top: 36.46px;
	}
	.fontTitle{
		font-size:14.58px;
	}
	.form-group {
		margin-bottom: 10.94px;
	}
	.fontLogin {
		font-size: 21.88px;
		padding-top: 29.17px;
	}
	input[type=text] {
		margin: 14.58px 14.58px;
	}	
	.fontFingerID, .fontForgotPasword {
		font-size: 10.94px;
		padding-top: 18.23px;
	}
	.marginTop20 {
		margin-top: 14.58px;
	}
	input[type=submit] {
		height: 43.75px;
	}
}

@media screen and (max-width: 1366px) {
	#Time{
		font-size: 71.15pt;
	}
	#Date{
		font-size: 23.48pt;
	}
	.padTop50 {
		padding-top: 35.57px;
	}
	.fontTitle{
		font-size:14.23px;
	}
	.form-group {
		margin-bottom: 10.67px;
	}
	.fontLogin {
		font-size: 21.34px;
		padding-top: 28.46px;
	}
	input[type=text] {
		margin: 14.23px 14.23px;
	}
	.fontFingerID, .fontForgotPasword {
		font-size: 10.67px;
		padding-top: 17.79px;
	}
	.marginTop20 {
		margin-top: 14.23px;
	}
	input[type=submit] {
		height: 42.69px;
	}
}

@media screen and (max-width: 1280px) {
	#Time{
		font-size: 66.67pt;
	}
	#Date{
		font-size: 22pt;
	}
	.padTop50 {
		padding-top: 33.33px;
	}
	.fontTitle{
		font-size:13.33px;
	}
	.form-group {
		margin-bottom: 10px;
	}
	.fontLogin {
		font-size: 20px;
		padding-top: 26.67px;
	}
	input[type=text] {
		margin: 13.33px 13.33px;
	}
	.fontFingerID, .fontForgotPasword {
		font-size: 10px;
		padding-top: 16.67px;
	}
	.marginTop20 {
		margin-top: 13.33px;
	}
	input[type=submit] {
		height: 40px;
	}
}

@media screen and (max-width: 992px) {
	#Time{
		font-size: 51.67pt;
	}
	#Date{
		font-size: 17.05pt;
	}
	.padTop50 {
		padding-top: 25.83px;
	}
	.fontTitle{
		font-size:10.33px;
	}
	.form-group {
		margin-bottom: 7.75px;
	}
	.fontLogin {
		font-size: 15.5px;
		padding-top: 20.67px;
	}
	input[type=text] {
		margin: 10.33px 10.33px;
	}
	.fontFingerID, .fontForgotPasword {
		font-size: 7.75px;
		padding-top: 12.92px;
	}
	.marginTop20 {
		margin-top: 10.33px;
	}
	input[type=submit] {
		height: 31px;
	}
} 

@media screen and (max-width: 768px) {
	#Time{
		font-size: 40pt;
	}
	#Date{
		font-size: 13.2pt;
	}
	.padTop50 {
		padding-top: 20px;
	}
	.fontTitle{
		font-size:8px;
	}
	.form-group {
		margin-bottom: 6px;
	}
	.fontLogin {
		font-size: 12px;
		padding-top: 16px;
	}
	input[type=text] {
		margin: 8px 8px;
	}
	.fontFingerID, .fontForgotPasword {
		font-size: 6px;
		padding-top: 10px;
	}
	.marginTop20 {
		margin-top: 8px;
	}
	input[type=submit] {
		height: 24px;
	}
} 

@media screen and (max-width: 640px) {
	#Time{
		font-size: 33.33pt;
	}
	#Date{
		font-size: 11pt;
	}
	.padTop50 {
		padding-top: 16.67px;
	}
	.fontTitle{
		font-size:6.67px;
	}
	.form-group {
		margin-bottom: 5px;
	}
	.fontLogin {
		font-size: 10px;
		padding-top: 13.33px;
	}
	input[type=text] {
		margin: 6.67px 6.67;
	}
	.fontFingerID, .fontForgotPasword {
		font-size: 5px;
		padding-top: 8.33px;
	}
	.marginTop20 {
		margin-top: 6.67px;
	}
	input[type=submit] {
		height: 20px;
	}
} 

@media screen and (max-width: 1152px){
.search {
    margin: 5.33px 0px !important;
}
}
@media screen and (max-width: 1464px){
.search {
    margin: 5.33px 0px !important;
}
}
.justifycontent
{
  display: flex;
  align-items: center;
  justify-content: center
}

.checkboxteacher{
	padding-left: 120px;
    padding-top: 15px;
}
.containerdrop{
   width: 30em;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 120px;
   
} 
.userinfomasterDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.FamilyinfomasterDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.RegistrationinfomasterDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.BankinfomasterDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.HealthinfomasterDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.IdCardStudentDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.IdCardStudentSentDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.IdCardStudentAprrovalDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.TeacherDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.TeacherRegistrationDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.TeacherBankDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.StudyinfomasterDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.traininginfomasterDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.jobinfomasterDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.checkmark-withoutleft-form {
    position: relative;
    top: 3px;
    height: 15px;
    width: 15px;
    border: 8px solid #eee;
    border-radius: 4px;
}
.checkboxes {
      text-align:center;
}

.checkboxes input{
      margin: 0px 0px 0px 0px;
}

.checkboxes label{
       margin: 0px 20px 0px 3px;
}

.submenubuttonlogout{
	float:right;
	text-align:center;
	font-family: 'Montserrat';
	/*font-family: 'Hind Semibold';*/
	margin-left: 5px;
	font-size: 14px;
	margin-top: -15px;
    padding: 15px;
	text-transform: uppercase;
}

.submenubuttonlogout:hover{
font-family: 'Montserrat';
    padding: 15px;
   /*   font-family: 'Hind Semibold';  */
    font-size: 14px;
    border-radius: 50%;
    background: linear-gradient(to right, #4ccaac, #3f78c8);
    color: #FFF;
    cursor: pointer;
}
.zoom-master {
  position: fixed;
  bottom: 45px;
  right: -100px;
  height: 70px;
}
.zoom-menu-master {
  position: relative;
  right: 122px;
  bottom:215px;
  transform: translateY(-45%);
  height: 340px;
  list-style: none;
  text-align: right;
}

.zoom-menu-master li {
  margin-top: 10px;
}
.submenuhrteacherinfo{
	margin-left:10px;
	margin-right:10px;
	background-color:#f0f0f0;
	height:32px;
	padding-left: 20px;
	padding-right: 20px;
}

.submenubutton:hover, .newstudentsubmenubutton:hover {
	font-family: 'Montserrat';
	/*font-family: 'Hind Semibold';*/
	font-size: 14px;
	border-radius: 50px;
	background: linear-gradient(to right, #4ccaac, #3f78c8);
	color: #FFF;
	cursor:pointer;
}

.submenubutton-selected, .newstudentsubmenubutton-selected {
	font-family: 'Montserrat';
	/*font-family: 'Hind Semibold';*/
	font-size: 14px;
	border-radius: 50px;
	background: linear-gradient(to right, #4ccaac, #3f78c8);
	color: #FFF;
	cursor:pointer;
}

.submenubuttonsetting{
	float:right;
	text-align:center;
	font-family: 'Montserrat';
	/*font-family: 'Hind Semibold';*/
	margin-left: 5px;
	font-size: 14px;
	padding: 8px 8px 8px 8px;
	text-transform: uppercase;
}

.submenubuttonsetting:hover{
	font-family: 'Montserrat';
	/*font-family: 'Hind Semibold';*/
	font-size: 14px;
	border-radius: 50%;
	background: linear-gradient(to right, #4ccaac, #3f78c8);
	color: #FFF;
	cursor:pointer;
}

/* for imagecrop div */
.step2 {
    width:50%;
  /*   border : 1px solid #555555; */
    padding:5px;
}

.datepickerattendance {
  padding: 8px;
  width: 264px;
}

.IdCardprintingDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}

.vr {
   border-right: 1px solid #ccc !important;
   height: 500px
}

.drop-down-date, .drop-down-date:hover, .drop-down-date:focus{
	overflow: hidden; 
	position: relative;
	background-color: #FFFFFF !important;
	color: #4a4a4a !important;
	border: none !important;
	width: 44%;
	border-radius: 5px 0px 0px 5px !important;
	text-align: left;
	font-family: 'Hind';
	font-size: 14px;
	text-transform: uppercase;
}

.drop-down-leave, .drop-down-leave:hover, .drop-down-leave:focus{
	overflow: hidden; 
	position: relative;
	background-color: #FFFFFF !important;
	color: #4a4a4a !important;
	border: none !important;
	width: 84%;
	border-radius: 5px 0px 0px 5px !important;
	text-align: left;
	font-family: 'Hind';
	font-size: 14px;
	text-transform: uppercase;
}

.drop-down-txtarea, .drop-down-txtarea:hover, .drop-down-txtarea:focus{
	overflow: hidden; 
	position: relative;
	background-color: #FFFFFF !important;
	color: #4a4a4a !important;
	border: none !important;
	width: 90%;
	border-radius: 5px 0px 0px 5px !important;
	text-align: left;
	font-family: 'Hind';
	font-size: 14px;
	text-transform: uppercase;
}

.new-leave-label{
	font-family: Hind;
	font-size: 15px;
	color:#d8d8d8;
	padding-left: 85px;
	text-transform: uppercase;
}
.new-availableleave-label{
	font-family: Hind;
	font-size: 15px;
	color:#d8d8d8;
	padding-left: 11px;
	text-transform: uppercase;
}

.leave-left{
	padding-left: 10px;
}

.allaplicationofleavedetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.approvedaplicationofleavedetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}
.rejectedaplicationofleavedetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}

.leavemodal{
    position:fixed;
    top: 200px;
    right: 200px;
    bottom:0;
    left: 200px;
    z-index:1050;
    display:none;
    overflow:hidden;
    -webkit-overflow-scrolling:touch;
    outline:0;
}

.pop-up-leaveapprovedbtn, .pop-up-leaveapprovedbtn:hover, .pop-up-leaveapprovedbtn:focus{
	height: 45px;
	overflow: hidden;
	position: relative;
	background-color: #4ccaac !important;
	color: #ffffff !important;
	border: none !important;
	width: 7%;
	border-radius: 5px 5px 5px 5px !important;
	font-family: 'Hind';
	font-size: 15px;
	text-transform: uppercase;
}
.pop-up-leaverejectbtn, .pop-up-leaverejectbtn:hover, .pop-up-leaverejectbtn:focus{
background-color: red;
	font-family: 'Hind';
	border:none;
	color:white;
	margin-left: 5px;
	text-transform:uppercase;
	font-size: 16px;
	padding: 12px 24px 12px 24px;
	border-radius: 4px;
}

.pop-up-singleleaveapprovedbtn, .pop-up-singleleaveapprovedbtn:hover,
	.pop-up-singleleaveapprovedbtn:focus {
	height: 30px;
	margin-left: 30px;
	overflow: hidden;
	position: relative;
	background-color: #4ccaac !important;
	color: #ffffff !important;
	border: none !important;
	width: 30%;
	border-radius: 5px 5px 5px 5px !important;
	font-family: 'Hind';
	font-size: 12px;
	padding: 8px 24px 8px 24px;
	text-transform: uppercase;
} 
 .pop-up-singleleaverejectbtn, .pop-up-singleleaverejectbtn:hover,
	.pop-up-singleleaverejectbtn:focus {
	height: 30px;
	width: 30%;
	background-color: red;
	font-family: 'Hind';
	border: none;
	color: white;
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 8px 24px 8px 24px;
	border-radius: 4px;
} 


#myModalLeave{
	overflow: auto;
}

.pop-up-leaveApproveStatus {
	height: 30px;
	/*margin-left: 30px;*/
	overflow: hidden;
	position: relative;
	background-color: #4ccaac !important;
	color: #ffffff !important;
	border: none !important;
	width: 50%;
	border-radius: 5px 5px 5px 5px !important;
	font-family: 'Hind';
	font-size: 12px;
	padding: 8px 24px 8px 24px;
	text-transform: uppercase;
	margin-top: 5px;
} 

.pop-up-leaveRejectStatus {
	height: 30px;
	width: 50%;
	background-color: red;
	font-family: 'Hind';
	border: none;
	color: white;
	/*margin-left: 30px;*/
	text-transform: uppercase;
	font-size: 12px;
	padding: 8px 24px 8px 24px;
	border-radius: 4px;
	margin-top: 5px;
} 

.th-leave-status {
  text-align: center;
}

.FeeStudentDetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}

.allaplicationofleavedetail .table>tbody>tr>td{
	border-top: none;
	padding-top:0px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
	font-family: 'Hind';
	font-size: 14px;
}

.dropdown-menu-proxy{
    position:absolute;
    top: 6%;
    left: 77%;
    /* left:0; */
    z-index:1000;
    display:none;
    /* float:left; */
    min-width: 170px;
    padding:5px 0;
    margin:2px 0 0;
    font-size:14px;
    /* text-align:left; */
    list-style:none;
    background-color:#fff;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,.15);
    border-radius:4px;
    -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
    box-shadow:0 6px 12px rgba(0,0,0,.175);
}


.btn-leaveavailable-popup {
    background-color: #3f78c8;
    font-family: 'Hind';
    border: none;
    color: white;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
}


.drop-down-dgs{
	padding-left: 0px;
}
.drop-down-dgs, .drop-down-dgs:hover, .drop-down-dgs:focus{
	overflow: hidden;
	position: relative;
	background-color: #f8f9fa !important;
	color: #4a4a4a !important;
	border: none !important;
	width: 94%;
	border-radius: 5px 0px 0px 5px !important;
	text-align: left;
	font-family: 'Hind';
	font-size: 14px;
	text-transform: uppercase;
}	

.widget-schoollogo {
    min-height: 60px;
    margin-top: 9px;
}
.widget-schoollogo img {
  float: left;
}
.card-box-schoollogo {
  padding: 0px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 40px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  background-color: #ffffff;
}

.imgschoollogo {
	height: 35px;
	margin-left: 17px;
	margin-top: 11px;
	cursor: pointer;
}

.hrschoollist{
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
    margin-left: 0px;
    margin-right: 0px;
}

