.Montserratthin {
	/* Montserrat Thin = 100 */
	font-weight: 100 !important;
	font-family: Montserrat!important;
}
.Montserratlight {
	/* Montserrat Light = 300 */
	font-weight: 300!important;
	font-family: Montserrat!important;
}
.Montserratregular {
	/* Montserrat Regular = 400 */
	font-weight: 400!important;
	font-family: Montserrat!important;
}
.Montserratbold {
	/* Montserrat Bold = 700 */
	font-weight: 700!important;
	font-family: Montserrat!important;
}
.Montserratblack {
	/* Montserrat Black = 900 */
	font-weight: 900;
	font-family: Montserrat!important;
}
.Hindlight {
	/* Hind Light = 300 */
	font-weight: 300!important;
	font-family: Hind!important;
}
.Hindregular {
	/* Hind Black = 400 */
	font-weight: 400;
	font-family: Hind!important;
}
.Hindmedium {
	/* Hind Regular = 500 */
	font-weight: 500!important;
	font-family: Hind!important;
}
.Hindsemibold {
	/* Hind Black = 600 */
	font-weight: 600;
	font-family: Hind!important;
}
.Hindbold {
	/* Hind Bold = 700 */
	font-weight: 700!important;
	font-family: Hind!important;
}

/*font float*/
.float-left{
	float: left !important;
}
.float-right{
	float: right !important;
}

/*font color*/
.color4a4a4a{
	color:#4a4a4a !important;
}

.colord8d8d8place::placeholder {
    color: #d8d8d8 !important;
}

.colord8d8d8place:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #d8d8d8 !important;
}

.colord8d8d8place::-ms-input-placeholder { /* Microsoft Edge */
   color: #d8d8d8 !important;
}

/*font size*/
.font-size-14px{
	font-size:14px !important;
}
.font-size-15px{
	font-size:15px !important;
}
.font-size-16px{
	font-size:16px !important;
}