body{
	background-image: url("../../images/login_bg.jpg");
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
html, body, .login {
	height:100%;
}
html {
	display:table;
	width:100%;
}
body {
	/*display:table-cell;*/ 
	text-align:right; 
	vertical-align:middle;
}
#Time{
	font-family: 'Montserrat';
	color:white;
	font-size: 100pt;
}
#Date{
	font-family: 'Montserrat';
	color:white;
	font-size: 33pt;
}
.splash{
	margin:35pt;
}
.col-sm-100-37-5{
	width: 37.5%;
	float: left;
	position: relative;
	min-height: 1px;
}
.loginbody{
	background-image: url("../../images/Login_layout_bg.jpg");
	display:block;
	margin:0px;
}
.fullheight{
	height:100%;
}
.paddzero{
	padding:0px !important;
}
.grad {
	height:100%;
	background: linear-gradient(#4ccaac, #3f78c8);
}
.torightshadow{
	background: linear-gradient(to right, rgba(0,0,0,0.37), rgba(0,0,0,0.2), rgba(0,0,0,0.08), rgba(255,255,255,0.01));
}
.toleftshadow{
	background: linear-gradient(to left, rgba(0,0,0,0.37), rgba(0,0,0,0.2), rgba(0,0,0,0.08), rgba(255,255,255,0.01));				
}
.col-sm-100-5{
	width: 5%;
	float: left;
	position: relative;
	min-height: 1px;
}
.col-sm-100-90{
	width: 90%;
	float: left;
	position: relative;
	min-height: 1px;				
}
.padTop50{
	padding-top:50px;
}
.fontTitle{
	font-family: 'Montserrat';
	font-size:20px;
	color:white;
	padding-top:3%;
}
.fontLogin{
	font-family: 'Montserrat';
	font-size:30px;
	color:white;
	padding-top:12%;
}

input[type=text]:focus {
	font-family: 'Hind';
	background:transparent;
	width: 70%;
	margin: 20px 20px;
	border: none;
	border-bottom: 1px solid white;	outline: none;			
	text-align: center;
	color:white;
}
input[type=text] ,
input[type=password]{			
	font-family: 'Hind';
	background:transparent;
	width: 70%;
	height: 25px;
	margin: 20px 20px;
	border: none;
	border-bottom: 1px solid rgb(115,177,206);				
	text-align: center;
	color:white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    rgb(167,206,217);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgb(167,206,217);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgb(167,206,217);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgb(167,206,217);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    rgb(167,206,217);
}

::placeholder { /* Most modern browsers support this now. */
   color:    rgb(167,206,217);
}
.fontFingerID{
	font-size:15px;
	color:rgb(167,206,217);
	padding-top:25px;
}
.marginTop20{
	margin-top:20px;
}
input[type=submit]{			
	font-family: 'Montserrat';
	width: 70%;
	height : 60px;
	font-size:15px;
	background : white;
	border-radius:3px;
	color: black;		
	text-align: center;
	border: none;
	outline:none;
}
.fontForgotPasword{
	font-family: 'Hind';
	font-size:15px;
	color:rgb(165,188,224);
	padding-top:25px;
}