<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="addExcelUploadDataController as vm" 
	class="row col-sm-12"
	style="padding-top: 10px; padding-bottom: 10px;"
	ng-init="vm.init()">
	<div class="row col-sm-12">
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-8 col-md-8 col-lg-8">
			<div class="col-sm-12 form-group">
				<label for="imageURL"
				ng-if="vm.manageExcelUploadDataService.requestType === 'Add'">
					Excel Document
				</label>
				<input type="file" class="form-control-file" 
					accept=".xls,.xlsx" 
					ng-if="vm.manageExcelUploadDataService.requestType === 'Add'"
					file-model="vm.profilePhotoFile" />
					
				<label for="imageURL"
				 	class="col-sm-12"
				 	style="padding: 0px;"
					ng-if="vm.manageExcelUploadDataService.requestType === 'Edit'">
					Excel Document Link
				</label>
				<a href="#" 
					ng-if="vm.manageExcelUploadDataService.requestType === 'Edit'"
					ng-click="vm.billInkDashboardService.downloadURI(vm.excelUpload.documentURL)">
					Excel Document
				</a>
				<br />
			</div>
			<div class="col-sm-12 form-group"
				ng-if="vm.manageExcelUploadDataService.requestType === 'Edit' && vm.excelUpload.errorDocumentURL && vm.excelUpload.errorDocumentURL !== ''">
				<label for="imageURL"
				 	class="col-sm-12"
				 	style="padding: 0px;"
					ng-if="vm.manageExcelUploadDataService.requestType === 'Edit'">
					Error Excel Document Link
				</label>
				<a href="#" 
					ng-if="vm.manageExcelUploadDataService.requestType === 'Edit'"
					ng-click="vm.billInkDashboardService.downloadURI(vm.excelUpload.errorDocumentURL)">
					Error Excel
				</a>
				<br />
			</div>
			
			<div class="col-sm-12 form-group">
				<label for="firstName">Description</label>
				<textarea id="firstName" class="form-control" type="text" ng-model="vm.excelUpload.description">
				</textarea>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default pull-right btn-md" ng-click="vm.closeAddEditExcelUploadScreen()">
					Cancel
				</button>
				<button  class="btn btn-primary pull-right btn-md" style="margin-right: 10px;"
					ng-if="vm.manageExcelUploadDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'" 
					ng-click="vm.uploadFileAndSaveExcelUploadData('Save')">
						Save
				</button>
			</div>
		</div>
	</div>

	<div id="excelUpload-image-show-model">
		<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">ExcelUpload#{{vm.excelUpload.excelUploadId}} Photos</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" align="center">
						<img alt="ExcelUpload Photo" style="height: 500px; width: 90%" src="{{vm.selectedPhotoURL}}" />
					</div>
					<div class="modal-footer">
						<div class="col-sm-12 row">
							<div class="col-sm-5"></div>
							<div class="col-sm-2">
						        <button type="button" class="btn" ng-click="vm.fetchImage(-1)"><</button>
						        <button type="button" class="btn" ng-click="vm.fetchImage(1)">></button>
							</div>
							<div class="col-sm-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>