<div class="col-lg-4 col-md-6 col-sm-12 card-container"
	ng-repeat="excelUploadObj in vm.manageExcelUploadDataService.excelUploadList">
	<div class="card-border" style="cursor: pointer;">
		<div style="text-align: center; padding-top: 10px; padding-bottom: 10px;" >
			<a href="#" ng-click="vm.billInkDashboardService.downloadURI(excelUploadObj.documentURL)">
				Excel Document
			</a>
		</div>
		<div class="card-body" style="padding-top: 0px;"
			ng-click="vm.editExcelUploadData(excelUploadObj.documentId)" >
			
			<div class="col-sm-12" style="text-align: right; padding-right: 0px;">
				<span ng-class="{'label-success label': excelUploadObj.documentStatus === 'Complete', 'label-warning label': excelUploadObj.documentStatus === 'Pending', 'label-danger label': excelUploadObj.documentStatus === 'Error'}" 
					ng-bind="excelUploadObj.documentStatus"></span>
			</div>
			<div class="col-sm-12">
				<label class="bold-text">Added By</label> <span
					ng-bind="excelUploadObj.addedBy.userName"></span>
			</div>
			<div class="col-sm-12">
				<label class="bold-text">Added DateTime</label> <span
					ng-bind="excelUploadObj.addedDateTime"></span>
			</div>
			<div class="col-sm-12">
				<label class="bold-text">Description</label> <span
					ng-bind="excelUploadObj.description"></span>
			</div>
		</div>
	</div>
</div>