<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="manageSchemeTwoController as vm"
	style="padding-top: 10px; padding-bottom: 10px;">
	<form>

		<div class="row col-sm-12 col-md-12 col-lg-12">
			<!-- <div class="col-sm-12 col-md-12 col-lg-12 form-group"> -->
				<div class="col-sm-12 col-md-6 form-group">
					Select Company Item <select
						class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
						id="itemId">
						<option ng-repeat="data in vm.manageSchemeTwoDataService.itemList"
							value="{{data.itemId}}">{{data.itemName}}</option>
					</select>
				</div>

				<div class="col-md-9 form-group">
					<label for="totalQtyOfItem">No Of Qty.</label> <input
						id="totalQtyOfItem" maxlength="5"
						class="form-control" type="number"
						ng-model="vm.billInkDashboardService.item.totalQtyOfItem" />
				</div>
				<div class="col-md-9 form-group">
					Select Free Item <select
						class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
						id="freeItemId">
						<option ng-repeat="data in vm.manageSchemeTwoDataService.itemList"
							value="{{data.itemId}}">{{data.itemName}}</option>
					</select>
				</div>
				<div class="col-md-9 form-group">
					<label for="totalQtyOfFreeItem">Free Qty</label> <input
						id="totalQtyOfFreeItem" maxlength="5"
						class="form-control" type="number"
						ng-model="vm.billInkDashboardService.item.totalQtyOfFreeItem" />
				</div>
			<!-- </div> -->
		</div>
		<div class="row col-md-9">
			<div class="col-sm-12">
				<button class="btn btn-default pull-right btn-md"
					ng-click="vm.closeSchemeTwoModel()">Cancel</button>
				<button class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.saveSchemeTwoData()">Save</button>
				
			</div>
		</div>
	</form>
</div>

