<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>
<style>
<!--
.manage-scheme-container .card-border {
	border: 1px solid #1e88e5;
	border-radius: 5px;
	min-height: 300px;
	height: 300px;
	background: white;
}

.manage-scheme-container .card-container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.manage-scheme-container .bold-text {
	font-weight: 700;
}

.add-edit-drop-down .dropdown-toggle::after {
	float: right;
	margin-top: 10px;
}

.add-edit-drop-down .dropdown li:hover {
	background-color: #ddd;
}

.add-edit-drop-down .dropdown li {
	padding: 10px;
	border-bottom: 1px solid #eef5f9;
}

.add-edit-drop-down .dropdown ul {
	cursor: pointer;
}

.dropdown-toggle::after {
	float: right;
	margin-top: 10px;
}

.dropdown li:hover {
	background-color: #ddd;
}

.dropdown li {
	padding: 10px;
	border-bottom: 1px solid #eef5f9;
}

.dropdown ul {
	width: 97%;
	margin-left: 20px;
	cursor: pointer;
	height: 200px;
	overflow: auto;
}

.sell-item-list-container .card-border {
	border: 1px solid #fff;
	border-radius: 5px;
	min-height: 250px;
	background: white;
	height: auto;
}

.sell-item-list-container {
	margin-bottom: 15px;
}

.sell-item-list-container .card-container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #555;
	cursor: default;
	background-color: #EEF5F9;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	text-decoration: none;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	text-decoration: none;
}

.nav>li>a {
	/* position: relative; */
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

tr:nth-child(odd) {
	background-color: #ffffff
}

.mtb {
	margin: 10px 0px;
}

.form-group {
	margin-bottom: 0px !important;
}

.form-control1 {
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

th {
	font-weight: bold !important;
}
-->
</style>


<style>
<!--
.manage-item-container .card-border {
	border: 1px solid #1e88e5;
	border-radius: 5px;
	min-height: 250px;
	background: white;
}

.manage-item-container .card-container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.manage-item-container .bold-text {
	font-weight: 700;
}

/* The side navigation menu */
/* The sidenav */
.sidenav {
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1e88e5;
	overflow-x: hidden;
	padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding: 5px 5px 5px 10px;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav a.active {
	color: black;
	background: white;
	border-radius: 2px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 15px;
	}
}

.manage-item-container .mySidenav input[type=text] {
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.manage-item-container .mySidenav input[type=text]:focus {
	width: 100%;
}

.sidenav-custom-css {
	position: fixed;
	left: auto;
	top: 200px;
	width: 20%;
	height: 70%;
}

.mdi {
	font-size: 20px;
}

.dropdown-toggle::after {
	float: right;
	margin-top: 10px;
}

.dropdown li:hover {
	background-color: #ddd;
}

.dropdown li {
	padding: 10px;
	border-bottom: 1px solid #eef5f9;
}

.dropdown ul {
	width: 97%;
	margin-left: 20px;
	cursor: pointer;
	height: 200px;
	overflow: auto;
}
-->
</style>

<div class="manage-scheme-container col-lg-12 col-md-12 col-sm-12"
	ng-controller="addEditSchemeOneDataController as vm"
	ng-init="vm.init();">

	<div id="add-schemeone-section-model">
		<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Add
							SchemeOne</h5>
						<button type="button" class="close"
							ng-click="vm.closeschemeOneDataSave()" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>


							<div class="col-md-6 col-md-6 form-group">
								<label for="totalInvoiceMrpFrom">Total Invoice Amount
									From</label> <input id="totalInvoiceMrpFrom" maxlength="5"
									class="form-control" type="number"
									ng-model="vm.billInkDashboardService.schemeone.totalInvoiceMrpFrom" />
							</div>

							<div class="col-sm-12 col-md-6 form-group">
								<label for="totalInvoiceMrpTo">Total Invoice Amount To</label> <input
									id="totalInvoiceMrpTo" maxlength="5" type="number"
									class="form-control"
									ng-model="vm.billInkDashboardService.schemeone.totalInvoiceMrpTo" />
							</div>



							<div class="col-md-6 col-md-6 form-group">
								<label for="totalMrpOnDiscount">Total Discount(%)</label> <input
									id="totalMrpOnDiscount" min="0" maxlength="3"
									class="form-control" type="number"
									ng-model="vm.billInkDashboardService.schemeone.totalMrpOnDiscount" />
							</div>

							<div class="modal-footer">
								<div class="col-sm-12">
									<button class="btn btn-default pull-right btn-md"
										ng-click="vm.closeSchemeOneDataSave()">Cancel</button>
									<button class="btn btn-primary pull-right btn-md"
										style="margin-right: 10px;"
										ng-click="vm.uploadFileAndSaveSchemeData()">Save</button>
									<!--ng-if="vm.manageItemDataService.requestType === Add"  -->
									<button class="btn btn-primary pull-right btn-md"
										ng-if="vm.manageItemDataService.requestType === 'Edit'"
										style="margin-right: 10px;"
										ng-click="vm.uploadFileAndUpdateItemData()">Update</button>
								</div>
							</div>



						</form>
					</div>

				</div>
			</div>
		</div>
	</div>


	<ul class="nav nav-tabs">
		<li id="schemeOneId" class="active"><a href="javascript:void(0)"
			ng-click="vm.change(0)">Scheme Master-1</a></li>
		<li id="schemeTwoId"><a href="javascript:void(0)"
			ng-click="vm.change(1)">Scheme Master-2</a></li>
	</ul>
	<div class=row>
		<div class="manage-item-container col-lg-12 col-md-12 col-sm-12"
			ng-if="vm.flag == 0" ng-init="vm.init()" style="padding-left: 0px;">
			<div class="row">
				<div class="col-sm-3" style="padding: 0px; position: sticky;">
					<div class="col-sm-12">
						<div id="mySidenav" class="sidenav sidenav-custom-css"
							infine-scroll-directive load-more-data="vm.loadMoreCompanyList()">
							<div style="padding: 5px 5px 5px 10px;">
								<input type="text" class="form-control" name="search"
									ng-model="vm.searchCompanyNameText" placeholder="Search.."
									ng-change="vm.getCompanyListOnSearch()"> <span
									class="glyphicon glyphicon-search"></span>
							</div>
							<a ng-repeat="companyObj in vm.companyList" href="#"
								ng-click="vm.getCompayItemDetail(companyObj.companyId)"
								ng-class="{'active': vm.selectedCompanyId === companyObj.companyId}">
								<span ng-bind="companyObj.companyName"></span>
							</a>
						</div>
					</div>
				</div>


				<div class="col-sm-9 row" style="padding-top: 10px;">
					<div class="col-sm-12 row">
						<div class="col-sm-11"></div>
						<div class="col-sm-1">
							<button class="btn btn-default"
								ng-click="vm.showSchemeOneModel()">Add</button>
						</div>
					</div>


					<div class="col-sm-12 row" style="padding-top: 10px;">
						<div class="col-lg-4 col-md-6 col-sm-12 card-container"
							ng-if="vm.schemaOneListObj.length > 0 && vm.flag == 0"
							ng-repeat="childSchemeObj in vm.schemaOneListObj">
							<div class="card-border">
								<div class="card-header" style="text-align: center;">
									<span ng-bind="::childSchemeObj.schemeOneId"></span>
									
								</div>
								<div class="card-body"min-height: 250px;" >
									<p class="card-text">
									<div class="col-sm-12" ng-if="locationObj.city !== ''">
										<label class="bold-text">From Amount:</label> <span
											ng-bind="::childSchemeObj.totalInvoiceMrpFrom"></span>
									</div>
									<div class="col-sm-12" ng-if="locationObj.city !== ''">
										<label class="bold-text">To Amount:</label> <span
											ng-bind="::childSchemeObj.totalInvoiceMrpTo"></span>
									</div>
									<div class="col-sm-12" ng-if="locationObj.contactNumber !== ''">
										<label class="bold-text">Total Discount:</label> <span
											ng-bind="::childSchemeObj.totalMrpOnDiscount"></span>
									</div>

									</p>
								</div>
							</div>
						</div>



					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="manage-item-container col-lg-12 col-md-12 col-sm-12"
		ng-if="vm.flag == 1" ng-controller="manageSchemeTwoController as vm"
		ng-init="vm.init()">

		<div class="row">
			<div class="col-sm-3" style="padding: 0px; position: sticky;">
				<div class="col-sm-12">
					<div id="mySidenav" class="sidenav sidenav-custom-css"
						infine-scroll-directive load-more-data="vm.loadMoreCompanyList()">
						<div style="padding: 5px 5px 5px 10px;">
							<input type="text" class="form-control" name="search"
								ng-model="vm.searchCompanyNameText" placeholder="Search.."
								ng-change="vm.getCompanyListOnSearch()"> <span
								class="glyphicon glyphicon-search"></span>
						</div>
						<a ng-repeat="companyObj in vm.companyList" href="#"
							ng-click="vm.getCompayItemDetail(companyObj.companyId)"
							ng-class="{'active': vm.manageSchemeTwoDataService.selectedCompanyId === companyObj.companyId}">
							<span ng-bind="companyObj.companyName"></span>
						</a>
					</div>
				</div>
			</div>


			<div id="add-schemetwo-section-model">
				<div class="modal fade" id="exampleModalCenter" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalCenterTitle"
					aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Add
									SchemeTwo</h5>
								<button type="button" class="close"
									ng-click="vm.closeschemetwoDataSave()" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="col-sm-12 row" style="padding: 0px;"
										ng-include="'../scheme/schemeTwo/view/addEditSchemeTwoData.html'"></div>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-9 row">
				<div class="col-sm-12 row">
					<div class="col-sm-11"></div>
					<div class="col-sm-1">
						<button class="btn btn-default" ng-click="vm.showSchemeTwoModel()">
							Add</button>
					</div>
				</div>

				<div class="col-sm-12 row" style="padding-top: 10px;">
					<div class="col-lg-4 col-md-6 col-sm-12 card-container"
						ng-repeat="childSchemeObj in vm.schemaTwoListObj"">
						<div class="card-border">
							<div class="card-header" style="text-align: center;">
								<span ng-bind="::childSchemeObj.originalItem"></span>
							</div>
							<div class="card-body"min-height: 250px;" >
								<p class="card-text">
								<div class="col-sm-12" ng-if="locationObj.city !== ''">
									<label class="bold-text">Configure Qty:</label> <span
										ng-bind="::childSchemeObj.totalQtyOfItem"></span>
								</div>
								<div class="col-sm-12" ng-if="locationObj.city !== ''">
									<label class="bold-text">Free ProductName:</label> <span
										ng-bind="::childSchemeObj.freeItem"></span>
								</div>
								<div class="col-sm-12" ng-if="locationObj.contactNumber !== ''">
									<label class="bold-text">Free Qty:</label> <span
										ng-bind="::childSchemeObj.totalQtyOfFreeItem"></span>
								</div>

								</p>
							</div>
						</div>
					</div>


				<!-- 	<div id="item-delete-confirmation-dialog">
						<div class="modal fade confirmation-dialog" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Are you sure to delete?</h4>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default"
											ng-click="vm.closeDeleteModal()">Cancel</button>
										<button type="button" class="btn btn-danger"
											ng-click="vm.deleteItemData()">Delete</button>
									</div>
								</div>
							</div>
						</div>
					</div> -->

				</div>
			</div>
		</div>

	</div>