<style>
.manage-sell-container .card-border {
	border: 1px solid #1e88e5;
	border-radius: 5px;
	min-height: 300px;
	height: 300px;
	background: white;
}

.manage-sell-container .card-container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.manage-sell-container .bold-text {
	font-weight: 700;
}

.add-edit-drop-down .dropdown-toggle::after {
	float: right;
	margin-top: 10px;
}

.add-edit-drop-down .dropdown li:hover {
	background-color: #ddd;
}

.add-edit-drop-down .dropdown li {
	padding: 10px;
	border-bottom: 1px solid #eef5f9;
}

.add-edit-drop-down .dropdown ul {
	cursor: pointer;
}

.dropdown-toggle::after {
	float: right;
	margin-top: 10px;
}

.dropdown li:hover {
	background-color: #ddd;
}

.dropdown li {
	padding: 10px;
	border-bottom: 1px solid #eef5f9;
}

.dropdown ul {
	width: 97%;
	margin-left: 20px;
	cursor: pointer;
	height: 200px;
	overflow: auto;
}

.sell-item-list-container .card-border {
	border: 1px solid #fff;
	border-radius: 5px;
	min-height: 250px;
	background: white;
	height: auto;
}

.sell-item-list-container {
	margin-bottom: 15px;
}

.sell-item-list-container .card-container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #555;
	cursor: default;
	background-color: #EEF5F9;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	text-decoration: none;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	text-decoration: none;
}

.nav>li>a {
	/* position: relative; */
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

tr:nth-child(odd) {
	background-color: #ffffff
}

.mtb {
	margin: 10px 0px;
}

.form-group {
	margin-bottom: 0px !important;
}

.form-control1 {
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

th {
	font-weight: bold !important;
}

/* The side navigation menu */
/* The sidenav */
.sidenav {
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1e88e5;
	overflow-x: hidden;
	padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding: 5px 5px 5px 10px;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav a.active {
	color: black;
	background: white;
	border-radius: 2px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 15px;
	}
}

.manage-sell-container .mySidenav input[type=text] {
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.manage-sell-container .mySidenav input[type=text]:focus {
	width: 100%;
}

.sidenav-custom-css {
	position: fixed;
	left: auto;
	top: 145px;
	width: 20%;
	height: 70%;
}
</style>
<div class="manage-sell-container col-lg-12 col-md-12 col-sm-12"
	style="padding-left: 0px;" ng-controller="managePriceController as vm"
	ng-init="vm.init()">


	<!-- <div class="col-md-6 form-group">
	Select Customer Type
	<select class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" id="customerTypeId">
				<option onchange="getTextField()" ng-repeat="data in vm.managePriceService.getCustomerTypeList" value="{{data.customerTypeId}}">{{data.customerType}}</option>
	</select>
	</div> -->



	<div class="row">
		<div class="col-sm-3" style="padding: 0px; position: sticky;">
			<div class="col-sm-12">
				<div id="mySidenav" class="sidenav sidenav-custom-css"
					infine-scroll-directive load-more-data="vm.loadMoreCompanyList()">
					<div style="padding: 5px 5px 5px 10px;">
						<input type="text" class="form-control" name="search"
							ng-model="vm.searchCompanyNameText" placeholder="Search.."
							ng-change="vm.getCompanyListOnSearch()"> <span
							class="glyphicon glyphicon-search"></span>
					</div>
					<a ng-repeat="companyObj in vm.companyList" href="#"
						ng-click="vm.getCompayItemDetail(companyObj.companyId)"
						ng-class="{'active': vm.managePriceService.selectedCompanyId === companyObj.companyId}">
						<span ng-bind="companyObj.companyName"></span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-sm-9">
			<div class="col-sm-12 row">

				Select Customer Type <select
					class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
					id="customerTypeId">
					<option onchange="getTextField()"
						ng-repeat="data in vm.managePriceService.getCustomerTypeList"
						value="{{data.customerTypeId}}">{{data.customerType}}</option>
				</select>

		</div>
		<div class="row col-sm-12 col-lg-12 col-md-12">
			<div class="col-sm-12">

				<button class="btn btn-default"
					ng-click="vm.addPriceMasterDiscount()">Add</button>
			</div>
		</div>
		<div class="row col-sm-12" style="padding-top: 10px;"
			ng-if="vm.managePriceService.customerDiscountListObj.length > 0">
			<table class="table" style="background: white;">
				<thead>
					<tr>
						<th>Price Id</th>
						<th>Customer Type</th>
						<th>Discount</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="customerObj in vm.managePriceService.customerDiscountListObj">
						<td ng-bind="customerObj.customerTypeId"></td>
						<td ng-bind="customerObj.customerType"></td>
						<td ng-bind="customerObj.discount"></td>
						<td> <i
							class="mdi mdi-delete pull-right" ng-click="vm.deleteprice(customerObj.priceId)"
							style="padding-right: 10px; cursor: pointer;"
							
							>
							
						</i></td>
						
					</tr>
				</tbody>
			</table>
		</div>


		<div id="pricemaster-add-confirmation-dialog">
			<div class="modal fade confirmation-dialog" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Add Discount</h4>
						</div>
						<div class="modal-body">
							<input type="text" class="form-control"
								ng-model="vm.priceMaster.discount">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								ng-click="vm.closepricemasterModal()">Cancel</button>
							<button type="button" class="btn btn-success"
								ng-click="vm.savePriceMasterData()">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>