<style>
<!--

.manage-taxCode-container .card-border {
	border: 1px solid #1e88e5;
    border-radius: 5px;
    min-height: 250px;
    background: white;
}

.manage-taxCode-container .card-container {
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.manage-taxCode-container .bold-text {
	font-weight: 700;
}

/* The side navigation menu */
/* The sidenav */
.sidenav {
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1e88e5;
  overflow-x: hidden;
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav a.active {
    color: black;
    background: white;
    border-radius: 2px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}
}

.manage-taxCode-container .mySidenav input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.manage-taxCode-container .mySidenav input[type=text]:focus {
    width: 100%;
}

.sidenav-custom-css {
	position: fixed; 
	left: auto; 
	top: 145px; 
	width: 20%; 
	height: 70%;
}

.mdi {
	font-size: 20px;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.dropdown li:hover {
	background-color: #ddd;
}

.dropdown li {
	padding: 10px; 
	border-bottom: 1px solid #eef5f9;
}

.dropdown ul {
	width: 97%; 
	margin-left: 20px; 
	cursor: pointer; 
	height: 200px; 
	overflow: auto;
}
-->
</style>
<div class="manage-taxCode-container col-lg-12 col-md-12 col-sm-12"
	style="padding-left: 0px;"
	ng-controller="manageTaxCodeController as vm" 
	ng-init="vm.init()">

	<div class="row col-sm-12">
		<div class="col-sm-12" style="padding-top: 10px;">
			<div class="col-sm-12 row">
				<div class="col-sm-11">
				</div>
				<div class="col-sm-1">
					<button class="btn btn-default" ng-click="vm.addTaxCodeData()">
						Add
					</button>
				</div>
			</div>
			<div class="col-sm-12 row" ng-include="vm.manageTaxCodeService.currentViewUrl">
			</div>
		</div>
	</div>
	
	<div id="taxCode-delelete-confirmation-dialog">
      	<div class="modal fade confirmation-dialog" role="dialog">
        	<div class="modal-dialog">
          		<div class="modal-content">
	            	<div class="modal-header">
	              		<h4 class="modal-title">Are you sure to delete?</h4>
	            	</div>
	            	<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="vm.closeDeleteModal()">Cancel</button>
						<button type="button"  class="btn btn-danger" ng-click="vm.deleteTaxCodeData()">Delete</button>
	            	</div>
          		</div>
			</div>
		</div>
	</div>

	<div id="taxCode-add-confirmation-dialog">
      	<div class="modal fade confirmation-dialog" role="dialog">
        	<div class="modal-dialog">
          		<div class="modal-content">
	            	<div class="modal-header">
	              		<h4 class="modal-title">Add TaxCode</h4>
	            	</div>
	            	<div class="modal-body">
	            		<input type="number" step="any" class="form-control" ng-model="vm.taxCodeData.taxCode">
	            	</div>
	            	<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="vm.closeAddModal()">Cancel</button>
						<button type="button"  class="btn btn-success" ng-click="vm.saveTaxCodeData()">Save</button>
	            	</div>
          		</div>
			</div>
		</div>
	</div>
</div>