<style>
.card-container div:focus {
  color: red;
}
</style>

<div class="row col-sm-12" style="padding-top: 10px;" ng-if="vm.manageTaxCodeService.taxCodeList.length > 0">
	<table class="table" style="background: white;">
		<thead>
			<tr>
				<th>TaxCode Id</th>
				<th>TaxCode</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="taxCodeObj in vm.manageTaxCodeService.taxCodeList">
				<td ng-bind="taxCodeObj.taxCodeId"></td>
				<td ng-bind="taxCodeObj.taxCode"></td>
				<td>
					<i class="mdi mdi-delete pull-right" style="padding-right: 5px; cursor: pointer;"
							ng-click="vm.deleteTaxCode(taxCodeObj.taxCodeId)"> </i> 
				</td>
			</tr>
		</tbody>
	</table>
</div>