<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="addOtherDocsDataController as vm" 
	class="row col-sm-12"
	style="padding-top: 10px; padding-bottom: 10px;"
	ng-init="vm.init()">
	<div class="row col-sm-12">
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-8 col-md-8 col-lg-8">
<!-- 			<a href="#" ng-click="vm.billInkDashboardService.downloadURI(vm.otherDocs.imageURL, 'data.png')">Download</a> -->
			<div class="col-sm-12 form-group">
				<label for="imageURL">OtherDocs Photo</label>
				<input type="file" class="form-control-file" 
					multiple="multiple"	file-model="vm.profilePhotoFile" />
				<br />
				<div class="col-sm-12 row" style="cursor: pointer;">
					<div class="col-sm-2" style="padding: 0px; position: relative; margin-right: 10px; margin-top: 10px;"
						ng-repeat="imageURLObj in vm.otherDocs.otherDocImageURLList track by $index">
						<i class="mdi mdi-close-circle-outline" 
							ng-click="vm.deleteImage($index)"
							style="position: absolute; top: -15px; right: -10px; font-size: 20px;"></i>
						<img style="height: 100px; width: 100%"
							alt="No Image" src="{{imageURLObj.imageURL}}"
							ng-click="vm.openImageModel($index)">
					</div>
				</div>
			</div>
			<div class="col-sm-12 form-group" ng-if="vm.manageOtherDocsDataService.requestFor === 'uploadImage' && vm.manageOtherDocsDataService.requestType === 'Add'">
				<label for="imageURL">OtherDocs Photo</label>
				<input type="file" class="form-control-file" 
					multiple="multiple"	file-model="vm.profilePhotoFile" />
			</div>
			<div class="col-sm-12 form-group">
				<label for="firstName">Description</label>
				<textarea id="firstName" class="form-control" type="text" ng-model="vm.otherDocs.description">
				</textarea>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default pull-right btn-md" ng-click="vm.closeAddEditOtherDocsScreen()">
					Cancel
				</button>
				<button  class="btn btn-primary pull-right btn-md" style="margin-right: 10px;"
					ng-if="vm.manageOtherDocsDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'" 
					ng-click="vm.uploadFileAndSaveOtherDocsData('Save')">
						Save
				</button>
				<button ng-if="vm.manageOtherDocsDataService.requestType === 'Edit' && vm.billInkDashboardService.userRole === 'Vendor'" 
					class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" ng-click="vm.uploadFileAndUpdateOtherDocsData('Publish')">
					Update
				</button>
			</div>
		</div>
	</div>

	<div id="otherDocs-image-show-model">
		<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">OtherDocs#{{vm.otherDocs.otherDocsId}} Photos</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" align="center">
						<img alt="OtherDocs Photo" style="height: 500px; width: 90%" src="{{vm.selectedPhotoURL}}" />
					</div>
					<div class="modal-footer">
						<div class="col-sm-12 row">
							<div class="col-sm-5"></div>
							<div class="col-sm-2">
						        <button type="button" class="btn" ng-click="vm.fetchImage(-1)"><</button>
						        <button type="button" class="btn" ng-click="vm.fetchImage(1)">></button>
							</div>
							<div class="col-sm-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>