<div class="col-lg-4 col-md-6 col-sm-12 card-container"
	ng-repeat="otherDocsObj in vm.manageOtherDocsDataService.otherDocsList">
	<i class="mdi mdi-delete pull-right" style="padding-right: 10px; padding-top: 10px; cursor: pointer;" ng-click="vm.showDeletePrompt(otherDocsObj.otherDocsId)"></i>
	<div class="card-border" style="cursor: pointer;">
		<div style="text-align: center; padding-top: 10px; padding-bottom: 10px;"
			ng-click="vm.editOtherDocsData(otherDocsObj.otherDocsId)">
			<img src="{{::otherDocsObj.imageURL}}"
				height="150px" alt="Card image cap">
		</div>
		<div class="card-body"
			ng-click="vm.editOtherDocsData(otherDocsObj.otherDocsId)">
			<h5 class="card-title" style="text-align: center;"
				ng-bind="::otherDocsObj.description"></h5>
		</div>
	</div>
</div>