<style>
.card-container div:focus {
  color: red;
}
</style>

<div class="row col-sm-12" style="padding-top: 10px;" ng-if="vm.manageBrandService.brandList.length > 0">
	<table class="table" style="background: white;">
		<thead>
			<tr>
				<th>Brand Id</th>
				<th>Brand Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="brandObj in vm.manageBrandService.brandList">
				<td ng-bind="brandObj.brandId"></td>
				<td ng-bind="brandObj.brandName"></td>
				<td>
					<i class="mdi mdi-delete pull-right" style="padding-right: 5px; cursor: pointer;"
							ng-click="vm.deleteBrand(brandObj.brandId)"> </i> 
					<i class="mdi mdi-pencil pull-right" style="padding-right: 5px; cursor: pointer;"
									ng-click="vm.editBrand(brandObj.brandId, brandObj.brandName)"> </i>
				</td>
			</tr>
		</tbody>
	</table>
</div>