<style>
.editPurchase>tr>th {
	border: none !important;
}

.freeItemRow>tr>th {
	border: :none !important;
}

.displayblock {
	display: contents !important;
}
</style>
<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="addPurchaseDataController as vm"
	class="row col-sm-12" style="padding-top: 10px; padding-bottom: 10px;"
	ng-init="vm.init()">
	<div class="col-sm-12">
		<input type="image" src="../images/back-button.png"
			ng-click="vm.closeAddEditPurchaseScreen()" height="40px" width="40px" />
	</div>
	<div class="row col-sm-12"
		ng-if="vm.managePurchaseDataService.requestFor === 'uploadImage'">
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-8 col-md-8 col-lg-8">
			<div class="col-sm-12 form-group"
				ng-if="vm.managePurchaseDataService.requestType === 'Edit'">
				<label for="imageURL">Purchase Photo</label> <input type="file"
					accept="image/*" class="form-control-file" multiple="multiple"
					file-model="vm.profilePhotoFile" /> <br />
				<div class="col-sm-12 row" style="cursor: pointer;">
					<div class="col-sm-2"
						style="padding: 0px; position: relative; margin-right: 10px; margin-top: 10px;"
						ng-repeat="imageURLObj in vm.purchase.imageURLList track by $index">
						<i class="mdi mdi-close-circle-outline"
							ng-click="vm.deleteImage($index)"
							style="position: absolute; top: -15px; right: -10px; font-size: 20px;"></i>
						<img style="height: 100px; width: 100%" alt="No Image"
							src="{{imageURLObj.imageURL}}"
							ng-click="vm.openImageModel($index)">
					</div>
				</div>
			</div>
			<div class="col-sm-12 form-group"
				ng-if="vm.managePurchaseDataService.requestType === 'Add'">
				<label for="imageURL">Purchase Photo</label> <input type="file"
					accept="image/*" class="form-control-file" multiple="multiple"
					file-model="vm.profilePhotoFile" />
			</div>
			<div class="col-sm-12 form-group">
				<label for="userName">Select Ledger</label>
				<div class="dropdown">
					<div class="input-group billink-purchase-ledger-container">
						<md-autocomplete md-selected-item="vm.purchase.ledgerData"
							md-search-text="vm.searchLedgerNameText"
							md-selected-item-change="vm.selectLedger(ledgerObj)"
							md-items="ledgerObj in vm.searchLedger()"
							md-item-text="ledgerObj.ledgerName" md-min-length="1"
							placeholder="ledger name..."
							input-aria-labelledby="favoriteStateLabel"
							input-aria-describedby="autocompleteDetailedDescription">
						<md-item-template> <span>{{ledgerObj.ledgerName}}</span>
						</md-item-template> <md-not-found> No ledger matching
						"{{vm.searchLedgerNameText}}" were found. </md-not-found> </md-autocomplete>
						<div class="input-group-pospend">
							<span class="input-group-text"
								style="padding-left: 5px; padding-right: 5px; height: 42px;">
								<i class="mdi mdi-plus-circle pull-right" title="Add Item"
								style="cursor: pointer;"
								ng-click="vm.billInkDashboardService.launchAddLedgerModel()">
							</i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12 form-group">
				<label for="billNumber">Bill Number</label> <input id="billNumber"
					placeholder="bill number" class="form-control" type="text"
					maxlength="255" ng-model="vm.purchase.billNumber" />
			</div>
			<div class="col-sm-12 col-sm-12 form-group">
				<label for="userName">Reference Number 1</label> <input
					id="userName" class="form-control" type="text" maxlength="255"
					placeholder="reference number 1"
					ng-model="vm.purchase.referenceNumber1" />
			</div>
			<div class="col-sm-12 col-sm-12 form-group">
				<label for="userName">Reference Number 2</label> <input
					id="userName" class="form-control" type="text" maxlength="255"
					placeholder="reference number 2"
					ng-model="vm.purchase.referenceNumber2" />
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12 form-group">
				<h5 style="color: red">Please select city first for apply GST
					rules then select Items.</h5>
			</div>
			<div class="col-sm-12 col-sm-12 form-group">
				<label for="firstName">Description</label>
				<textarea id="firstName" class="form-control" type="text"
					ng-model="vm.purchase.description">
				</textarea>
			</div>

			<div class="col-sm-12">
				<button class="btn btn-default pull-right btn-md"
					ng-click="vm.closeAddEditPurchaseScreen()">Cancel</button>
				<button
					ng-if="vm.managePurchaseDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndSavePurchaseData('Save')">Save</button>
				<button
					ng-if="vm.managePurchaseDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndSavePurchaseData('Publish')">
					Publish</button>
				<button
					ng-if="vm.managePurchaseDataService.requestType === 'Edit' && vm.purchase.status.statusName === 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndUpdatePurchaseData('Save')">
					Update</button>
				<button
					ng-if="vm.managePurchaseDataService.requestType === 'Edit' && vm.purchase.status.statusName !== 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndUpdatePurchaseData('Publish')">
					Update</button>
				<button
					ng-if="vm.managePurchaseDataService.requestType === 'Edit' && vm.purchase.status.statusName === 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;" ng-click="vm.publishSavedPurchase()">
					Publish</button>
				<button
					ng-if="vm.managePurchaseDataService.requestType === 'Edit' && vm.billInkDashboardService.userRole !== 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;" ng-click="vm.markPurchaseAsVerified()">
					Verify</button>
			</div>
		</div>
	</div>

	<div class="row col-sm-12"
		ng-if="vm.managePurchaseDataService.requestFor === 'enterManually'">
		<div class="col-sm-12 col-md-12 col-lg-12 form-group">
			<label for="userName">Select Ledger</label>
			<div class="dropdown">
				<div class="input-group">
					<input class="form-control dropdown-toggle"
						ng-change="vm.searchLedger()" ng-model="vm.searchLedgerNameText"
						type="text" autocomplete="off" placeholder="search company..."
						data-toggle="dropdown" />
					<ul class="dropdown-menu col-sm-12"
						ng-if="vm.searchLedgerList.length > 0">
						<li ng-repeat="ledgerObj in vm.searchLedgerList"
							ng-click="vm.selectLedger(ledgerObj)"><span
							ng-bind="ledgerObj.ledgerName"></span></li>
					</ul>
					<div class="input-group-pospend">
						<span class="input-group-text"
							style="padding-left: 5px; padding-right: 5px; height: 42px;">
							<i class="mdi mdi-plus-circle pull-right" title="Add Item"
							style="cursor: pointer;" ng-click="vm.addLedgerData()"> </i>
						</span>
					</div>
					<!-- <div class="col-sm-12" infinite-scroll="vm.loadMoreItem()"
				infinite-scroll-distance="2"
						ng-include="vm.managePurchaseDataService.ledgerContainerURL">
					</div> -->
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="billNumber">Bill Number</label> <input id="billNumber"
				placeholder="bill number" class="form-control" type="text"
				maxlength="255" ng-model="vm.purchase.billNumber" />
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="userName">Reference Number 1</label> <input id="userName"
				class="form-control" type="text" maxlength="255"
				placeholder="reference number 1"
				ng-model="vm.purchase.referenceNumber1" />
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="userName">Reference Number 2</label> <input id="userName"
				class="form-control" type="text" maxlength="255"
				placeholder="reference number 2"
				ng-model="vm.purchase.referenceNumber2" />
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="billDate">Bill Date</label> <input id="billDate"
				class="form-control" type="date" ng-model="vm.purchase.billDate" />
		</div>
		<!-- Added field  Start -->
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="purchaseDate">Purchase Date</label> <input
				id="purchaseDate" class="form-control" type="date"
				ng-model="vm.purchase.purchaseDateObj" />
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="poNumber">P.O Number</label> <input id="poNumber"
				class="form-control" type="text" maxlength="255"
				ng-model="vm.purchase.poNumber" />
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="lrNumber">L.R Number</label> <input id="lrNumber"
				class="form-control" type="text" maxlength="255"
				ng-model="vm.purchase.lrNumber" />
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="e_waybillNumber">E-Way Bill Number</label> <input
				id="e_waybillNumber" class="form-control" type="text"
				maxlength="255" ng-model="vm.purchase.ewayBillNumber" />
		</div>
		<!-- <div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="cityName">City Name</label> <input
				id="cityName" class="form-control" type="text"
				maxlength="255" ng-model="vm.purchase.cityName"  disabled="disabled"/>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="gstNumber">GST Number</label> <input
				id="gstNumber" class="form-control" type="text"
				maxlength="255" ng-model="vm.purchase.gstNumber" disabled="disabled"/>
		</div> -->
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<!-- <label for="cityName">City Name</label> <input id="cityName"
					class="form-control" type="text" maxlength="255"
					ng-model="vm.debitNote.cityName" /> -->
			<label for="cityName">City Name</label> <select class="form-control"
				ng-change="vm.getLedgerCityList();" ng-model="vm.purchase.cityName"
				id="cityId">
				<option ng-repeat="data in vm.ledgerCityList" value="{{data.city}}"
					ng-selected="vm.purchase.cityName == data.city">{{data.city}}</option>
			</select>
			<!-- <select class="form-control"
							ng-click="vm.getLedgerCityList();"
										ng-model="vm.purchase.cityName"
										id="cityId">
											<option ng-repeat="data in vm.ledgerCityList"
												value="{{data.city}}">{{data.city}}</option>
					</select> -->
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="gstNumber">GST Number</label>
			<!-- 	<select class="form-control"
										ng-model="vm.purchase.gstNumber"
										id="gstNumber">
											<option ng-repeat="data in vm.ledgerGstList"
												value="{{data.multipleGst}}" ng-selected="vm.purchase.gstNumber == data.multipleGst">{{data.multipleGst}}</option>
					</select> -->
			<input id="gstnum" class="form-control" type="text"
				ng-bind="vm.purchase.gstNumber" ng-model="vm.purchase.gstNumber"
				readonly="true" />

		</div>

		<!--  End Added field End -->
		<div class="col-sm-12 col-md-12 col-lg-12 form-group">
			<label for="firstName">Description</label>
			<textarea id="firstName" class="form-control" type="text"
				ng-model="vm.purchase.description">
			</textarea>
		</div>
		<div
			class="col-sm-12 col-md-12 col-lg-12 purchase-item-list-container">
			<div class="card-border">
				<div class="card-header" style="text-align: center;">
					<span>Item List</span>
				</div>
				<div class="card-body row">
					<table class="table purchase-item-container">
						<thead>
							<tr>
								<th>No</th>
								<th style="width: 15%;">Item Name/HSN</th>
								<th style="width: 7%">Quantity</th>
								<th style="width: 7%">Rate</th>
								<th style="width: 5%;">Discount</th>
								<th style="width: 5%;">Additional Discount</th>
								<th style="width: 7%">Amount</th>
								<th style="width: 8%;">Tax Rate</th>

								<th style="width: 5%;"></th>
							</tr>
						</thead>
						<tbody ng-repeat="number in vm.numberOfItem track by $index"
							class="editPurchase">
							<tr>
								<td><span ng-bind="($index + 1)"></span></td>
								<td>
									<div class="dropdown">
										<div class="input-group mb-5">
											<input class="form-control dropdown-toggle"
												ng-change="vm.fetchItemList($index)"
												ng-model="vm.purchase.purchaseItemModel[$index].item.itemName"
												type="text" autocomplete="off" placeholder="search item..."
												data-toggle="dropdown" />
											<ul class="dropdown-menu col-sm-12"
												ng-if="vm.itemList[$index].itemData.length > 0">
												<li ng-repeat="itemObj in vm.itemList[$index].itemData"
													ng-click="vm.selectItem($parent.$index, itemObj)"><span
													ng-bind="itemObj.itemName"></span></li>
											</ul>
											<div class="input-group-pospend">
												<span class="input-group-text"
													style="padding-left: 5px; padding-right: 5px;"> <i
													class="mdi mdi-plus-circle pull-right" title="Add Item"
													style="cursor: pointer;"
													ng-click="vm.billInkDashboardService.launchAddItemModel()">
												</i>
												</span>
											</div>
										</div>
										<span
											ng-bind="vm.purchase.purchaseItemModel[$index].item.hsnCode"></span>
									</div>
								</td>
								<!-- ng-change="vm.changeQuantity($index)" -->
								<td><input class="form-control" type="number" step="any"
									ng-model="vm.purchase.purchaseItemModel[$index].quantity"
									ng-change="vm.changeAmount($index)" placeholder="quantity">
								</td>
								<td><input type="number" step="any" class="form-control"
									ng-change="vm.changeAmount($index)"
									ng-model="vm.purchase.purchaseItemModel[$index].purchaseRate"
									placeholder="Purchase Rate"></td>
								<td>
									<div class="input-group">
										<input type="number" step="any"
											ng-change="vm.changeAmount($index)"
											ng-model="vm.purchase.purchaseItemModel[$index].discount"
											class="form-control" placeholder="Discount">
										<div class="input-group-append">
											<div class="btn-group btn-group-toggle" data-toggle="buttons">
												<button class="btn btn-primary"
													ng-click="vm.purchase.purchaseItemModel[$index].measureDiscountInAmount = !vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">
													<span
														ng-if="vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">$</span>
													<span
														ng-if="!vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">%</span>
												</button>
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="input-group">
										<input type="number" step="any"
											ng-model="vm.purchase.purchaseItemModel[$index].additionaldiscount"
											ng-change="vm.changeAmount($index)" class="form-control"
											placeholder="Additional Discount">
										<!-- <div class="input-group-append">
											<div class="btn-group btn-group-toggle" data-toggle="buttons">
												<button class="btn btn-primary"
													ng-click="vm.purchase.purchaseItemModel[$index].addmeasureDiscountInAmount = !vm.purchase.purchaseItemModel[$index].addmeasureDiscountInAmount">
													<span
														ng-if="vm.purchase.purchaseItemModel[$index].addmeasureDiscountInAmount">$</span>
													<span
														ng-if="!vm.purchase.purchaseItemModel[$index].addmeasureDiscountInAmount">%</span>
												</button>
											</div>
										</div> -->
									</div>
								</td>
								<td><span
									ng-bind="vm.purchase.purchaseItemModel[$index].itemAmount"></span></td>
								<td><select class="form-control"
									ng-model="vm.purchase.purchaseItemModel[$index].taxRate" ng-change="vm.changeAmount($index)"
									id="taxCode" ng-options="taxCode for taxCode in vm.taxCodeList">
								</select></td>

								<td><i class="mdi mdi-delete pull-right"
									style="padding-right: 5px; cursor: pointer;"
									ng-if="vm.billInkDashboardService.userRole === 'Vendor'"
									ng-click="vm.deletePurchaseItem($index)"> </i> <i
									class="mdi mdi-plus-circle pull-right"
									style="padding-right: 5px; cursor: pointer;"
									ng-click="vm.AddItem()"> </i></td>
							</tr>

							<!--  ============Free Item row Start ----- -->
							<!-- <tr class="freeItemRow" ng-class="{'displayblock' : vm.purchase.purchaseItemModel[$index].quantity >= vm.totalQtyOfFreeItems}" id="freeItemrowId" style="display: none;">
								<td>Free Item</td>
								<td>
									<div class="dropdown">
										<div class="input-group mb-3">
											<input class="form-control dropdown-toggle" disabled="disabled"
												ng-model="vm.purchase.purchaseItemModel[$index].FreeitemName"
												type="text" autocomplete="off" placeholder="Item Name"/>
										</div>
										 <span 
											ng-model="vm.purchase.purchaseItemModel[$index].freeItemId"></span>
									</div>
								</td>
								<td><input class="form-control" type="number" step="any"
									ng-model="vm.purchase.purchaseItemModel[$index].freequantity"
									placeholder="quantity"></td>
								<td><input type="number" step="any" class="form-control"
									placeholder="0"></td>
								<td>
									<div class="input-group">
										<input type="number" step="any"
											class="form-control" placeholder="0">
										<div class="input-group-append">
											<div class="btn-group btn-group-toggle" data-toggle="buttons">
											</div>
										</div>
									</div>
								</td>
								<td></td>
								<td><select class="form-control"
									ng-model="vm.purchase.purchaseItemModel[$index].taxRatefreeItem"
									id="taxCodefreeItem" ng-options="taxCode for taxCode in vm.taxCodeList">
								</select></td>
								<td>0.00</td>
								<td>0.00</td>
								<td>0.00</td>
								<td>0.00</td>
								<td></td>
							</tr>  -->
							<!--       ========== Free Item End ===========                -->

							<tr>
								<th></th>
								<th style="width: 7%">SGST</th>
								<th style="width: 7%">CGST</th>
								<th style="width: 7%">IGST</th>
								<th style="width: 15%;">Amount(withTax)</th>
								<th style="width: 15%;">Location</th>
								<th style="width: 10%;">Batch No.</th>
								<th style="width: 20%;">MFG. Date</th>
								<!-- <th>SelfLife</th> -->
								<th style="width: 20%;">Exp. Date</th>

								<th></th>
							</tr>
							<tr>
								<td>
									<!-- <span ng-bind="($index + 1)"></span> -->
								</td>
								<td><span
									ng-bind="vm.purchase.purchaseItemModel[$index].sgst"></span></td>
								<td><span
									ng-bind="vm.purchase.purchaseItemModel[$index].cgst"></span></td>
								<td><span
									ng-bind="vm.purchase.purchaseItemModel[$index].igst"></span></td>
								<td><span
									ng-bind="vm.purchase.purchaseItemModel[$index].totalItemAmount"></span></td>

								<td><select class="form-control"
									ng-model="vm.purchase.purchaseItemModel[$index].locationId"
									ng-options="data.locationId as data.locationName for data in vm.locationList"
									id="locationId">
										<!-- <option ng-repeat="data in vm.locationList[$index]"
											value="{{data.locationId}}">{{data.locationName}}</option> -->
								</select>
								<td style="width: 20%;">
									<!-- <div class="dropdown">
										<div class="input-group mb-3">
											<input class="form-control dropdown-toggle"
												ng-change="vm.fetchBatchNoItemList($index)"
												ng-model="vm.purchase.purchaseItemModel[$index].item.batchNo"
												type="text" autocomplete="off"
												placeholder="search BatchNo..." data-toggle="dropdown" />
											<ul class="dropdown-menu col-sm-12"
												ng-if="vm.itemBatchNoList[$index].itemBatchData.length > 0">
												<li ng-repeat="itemBatchObj in vm.itemBatchNoList[$index].itemBatchData"
													ng-click="vm.selectBatchItem($parent.$index, itemBatchObj)"><span
													ng-bind="itemBatchObj.batchno"></span></li>
											</ul>
									</div>
								</div> -->

									<div>
										<div class="input-group mb-3">
											<!-- <input class="form-control dropdown-toggle"
												ng-model="vm.purchase.purchaseItemModel[$index].batchNo"
												type="text" autocomplete="off"
												placeholder="Add BatchNo..." data-toggle="dropdown" /> -->
											<select class="form-control"
												ng-model="vm.purchase.purchaseItemModel[$index].batchId"
												ng-change="vm.getOneBatch($index);"
												ng-options="data.batchId as data.batchNo for data in vm.purchase.purchaseItemModel[$index].batchNoList"
												id="batchId">
											</select> <span
												ng-model="vm.purchase.purchaseItemModel[$index].batchNo"></span>
											<!-- <select class="form-control"
										ng-change="vm.getOneBatch($index);"
										ng-model="vm.purchase.purchaseItemModel[$index].batchNo"
										id=batchNo>
											<option ng-repeat="data in vm.purchase.purchaseItemModel[$index].batchNoList"
												value="{{data.batchId}}">{{data.batchNo}}</option>
									</select> -->


											<!-- 		<select class="form-control" ng-model="vm.purchase.purchaseItemModel[$index].batchNo"
									ng-options="data.batchId as data.batchNo for data in vm.purchase.purchaseItemModel[$index].batchNoList"
									id="batchNo">
										<option ng-repeat="data in vm.purchase.purchaseItemModel[index].batchNoList"
											value="{{data.batchId}}">{{data.locationName}}</option>
								</select> -->

											<!-- <ul class="dropdown-menu col-sm-12"
												ng-if="vm.purchase.purchaseItemModel[index].batchNoList.length > 0">
												<li ng-repeat="batchObj in vm.purchase.purchaseItemModel[index].batchNoList"><span
													ng-bind="batchObj.batchNo"></span></li>
											</ul> -->
											<span
												ng-model="vm.purchase.purchaseItemModel[$index].batchId"></span>
											<div class="input-group-pospend">
												<span class="input-group-text"
													style="padding-left: 5px; padding-right: 5px;"> <i
													class="mdi mdi-plus-circle pull-right" title="Add Batch"
													style="cursor: pointer;"
													ng-click="vm.batchAddItemModel($index)"> </i>
												</span>
											</div>
										</div>
									</div>
								</td>
								<td style="width: 20%;"><input id="mfgdate"
									class="form-control" type="date" disabled="disabled"
									maxlength="255"
									ng-model="vm.purchase.purchaseItemModel[$index].item.mfgDate" /></td>
								<!-- <td><input id="lrNumber" class="form-control" type="text"
									maxlength="255" ng-model="vm.purchase.lrNumber" /></td> -->
								<td style="width: 20%;"><input id="expdate"
									class="form-control" type="date" disabled="disabled"
									maxlength="255"
									ng-model="vm.purchase.purchaseItemModel[$index].item.expDate" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-border">
				<div class="card-header" style="text-align: center;">
					<span>Charge List</span>
				</div>
				<div class="card-body row">
					<table class="table purchase-item-container">
						<thead>
							<tr>
								<th>No</th>
								<th style="width: 20%;">Charge Desc./SAC</th>
								<th style="width: 7%">Quantity</th>
								<th style="width: 8%">Rate</th>
								<th style="width: 10%;">Discount</th>
								<th style="width: 7%">Amount</th>
								<th style="width: 8%;">Tax Rate</th>
								<th style="width: 7%">SGST</th>
								<th style="width: 7%">CGST</th>
								<th style="width: 7%">IGST</th>
								<th style="width: 10%;">Amount</th>
								<th style="width: 5%;"></th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="number in vm.numberOfPurchaseCharge track by $index">
								<td><span ng-bind="($index + 1)"></span></td>
								<td>
									<div class="dropdown">
										<div class="input-group mb-3">
											<input class="form-control dropdown-toggle"
												ng-change="vm.fetchChargeLedgerList($index)"
												ng-model="vm.purchase.purchaseChargeList[$index].ledger.ledgerName"
												type="text" placeholder="add charge..."
												data-toggle="dropdown" />
											<ul class="dropdown-menu col-sm-12"
												ng-if="vm.ledgerList[$index].ledgerData.length > 0">
												<li
													ng-repeat="ledgerObj in vm.ledgerList[$index].ledgerData"
													ng-click="vm.selectChargeLedger($parent.$index, ledgerObj)">
													<span ng-bind="ledgerObj.ledgerName"></span>
												</li>
											</ul>
											<div class="input-group-pospend">
												<span class="input-group-text"
													style="padding-left: 5px; padding-right: 5px;"> <i
													class="mdi mdi-plus-circle pull-right" title="Add Ledger"
													style="cursor: pointer;" ng-click="vm.addLedgerData()">
												</i>
												</span>
											</div>
										</div>
										<span
											ng-bind="vm.purchase.purchaseChargeList[$index].ledger.sacCode"></span>
									</div>
								</td>
								<td><input type="number" step="any"
									ng-model="vm.purchase.purchaseChargeList[$index].quantity"
									class="form-control" disabled="disabled"></td>
								<td><input type="number" step="any"
									ng-model="vm.purchase.purchaseChargeList[$index].purchaseCharge"
									class="form-control" ng-change="vm.changeAmount($index)"
									placeholder="charge..."></td>
								<td>
									<div class="input-group">
										<input type="number" step="any"
											ng-model="vm.purchase.purchaseChargeList[$index].discount"
											ng-change="vm.changeAmount()" class="form-control"
											placeholder="Discount">
										<div class="input-group-append">
											<div class="btn-group btn-group-toggle" data-toggle="buttons">
												<button class="btn btn-primary"
													ng-click="vm.purchase.purchaseChargeList[$index].measureDiscountInAmount = !vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">
													<span
														ng-if="vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">$</span>
													<span
														ng-if="!vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">%</span>
												</button>
											</div>
										</div>
									</div>
								</td>
								<td><span ng-bind="vm.getChargeLevelAmount($index)"></span>
								</td>
								<td><select class="form-control"
									ng-model="vm.purchase.purchaseChargeList[$index].taxRate"
									id="taxCode" ng-options="taxCode for taxCode in vm.taxCodeList">
								</select></td>
								<td><span ng-bind="vm.getChargeSGSTAmount($index)"></span>
								</td>
								<td><span ng-bind="vm.getChargeCGSTAmount($index)"></span>
								</td>
								<td><span ng-bind="vm.getChargeIGSTAmount($index)"></span>
								</td>
								<td><span ng-bind="vm.getChargeAmount($index)"></span></td>
								<td><i class="mdi mdi-delete pull-right"
									style="padding-right: 5px; cursor: pointer;"
									ng-if="vm.billInkDashboardService.userRole === 'Vendor'"
									ng-click="vm.deletePurchaseCharge($index)"> </i> <i
									class="mdi mdi-plus-circle pull-right"
									style="padding-right: 5px; cursor: pointer;"
									ng-click="vm.addPurchaseCharge()"> </i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-border">
				<div class="card-body row">
					<table class="table purchase-item-container">
						<thead>
							<tr>
								<th></th>
								<th style="width: 20%;"></th>
								<th style="width: 8%"></th>
								<th></th>
								<th style="width: 10%;"></th>
								<th></th>
								<th style="width: 8%;"></th>
								<th></th>
								<th></th>
								<th></th>
								<th style="width: 10%;"></th>
								<th style="width: 5%;"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="10" style="text-align: right;">Gross Total</td>
								<td><span ng-bind="vm.purchase.grossTotalAmount"> </span></td>
								<td></td>
							</tr>
							<tr>
								<td colspan="10" style="text-align: right;">Discount</td>
								<td>
									<div class="input-group">
										<input type="number" step="any"
											ng-change="vm.changeAmount(-1)"
											ng-model="vm.purchase.discount" class="form-control"
											placeholder="Discount">
										<div class="input-group-append">
											<div class="btn-group btn-group-toggle" data-toggle="buttons">
												<button class="btn btn-primary"
													ng-click="vm.purchase.purchaseMeasureDiscountInAmount = !vm.purchase.purchaseMeasureDiscountInAmount">
													<span ng-if="vm.purchase.purchaseMeasureDiscountInAmount">$</span>
													<span ng-if="!vm.purchase.purchaseMeasureDiscountInAmount">%</span>
												</button>
											</div>
										</div>
									</div>
								</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="10" style="text-align: right;">Total</td>
								<td><span ng-bind="vm.purchase.totalBillAmount"> </span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<button class="btn btn-default pull-right btn-md"
				ng-click="vm.closeAddEditPurchaseScreen()">Cancel</button>
			<button
				ng-if="vm.managePurchaseDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'"
				class="btn btn-primary pull-right btn-md"
				style="margin-right: 10px;"
				ng-click="vm.uploadFileAndSavePurchaseData('Save')">Save</button>
			<button
				ng-if="vm.managePurchaseDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'"
				class="btn btn-primary pull-right btn-md"
				style="margin-right: 10px;"
				ng-click="vm.uploadFileAndSavePurchaseData('Publish')">
				Publish</button>
			<button
				ng-if="vm.managePurchaseDataService.requestType === 'Edit' && vm.purchase.status.statusName === 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
				class="btn btn-primary pull-right btn-md"
				style="margin-right: 10px;"
				ng-click="vm.uploadFileAndUpdatePurchaseData('Save')">
				Update</button>
			<button
				ng-if="vm.managePurchaseDataService.requestType === 'Edit' && vm.purchase.status.statusName !== 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
				class="btn btn-primary pull-right btn-md"
				style="margin-right: 10px;"
				ng-click="vm.uploadFileAndUpdatePurchaseData('Publish')">
				Update</button>
			<button
				ng-if="vm.managePurchaseDataService.requestType === 'Edit' && vm.purchase.status.statusName !== 'UnPublished'  && vm.billInkDashboardService.userRole === 'Vendor'"
				class="btn btn-primary pull-right btn-md"
				style="margin-right: 10px;"
				ng-click="vm.uploadFileAndSavePurchaseData('Publish')">
				Publish</button>
			<button
				ng-if="vm.managePurchaseDataService.requestType === 'Edit' && vm.purchase.status.statusName === 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
				class="btn btn-primary pull-right btn-md"
				style="margin-right: 10px;" ng-click="vm.publishSavedPurchase()">
				Publish</button>
			<button
				ng-if="vm.managePurchaseDataService.requestType === 'Edit' && vm.billInkDashboardService.userRole !== 'Vendor'"
				class="btn btn-primary pull-right btn-md"
				style="margin-right: 10px;" ng-click="vm.markPurchaseAsVerified()">
				Verify</button>
			<button class="btn btn-success pull-right btn-md"
				style="margin-right: 10px;" ng-click="vm.printPurchaseDiv();">
				Print</button>
			<!--ng-if="vm.managePurchaseDataService.requestType === 'Edit'"  -->
			<!-- <button class="btn btn-success pull-right btn-md"
				style="margin-right: 10px;" ng-click="vm.withOutFreeQtyPrintDiv();">
				WithOutFreeQty</button>	 -->
			<button class="btn btn-success pull-right btn-md"
				style="margin-right: 10px;" ng-click="vm.withOutBatchPrintDiv();">
				WithOut Batch Details</button>
			<!-- 	ng-if="vm.managePurchaseDataService.requestType === 'Edit'" -->

			<button class="btn btn-success pull-right btn-md"
				style="margin-right: 10px;" ng-click="vm.allFieldsPrintDiv();">
				All Fields Details</button>
			<!-- ng-if="vm.managePurchaseDataService.requestType === 'Edit'" -->

		</div>
	</div>

	<div id="purchase-image-show-model">
		<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Purchase#{{vm.purchase.purchaseId}}
							Photos</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" align="center">
						<img alt="Purchase Photo" style="height: 500px; width: 90%"
							src="{{vm.selectedPhotoURL}}" />
					</div>
					<div class="modal-footer">
						<div class="col-sm-12 row">
							<div class="col-sm-5"></div>
							<div class="col-sm-2">
								<button type="button" class="btn" ng-click="vm.fetchImage(-1)"><</button>
								<button type="button" class="btn" ng-click="vm.fetchImage(1)">></button>
							</div>
							<div class="col-sm-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="printPurchaseDiv" class="d-none">
		<div style="border: 1px solid black; font-size: 11px;">
			<div style="width: 100%; display: inline-flex; margin-bottom: 10px;">
				<div style="width: 100px; height: 100px; margin: 5px;">
					<img
						style='max-width: 100px; max-height: 100px; margin-left: auto; margin-right: auto; display: block;'
						src="{{vm.billInkDashboardService.currentCompanyObj.profilePhotoURL}}">
				</div>
				<div style="text-align: center; width: 85%">
					<div
						ng-bind="vm.billInkDashboardService.currentCompanyObj.companyName"
						style="font-size: 20px; font-weight: 700;"></div>
					<div style="font-size: 12px;">INVOICE</div>
					<div style="font-size: 12px;">ORIGINAL FOR RECIPIENT</div>
				</div>
			</div>
			<table border="1px" style="border-collapse: collapse; width: 100%">
				<thead>
					<tr>
						<th width="35%"><b style="text-align: center">Customer</b></th>
						<th width="30%"><b
							style="text-align: center; padding-top: 25px;">Invoice</b></th>
						<th width="35%"><b style="text-align: center">Billing
								Office</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="35%"><span>Bill-to/Sell-to Customer</span> <br />
							<span>Name:&nbsp;{{vm.purchase.ledgerData.ledgerName}}</span> <br />
							<span>Address:&nbsp;{{vm.purchase.ledgerData.address}}</span> <br />
							<span>City:&nbsp;{{vm.purchase.ledgerData.cityName}}</span> <br />
							<span>PAN No:&nbsp;{{vm.purchase.ledgerData.panNumber}}</span> <br />
							<span>GSTN No:&nbsp;{{vm.purchase.ledgerData.gstNumber}}</span> <br />
							<span>Place of
								supply:&nbsp;{{vm.purchase.ledgerData.state.stateName}}</span></td>
						<td width="30%" style="vertical-align: baseline;"><span>Invoice
								No:&nbsp;{{vm.purchase.billNumber}}</span> <br /> <span>Invoice
								Date:&nbsp;{{vm.purchase.billDateObj}}</span> <br /> <span>Reference:&nbsp;{{vm.purchase.referenceNumber1}}</span><br />
							<span>Other
								Reference:&nbsp;{{vm.purchase.referenceNumber2}}</span></td>
						<td width="35%" style='vertical-align: baseline;'><span>{{vm.companyDataForPurchase.companyName}}</span><br />
							<span>{{vm.companyDataForPurchase.officeAddress}}</span> <br />
							<span>City(ROP):&nbsp;{{vm.companyDataForPurchase.cityName}}</span>
							<br />
						<span>City(AOP):&nbsp;{{vm.purchase.cityName}}</span> <br /> <span>{{vm.companyDataForPurchase.state.stateName}}</span><br />
							<span>GSTN:&nbsp;{{vm.companyDataForPurchase.gstNumber}}</span><br />
							<span>Invoice
								By:&nbsp;{{vm.billInkDashboardService.user.firstName + " "
								+vm.billInkDashboardService.user.lastName}}</span></td>
					</tr>
				</tbody>
			</table>
			<br />
			<table border="1px" style="border-collapse: collapse;">
				<tbody>
					<tr ng-if="vm.purchase.purchaseItemModel[0].item.itemName">
						<th colspan="11"><b style="text-align: center">Item List</b>
						</th>
					</tr>
					<tr style="font-weight: bold;"
						ng-if="vm.purchase.purchaseItemModel[0].item.itemName">
						<th>No</th>
						<th style="width: 20%;">Item Name/HSN</th>
						<th style="width: 8%">Qty</th>
						<th>Purchase Rate</th>
						<th style="width: 10%;">Disc.</th>
						<th>Amount</th>
						<th style="width: 10%;">Tax Rate</th>
						<th>SGST</th>
						<th>CGST</th>
						<th>IGST</th>
						<th style="width: 10%;">Amount</th>
					</tr>
					<tr ng-repeat="number in vm.numberOfItem track by $index"
						ng-if="vm.purchase.purchaseItemModel[0].item.itemName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="text-align: left;">
							<div class="dropdown">
								<span
									ng-bind="vm.purchase.purchaseItemModel[$index].item.itemName"></span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].purchaseRate"></span></td>
						<td align='right'>
							<div class="input-group">
								<span ng-bind="vm.purchase.purchaseItemModel[$index].discount"></span>
								<span
									ng-if="vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">$</span>
								<span
									ng-if="!vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">%</span>
							</div>
						</td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].itemAmount"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].taxRate"></span>%</td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].sgst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].cgst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].igst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].totalItemAmount"></span></td>
					</tr>
					<tr ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<th colspan="11"><b style="text-align: center">Charge
								List</b></th>
					</tr>
					<tr style="font-weight: 600;"
						ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<th>No</th>
						<th style="width: 20%;">Charge Description</th>
						<th style="width: 8%">Qty</th>
						<th>Rate</th>
						<th style="width: 10%;">Disc.</th>
						<th>Amount</th>
						<th style="width: 10%;">Tax Rate</th>
						<th>SGST</th>
						<th>CGST</th>
						<th>IGST</th>
						<th style="width: 10%;">Amount</th>
					</tr>
					<tr ng-repeat="number in vm.numberOfPurchaseCharge track by $index"
						ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="text-align: left;"><span
							ng-bind="vm.purchase.purchaseChargeList[$index].ledger.ledgerName"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].purchaseCharge"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].discount"></span>
							<span
							ng-if="vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">$</span>
							<span
							ng-if="!vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">%</span>
						</td>
						<td align="right"><span
							ng-bind="vm.getChargeLevelAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseChargeList[$index].taxRate"></span>%</td>
						<td align="right"><span
							ng-bind="vm.getChargeSGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getChargeCGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getChargeIGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getChargeAmount($index)"></span></td>
					</tr>
					<tr>
						<td align='right' colspan="5"><span
							style="text-align: center">Gross Total</span></td>
						<td align="right"><span
							ng-bind="vm.totalItemLevelAmountWithoutTax"> </span></td>
						<td></td>
						<td align="right" ng-bind="vm.totalSGST"></td>
						<td align="right" ng-bind="vm.totalCGST"></td>
						<td align="right" ng-bind="vm.totalIGST"></td>
						<td align="right"><span
							ng-bind="vm.purchase.grossTotalAmount"> </span></td>
					</tr>
					<tr>
						<td colspan="10" align="right">Disc.</td>
						<td align="right"><span ng-bind="vm.purchase.discount"></span>
							<span ng-if="vm.purchase.measureDiscountInAmount">$</span> <span
							ng-if="!vm.purchase.measureDiscountInAmount">%</span></td>
					</tr>
					<tr>
						<td colspan="10" align="right">Total</td>
						<td align="right"><span ng-bind="vm.purchase.totalBillAmount"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- 			For amount in words div  -->
			<div style='border-bottom: 1px solid black;'>
				<span style='margin-left: 10px;'>Total in words :
					{{vm.convertToWordsString(vm.purchase.totalBillAmount)}} </span>
			</div>
			<br />
			<table border="1px" style="border-collapse: collapse;" width="100%"
				ng-if="(vm.totalIGST && vm.totalIGST >0) || (vm.totalSGST && vm.totalSGST >0) || (vm.totalCGST && vm.totalCGST >0)">
				<tr>
					<th>HSN/SAC Wise Tax Summary</th>
					<th>Tax Rate</th>
					<th>IGST</th>
					<th>SGST</th>
					<th>CGST</th>
				</tr>
				<tr ng-repeat="hsn in vm.hsnList">
					<td ng-bind="hsn.hsnCode"></td>
					<td align="right"><span ng-bind="hsn.taxRate"></span>%</td>
					<td align="right" ng-bind="hsn.igst"></td>
					<td align="right" ng-bind="hsn.sgst"></td>
					<td align="right" ng-bind="hsn.cgst"></td>
				</tr>
				<tr>
					<td colspan="2">Total</td>
					<td align="right" ng-bind="vm.totalIGST"></td>
					<td align="right" ng-bind="vm.totalSGST"></td>
					<td align="right" ng-bind="vm.totalCGST"></td>
				</tr>
			</table>
			<div style="width: 100%">
				<table style="border-collapse: collapse;" width="100%">
					<tr style='height: 70px;'>
						<td width='65%'
							style="height: 40px; text-align: center; border-right: 1px solid; border-bottom: 1px solid;"></td>
						<td width='10%' style="height: 40px;"></td>
						<td width='25%'
							style="height: 40px; text-align: center; vertical-align: bottom; border-left: 1px solid; border-bottom: 1px solid;">Authorized
							Signature</td>
					</tr>
				</table>
			</div>
			<div style="border-bottom: 1px solid black; font-size: 12px;">
				<p style="margin: 4px 0px 0px 2px;">* This is Computerized
					Invoice and requires no Signature</p>
				<p style="margin: 4px 0px 4px 2px;">* All Disputes subject to
					{{vm.companyDataForSell.cityName}} Jurisdiction Only.</p>
			</div>
			<div style="font-size: 12px;">
				<p style="margin: 4px 0px 4px 2px;">Declaration: We declare that
					this invoice shows the actual price of the goods described and that
					all particular are true and correct</p>
			</div>
		</div>
	</div>

	<!-- WithOutFreeQty PrintDiv Start  -->
	<div id="printWithOutFeeQtySellDiv" class="d-none">
		<div style="border: 1px solid black; font-size: 11px;">
			<div style="width: 100%; display: inline-flex; margin-bottom: 10px;">
				<table style="width: 70%">
					<thead>
						<tr>
							<th width="30%"><b style="text-align: left; font-size: 9px;">CompanyName
									& Address</b></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Name:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyName}}</span>
								<br /> <span style="font-size: 9px;">Address:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.officeAddress}}</span>
								<br /> <span style="font-size: 9px;">City(ROP):&nbsp;{{vm.companyDataForPurchase.cityName}}</span>
								<br /> <span style="font-size: 9px;">City(AOP):&nbsp;{{vm.purchase.cityName}}</span>
								<br /> <span style="font-size: 9px;">State
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.state.stateName}}</span><br />
								<span style="font-size: 9px;">PAN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.panNumber}}</span>
								<br /> <span style="font-size: 9px;">GSTN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.gstNumber}}</span>
								<br /></td>
						</tr>
					</tbody>
				</table>
				<div style="width: 75%">
					<!-- <div
						ng-bind="vm.billInkDashboardService.currentCompanyObj.companyName"
						style="text-align: center; font-size: 20px; font-weight: 700;"></div> -->
					<div style="text-align: center; font-size: 12px;">Tax Invoice</div>
					<div style="text-align: center; font-size: 12px;">Original
						for Recepient/</div>
					<!-- <div style="text-align: center; font-size: 20px;">Duplicat/</div>
					<div style="text-align: center; font-size: 20px;">Triplicate</div> -->
				</div>

				<table style="float: right; width: 100%">
					<tbody>
						<tr>
							<td><div style="width: 100px; height: 100px; margin: 5px;">
									<img
										style='max-width: 100px; max-height: 100px; margin-left: auto; margin-right: auto; display: block;'
										src="{{vm.billInkDashboardService.currentCompanyObj.profilePhotoURL}}">
								</div></td>
						</tr>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Contact
									No :&nbsp;{{vm.companyDataForPurchase.mobileNumber}}</span> <br /> <span
								style="font-size: 9px;">Email
									ID:&nbsp;{{vm.companyDataForPurchase.emailId}}</span> <br /> <span
								style="font-size: 9px;">CIN NO
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyId}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<table border="1px" style="border-collapse: collapse; width: 100%">
				<tbody>
					<tr>
						<td width="30%"><span>BuyerName & Address</span> <br /> <span>Name:&nbsp;{{vm.purchase.ledgerData.ledgerName}}</span>
							<br /> <span>Address:&nbsp;{{vm.purchase.ledgerData.address}}</span>
							<br /> <span>City:&nbsp;{{vm.purchase.ledgerData.cityName}}</span>
							<br /> <span>GSTN
								No:&nbsp;{{vm.purchase.ledgerData.gstNumber}}</span> <span>City
								:&nbsp;{{vm.purchase.ledgerData.cityName}}</span><br /> <span>PAN
								No:&nbsp;{{vm.purchase.ledgerData.panNumber}}</span> <span>State
								:&nbsp;{{vm.purchase.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.purchase.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="30%" style='vertical-align: baseline;'><span>Delivery
								Name & Address</span> <br /> <span>Name:&nbsp;{{vm.purchase.ledgerData.ledgerName}}</span>
							<br /> <span>Address:&nbsp;{{vm.purchase.ledgerData.address}}</span>
							<br /> <span>City:&nbsp;{{vm.purchase.ledgerData.cityName}}</span>
							<br /> <span>GSTN
								No:&nbsp;{{vm.purchase.ledgerData.gstNumber}}</span> <span>City
								:&nbsp;{{vm.purchase.ledgerData.cityName}}</span><br /> <span>PAN
								No:&nbsp;{{vm.purchase.ledgerData.panNumber}}</span> <span>State
								:&nbsp;{{vm.purchase.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.purchase.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="40%" style="vertical-align: baseline;"><span>Invoice
								No:&nbsp;{{vm.purchase.billNumber}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Invoice
								Dt:&nbsp;{{vm.purchase.sellPrintDate}}</span> <br /> <span>LR
								No:&nbsp;{{vm.purchase.lrNo}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span>LR
								Dt:&nbsp;{{vm.sell.lrNo}}</span> --> <br /> <span>Payment
								Terms:30 days</span> <span>Due Date:&nbsp;</span> <br /> <span>Insurance
								Policy:&nbsp;No</span> <span>Invoice By:&nbsp;</span> <br /> <span>Gross
								Weight Kgs:&nbsp;{{vm.purchase.actualWeight}}</span> <br /> <span>Place
								of supply:&nbsp;{{vm.purchase.ledgerData.state.stateName}}</span><br />
							<span>Eway Bill No:&nbsp;{{vm.purchase.eWayBillNo}}</span><br />

						</td>

					</tr>
				</tbody>
			</table>
			<br />
			<table border="1px" style="border-collapse: collapse;">
				<tbody>
					<!-- <tr ng-if="vm.sell.sellItemModel[0].item.itemName">
						<th colspan="11"><b style="text-align: center">Item List</b>
						</th>
					</tr> -->
					<tr style="font-weight: bold;">
						<th>Sr No.</th>
						<th style="width: 20%;">Product Name</th>
						<th style="width: 10%;">HSN</th>
						<th style="width: 4%">GST(%)</th>
						<th style="width: 10%">MRP</th>
						<th style="width: 10%;">Disc.<br>(%)
						</th>
						<th style="width: 10%;">Rate Per<br>Unit
						</th>
						<th style="width: 10%;">Qty</th>
						<th style="width: 10%;">Taxable Amt</th>
						<th>CGST</th>
						<th>SGST/UGST</th>
						<th>IGST</th>
						<th style="width: 10%;">Total Amt</th>
					</tr>
					<!-- ng-if="vm.sell.sellItemModel[0].item.itemName"  -->
					<tr ng-repeat="number in vm.numberOfItem track by $index"
						ng-if="vm.purchase.purchaseItemModel[0].item.itemName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="text-align: left;">
							<div class="dropdown">
								<span
									ng-bind="vm.purchase.purchaseItemModel[$index].item.itemName"></span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[index].item.hsnCode"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].taxRate"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].sellRate"></span></td>

						<td align='right'>
							<div class="input-group">
								<span ng-bind="vm.purchase.purchaseItemModel[$index].discount"></span>
								<span
									ng-if="vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">$</span>
								<span
									ng-if="!vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">%</span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].sellRate"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].quantity"></span></td>

						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].itemAmount"></span></td>


						<!-- 	<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].itemAmount"></span></td> -->
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].cgst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].sgst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].igst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].totalItemAmount"></span></td>
					</tr>
					<tr ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<th colspan="11"><b style="text-align: center">Charge
								List</b></th>
					</tr>
					<tr style="font-weight: 600;"
						ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<th>No</th>
						<th style="width: 20%;">Charge Description</th>
						<th style="width: 8%">Qty</th>
						<th>Rate</th>
						<th style="width: 10%;">Disc.</th>
						<th>Amount</th>
						<th style="width: 10%;">Tax Rate</th>
						<th>SGST</th>
						<th>CGST</th>
						<th>IGST</th>
						<th style="width: 10%;">Amount</th>
					</tr>
					<tr ng-repeat="number in vm.numberOfPurchaseCharge track by $index"
						ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="text-align: left;"><span
							ng-bind="vm.purchase.purchaseChargeList[$index].ledger.ledgerName"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].purchaseCharge"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].discount"></span>
							<span
							ng-if="vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">$</span>
							<span
							ng-if="!vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">%</span>
						</td>
						<td align="right"><span
							ng-bind="vm.getChargeLevelAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseChargeList[$index].taxRate"></span>%</td>
						<td align="right"><span
							ng-bind="vm.getChargeSGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getChargeCGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getChargeIGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getChargeAmount($index)"></span></td>
					</tr>
					<tr>
						<td align='right' colspan="8"><span
							style="text-align: center">Gross Amount</span></td>
						<td align="right"><span
							ng-bind="vm.totalItemLevelAmountWithoutTax"> </span></td>
						<td align="right" ng-bind="vm.totalSGST"></td>
						<td align="right" ng-bind="vm.totalCGST"></td>
						<td align="right" ng-bind="vm.totalIGST"></td>
						<td align="right"><span
							ng-bind="vm.purchase.grossTotalAmount"> </span></td>
					</tr>
					<!-- <tr>
						<td colspan="10" align="right">Disc.</td>
						<td align="right"><span ng-bind="vm.sell.discount"></span> <span
							ng-if="vm.sell.sellMeasureDiscountInAmount">$</span> <span
							ng-if="!vm.sell.sellMeasureDiscountInAmount">%</span></td>
					</tr> -->
					<tr>
						<td colspan="8" align="right">Total</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td align="right"><span ng-bind="vm.purchase.totalBillAmount"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- 			For amount in words div  -->
			<div style='border-bottom: 1px solid black;'>
				<span style='margin-left: 10px;'>Total in words :
					{{vm.convertToWordsString(vm.purchase.totalBillAmount)}} </span>
			</div>

			<!-- ////////// -->
			<table border="1px" style="border-collapse: collapse;" width="100%">
				<thead>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Bank Details Mention under For
								RTGS/NEFT/DD</b></th>
					</tr>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Company Bank Details</b></th>
						<th rowspan="3"
							style="vertical-align: baseline; font-size: 9; width: 30%"><b
							style="text-align: left;">Receiver Acknowledgement</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="30%"><span style="font-size: 9">Beneficary
								No:&nbsp;123</span><br /> <span style="font-size: 9">Bank
								Name:&nbsp; DummyBank</span><br /> <span style="font-size: 9">Account
								No:&nbsp; 1234567890</span><br /> <span style="font-size: 9">IFDC
								Code:&nbsp; DUMM0007890</span><br /> <span style="font-size: 9">Account
								Type:&nbsp; Saving</span><br /> <span>__________________________</span><br />
							<span style="font-size: 13">Declaration:</span><br /> <span
							style="font-size: 9">1) Payment No Recieved on Due Date</span><br />
							<span style="font-size: 9">interest will be chargebale 18%
								of Invoice Amt.</span><br /> <span style="font-size: 9">Amt.</span><br />
							<span style="font-size: 9">2) We declare that this invoice
								shows the</span><br /> <span style="font-size: 9">actual price
								of the goods described and</span><br /> <span style="font-size: 9">that
								all particulars true and correct.</span><br /> <span
							style="font-size: 8">3) SUBJECT TO ______________</span><br /> <span
							style="font-size: 8">JURISDICTION</span><br /></td>

						<td width="30%" style='vertical-align: baseline;' rowspan="8">
							<br /> <br /> <br /> <span>__________________________</span> <span
							style="font-size: 9;">Authorised person Sign & stamp</span><br />
							<span>__________________________</span> <span
							style="font-size: 9;">Name of Receiver</span><br /> <span>__________________________</span>
						</td>

						<td width="40%" style="vertical-align: baseline;"></td>





					</tr>
				</tbody>
			</table>

			<!-- ////////////// -->
			<table border="1px" style="border-collapse: collapse;" width="100%"
				ng-if="(vm.totalIGST && vm.totalIGST >0) || (vm.totalSGST && vm.totalSGST >0) || (vm.totalCGST && vm.totalCGST >0)">
				<tr>
					<th>HSN/SAC Wise Tax Summary</th>
					<th>Tax Rate</th>
					<th>IGST</th>
					<th>SGST</th>
					<th>CGST</th>
				</tr>
				<tr ng-repeat="hsn in vm.hsnList">
					<td ng-bind="hsn.hsnCode"></td>
					<td align="right"><span ng-bind="hsn.taxRate"></span>%</td>
					<td align="right" ng-bind="hsn.igst"></td>
					<td align="right" ng-bind="hsn.sgst"></td>
					<td align="right" ng-bind="hsn.cgst"></td>
				</tr>
				<tr>
					<td colspan="2">Total</td>
					<td align="right" ng-bind="vm.totalIGST"></td>
					<td align="right" ng-bind="vm.totalSGST"></td>
					<td align="right" ng-bind="vm.totalCGST"></td>
				</tr>
			</table>
			<div style="width: 100%">
				<table style="border-collapse: collapse;" width="100%">
					<tr style='height: 70px;'>
						<td width='65%'
							style="height: 40px; text-align: center; border-right: 1px solid; border-bottom: 1px solid;"></td>
						<td width='10%' style="height: 40px;"></td>
						<td width='25%'
							style="height: 40px; text-align: center; vertical-align: bottom; border-left: 1px solid; border-bottom: 1px solid;">Authorized
							Signature</td>
					</tr>
				</table>
			</div>
			<!-- 		<div style="border-bottom: 1px solid black; font-size: 12px;">
				<p style="margin: 4px 0px 0px 2px;">* This is Computerized
					Invoice and requires no Signature</p>
				<p style="margin: 4px 0px 4px 2px;">* All Disputes subject to
					{{vm.companyDataForSell.cityName}} Jurisdiction Only.</p>
			</div>
			<div style="font-size: 12px;">
				<p style="margin: 4px 0px 4px 2px;">Declaration: We declare that
					this invoice shows the actual price of the goods described and that
					all particular are true and correct</p>
			</div> -->
		</div>
	</div>
	<!-- WithoutFreeQty printDiv End  -->

	<!-- Without Batch details Start  -->

	<div id="printWithOutbatchNoSellDiv" class="d-none">
		<div style="border: 1px solid black; font-size: 11px;">
			<div style="width: 100%; display: inline-flex; margin-bottom: 10px;">
				<table style="width: 70%">
					<thead>
						<tr>
							<th width="30%"><b style="text-align: left; font-size: 9px;">CompanyName
									& Address</b></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Name:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyName}}</span>
								<br /> <span style="font-size: 9px;">Address:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.officeAddress}}</span>
								<br /> <span style="font-size: 9px;">City(ROP):&nbsp;{{vm.companyDataForPurchase.cityName}}</span>
								<br /> <span style="font-size: 9px;">City(AOP):&nbsp;{{vm.purchase.cityName}}</span>
								<br /> <span style="font-size: 9px;">State
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.state.stateName}}</span><br />
								<span style="font-size: 9px;">PAN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.panNumber}}</span>
								<br /> <span style="font-size: 9px;">GSTN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.gstNumber}}</span>
								<br /></td>
						</tr>
					</tbody>
				</table>
				<div style="width: 75%">
					<!-- <div
						ng-bind="vm.billInkDashboardService.currentCompanyObj.companyName"
						style="text-align: center; font-size: 20px; font-weight: 700;"></div> -->
					<div style="text-align: center; font-size: 12px;">Tax Invoice</div>
					<div style="text-align: center; font-size: 12px;">Original
						for Recepient/</div>
					<!-- 	<div style="text-align: center; font-size: 20px;">Duplicat/</div>
					<div style="text-align: center; font-size: 20px;">Triplicate</div> -->
				</div>

				<table style="float: right; width: 100%">
					<tbody>
						<tr>
							<td><div style="width: 100px; height: 100px; margin: 5px;">
									<img
										style='max-width: 100px; max-height: 100px; margin-left: auto; margin-right: auto; display: block;'
										src="{{vm.billInkDashboardService.currentCompanyObj.profilePhotoURL}}">
								</div></td>
						</tr>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Contact
									No :&nbsp;{{vm.companyDataForPurchase.mobileNumber}}</span> <br /> <span
								style="font-size: 9px;">Email
									ID:&nbsp;{{vm.companyDataForPurchase.emailId}}</span> <br /> <span
								style="font-size: 9px;">CIN NO
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyId}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<table border="1px" style="border-collapse: collapse; width: 100%">
				<tbody>
					<tr>
						<td width="30%"><span>BuyerName & Address</span> <br /> <span>Name:&nbsp;{{vm.purchase.ledgerData.ledgerName}}</span>
							<br /> <span>Address:&nbsp;{{vm.purchase.ledgerData.address}}</span>
							<br /> <span>City:&nbsp;{{vm.purchase.ledgerData.cityName}}</span>
							<br /> <span>GSTN
								No:&nbsp;{{vm.purchase.ledgerData.gstNumber}}</span> <span>City
								:&nbsp;{{vm.purchase.ledgerData.cityName}}</span><br /> <span>PAN
								No:&nbsp;{{vm.purchase.ledgerData.panNumber}}</span> <span>State
								:&nbsp;{{vm.purchase.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.purchase.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="30%" style='vertical-align: baseline;'><span>Delivery
								Name & Address</span> <br /> <span>Name:&nbsp;{{vm.purchase.ledgerData.ledgerName}}</span>
							<br /> <span>Address:&nbsp;{{vm.purchase.ledgerData.address}}</span>
							<br /> <span>City:&nbsp;{{vm.purchase.ledgerData.cityName}}</span>
							<br /> <span>GSTN
								No:&nbsp;{{vm.purchase.ledgerData.gstNumber}}</span> <span>City
								:&nbsp;{{vm.purchase.ledgerData.cityName}}</span><br /> <span>PAN
								No:&nbsp;{{vm.purchase.ledgerData.panNumber}}</span> <span>State
								:&nbsp;{{vm.purchase.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.purchase.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="40%" style="vertical-align: baseline;"><span>Invoice
								No:&nbsp;{{vm.purchase.billNumber}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Invoice
								Dt:&nbsp;{{vm.purchase.sellPrintDate}}</span> <br /> <span>LR
								No:&nbsp;{{vm.purchase.lrNo}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span>LR
								Dt:&nbsp;{{vm.purchase.lrNo}}</span> <br /> --> <span>Payment
								Terms:30 days</span> <span>Due Date:&nbsp;</span> <br /> <span>Insurance
								Policy:&nbsp;No</span> <span>Invoice By:&nbsp;</span> <br /> <span>Gross
								Weight Kgs:&nbsp;{{vm.purchase.actualWeight}}</span> <br /> <span>Place
								of supply:&nbsp;{{vm.purchase.ledgerData.state.stateName}}</span><br />
							<span>Eway Bill No:&nbsp;{{vm.purchase.eWayBillNo}}</span><br />

						</td>

					</tr>
				</tbody>
			</table>
			<br />
			<table border="1px" style="border-collapse: collapse;">
				<tbody>
					<!-- <tr ng-if="vm.sell.sellItemModel[0].item.itemName">
						<th colspan="11"><b style="text-align: center">Item List</b>
						</th>
					</tr> -->
					<tr style="font-weight: bold;">
						<th>Sr No.</th>
						<th style="width: 20%;">Product Name</th>
						<th style="width: 5%;">HSN</th>
						<th style="width: 5%;">GST<br>(%)
						</th>
						<th style="width: 10%;">MRP</th>
						<th style="width: 5%;">Disc.<br>(%)
						</th>
						<th style="width: 10%;">Rate Per<br>Unit
						</th>
						<th style="width: 5%;">Qty</th>
						<th style="width: 5%;">Free Qty<br>(Nos)
						</th>
						<th style="width: 10%;">Taxable Amt</th>
						<th>CGST</th>
						<th>SGST/<br>UGST
						</th>
						<th>IGST</th>
						<th style="width: 10%;">Total Amt</th>
					</tr>
					<!-- ng-if="vm.sell.sellItemModel[0].item.itemName"  -->
					<tr ng-repeat="number in vm.numberOfItem track by $index"
						ng-if="vm.purchase.purchaseItemModel[0].item.itemName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="width: 20%; text-align: left;">
							<div class="dropdown">
								<span
									ng-bind="vm.purchase.purchaseItemModel[$index].item.itemName"></span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].item.hsnCode"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].taxRate"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].purchaseRate"></span></td>

						<td align='right'>
							<div class="input-group">
								<span ng-bind="vm.purchase.purchaseItemModel[$index].discount"></span>
								<span
									ng-if="vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">$</span>
								<span
									ng-if="!vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">%</span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].purchaseRate"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].Freequantity"></span></td>

						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].itemAmount"></span></td>


						<!-- 	<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].itemAmount"></span></td> -->
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].cgst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].sgst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].igst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].totalItemAmount"></span></td>
					</tr>
					<tr ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<th colspan="14"><b style="text-align: center">Charge
								List</b></th>
					</tr>
					<tr style="font-weight: 600;"
						ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<th>No</th>
						<th style="width: 20%;" colspan="4">Charge Description</th>
						<th style="width: 8%">Qty</th>
						<th>Rate</th>
						<th style="width: 10%;">Disc.</th>
						<th>Amount</th>
						<th style="width: 10%;">Tax Rate</th>
						<th>SGST</th>
						<th>CGST</th>
						<th>IGST</th>
						<th style="width: 20%;">Amount</th>
					</tr>
					<tr ng-repeat="number in vm.numberOfPurchaseCharge track by $index"
						ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td colspan="4" style="text-align: left;"><span
							ng-bind="vm.purchase.purchaseChargeList[$index].ledger.ledgerName"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].purchaseCharge"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].discount"></span>
							<span
							ng-if="vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">$</span>
							<span
							ng-if="!vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">%</span>
						</td>
						<td align="right"><span
							ng-bind="vm.getChargeLevelAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseChargeList[$index].taxRate"></span>%</td>
						<td align="right"><span
							ng-bind="vm.getChargeSGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getChargeCGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getChargeIGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getChargeAmount($index)"></span></td>
					</tr>
					<tr>
						<td></td>
						<td align='right' colspan="8"><span
							style="text-align: center">Gross Amount</span></td>
						<td align="right"><span
							ng-bind="vm.totalItemLevelAmountWithoutTax"> </span></td>
						<td align="right" ng-bind="vm.totalSGST"></td>
						<td align="right" ng-bind="vm.totalCGST"></td>
						<td align="right" ng-bind="vm.totalIGST"></td>
						<td align="right"><span
							ng-bind="vm.purchase.grossTotalAmount"> </span></td>
					</tr>

					<tr>
						<td></td>
						<td colspan="8" align="right">Total</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td align="right"><span ng-bind="vm.purchase.totalBillAmount"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- 			For amount in words div  -->
			<div style='border-bottom: 1px solid black;'>
				<span style='margin-left: 10px;'>Total in words :
					{{vm.convertToWordsString(vm.purchase.totalBillAmount)}} </span>
			</div>

			<table border="1px" style="border-collapse: collapse;" width="100%">
				<thead>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Bank Details Mention under For
								RTGS/NEFT/DD</b></th>
					</tr>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Company Bank Details</b></th>
						<th rowspan="3"
							style="vertical-align: baseline; font-size: 9; width: 30%"><b
							style="text-align: left;">Receiver Acknowledgement</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="30%"><span style="font-size: 9">Beneficary
								No:&nbsp;123</span><br /> <span style="font-size: 9">Bank
								Name:&nbsp; DummyBank</span><br /> <span style="font-size: 9">Account
								No:&nbsp; 1234567890</span><br /> <span style="font-size: 9">IFDC
								Code:&nbsp; DUMM0007890</span><br /> <span style="font-size: 9">Account
								Type:&nbsp; Saving</span><br /> <span>__________________________</span><br />
							<span style="font-size: 13">Declaration:</span><br /> <span
							style="font-size: 9">1) Payment No Recieved on Due Date</span><br />
							<span style="font-size: 9">interest will be chargebale 18%
								of Invoice Amt.</span><br /> <span style="font-size: 9">Amt.</span><br />
							<span style="font-size: 9">2) We declare that this invoice
								shows the</span><br /> <span style="font-size: 9">actual price
								of the goods described and</span><br /> <span style="font-size: 9">that
								all particulars true and correct.</span><br /> <span
							style="font-size: 8">3) SUBJECT TO ______________</span><br /> <span
							style="font-size: 8">JURISDICTION</span><br /></td>

						<td width="30%" style='vertical-align: baseline;' rowspan="8">
							<br /> <br /> <br /> <span>__________________________</span> <span
							style="font-size: 9;">Authorised person Sign & stamp</span><br />
							<span>__________________________</span> <span
							style="font-size: 9;">Name of Receiver</span><br /> <span>__________________________</span>
						</td>

						<td width="40%" style="vertical-align: baseline;"></td>

					</tr>
				</tbody>
			</table>

			<table border="1px" style="border-collapse: collapse;" width="100%"
				ng-if="(vm.totalIGST && vm.totalIGST >0) || (vm.totalSGST && vm.totalSGST >0) || (vm.totalCGST && vm.totalCGST >0)">
				<tr>
					<th>HSN/SAC Wise Tax Summary</th>
					<th>Tax Rate</th>
					<th>IGST</th>
					<th>SGST</th>
					<th>CGST</th>
				</tr>
				<tr ng-repeat="hsn in vm.hsnList">
					<td ng-bind="hsn.hsnCode"></td>
					<td align="right"><span ng-bind="hsn.taxRate"></span>%</td>
					<td align="right" ng-bind="hsn.igst"></td>
					<td align="right" ng-bind="hsn.sgst"></td>
					<td align="right" ng-bind="hsn.cgst"></td>
				</tr>
				<tr>
					<td colspan="2">Total</td>
					<td align="right" ng-bind="vm.totalIGST"></td>
					<td align="right" ng-bind="vm.totalSGST"></td>
					<td align="right" ng-bind="vm.totalCGST"></td>
				</tr>
			</table>
			<div style="width: 100%">
				<table style="border-collapse: collapse;" width="100%">
					<tr style='height: 70px;'>
						<td width='65%'
							style="height: 40px; text-align: center; border-right: 1px solid; border-bottom: 1px solid;"></td>
						<td width='10%' style="height: 40px;"></td>
						<td width='25%'
							style="height: 40px; text-align: center; vertical-align: bottom; border-left: 1px solid; border-bottom: 1px solid;">Authorized
							Signature</td>
					</tr>
				</table>
			</div>
			<!-- 		<div style="border-bottom: 1p font-size: 12px;">
				<p style="margin: 4px 0px 0px 2px;">* This is Computerized
					Invoice and requires no Signature</p>
				<p style="margin: 4px 0px 4px 2px;">* All Disputes subject to
					{{vm.companyDataForSell.cityName}} Jurisdiction Only.</p>
			</div>
			<div style="font-size: 12px;">
				<p style="margin: 4px 0px 4px 2px;">Declaration: We declare that
					this invoice shows the actual price of the goods described and that
					all particular are true and correct</p>
			</div> -->
		</div>
	</div>


	<!-- Without Batch details End  -->
	<!-- Without fields details Start  -->

	<div id="printAllFieldSellDiv" class="d-none">
		<div style="border: 1px solid black; font-size: 11px;">
			<div style="width: 100%; display: inline-flex; margin-bottom: 10px;">
				<table style="width: 70%">
					<thead>
						<tr>
							<th width="30%"><b style="text-align: left; font-size: 9px;">CompanyName
									& Address</b></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Name:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyName}}</span>
								<br /> <span style="font-size: 9px;">Address:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.officeAddress}}</span>
								<br /> <span style="font-size: 9px;">City(ROP):&nbsp;{{vm.companyDataForPurchase.cityName}}</span>
								<br /> <span style="font-size: 9px;">City(AOP):&nbsp;{{vm.purchase.cityName}}</span>
								<br /> <span style="font-size: 9px;">State
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.state.stateName}}</span><br />
								<span style="font-size: 9px;">PAN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.panNumber}}</span>
								<br /> <span style="font-size: 9px;">GSTN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.gstNumber}}</span>
								<br /></td>
						</tr>
					</tbody>
				</table>
				<div style="width: 75%">
					<!-- <div
						ng-bind="vm.billInkDashboardService.currentCompanyObj.companyName"
						style="text-align: center; font-size: 20px; font-weight: 700;"></div> -->
					<div style="text-align: center; font-size: 12px;">Tax Invoice</div>
					<div style="text-align: center; font-size: 12px;">Original
						for Recepient/</div>
					<!-- <div style="text-align: center; font-size: 20px;">Duplicat/</div>
					<div style="text-align: center; font-size: 20px;">Triplicate</div> -->
				</div>

				<table style="float: right; width: 100%">
					<tbody>
						<tr>
							<td><div style="width: 100px; height: 100px; margin: 5px;">
									<img
										style='max-width: 100px; max-height: 100px; margin-left: auto; margin-right: auto; display: block;'
										src="{{vm.billInkDashboardService.currentCompanyObj.profilePhotoURL}}">
								</div></td>
						</tr>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Contact
									No :&nbsp;{{vm.companyDataForPurchase.mobileNumber}}</span> <br /> <span
								style="font-size: 9px;">Email
									ID:&nbsp;{{vm.companyDataForPurchase.emailId}}</span> <br /> <span
								style="font-size: 9px;">CIN NO
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyId}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<table border="1px" style="border-collapse: collapse; width: 100%">
				<tbody>
					<tr>
						<td width="30%"><span>BuyerName & Address</span> <br /> <span>Name:&nbsp;{{vm.purchase.ledgerData.ledgerName}}</span>
							<br /> <span>Address:&nbsp;{{vm.purchase.ledgerData.address}}</span>
							<br /> <span>City:&nbsp;{{vm.purchase.ledgerData.cityName}}</span>
							<br /> <span>GSTN
								No:&nbsp;{{vm.purchase.ledgerData.gstNumber}}</span> <span>City
								:&nbsp;{{vm.purchase.ledgerData.cityName}}</span><br /> <span>PAN
								No:&nbsp;{{vm.purchase.ledgerData.panNumber}}</span> <span>State
								:&nbsp;{{vm.purchase.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.purchase.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="30%" style='vertical-align: baseline;'><span>Delivery
								Name & Address</span> <br /> <span>Name:&nbsp;{{vm.purchase.ledgerData.ledgerName}}</span>
							<br /> <span>Address:&nbsp;{{vm.purchase.ledgerData.address}}</span>
							<br /> <span>City:&nbsp;{{vm.purchase.ledgerData.cityName}}</span>
							<br /> <span>GSTN
								No:&nbsp;{{vm.purchase.ledgerData.gstNumber}}</span> <span>City
								:&nbsp;{{vm.purchase.ledgerData.cityName}}</span><br /> <span>PAN
								No:&nbsp;{{vm.purchase.ledgerData.panNumber}}</span> <span>State
								:&nbsp;{{vm.purchase.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.purchase.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="40%" style="vertical-align: baseline;"><span>Invoice
								No:&nbsp;{{vm.purchase.billNumber}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Invoice
								Dt:&nbsp;{{vm.purchase.sellPrintDate}}</span> <br /> <span>LR
								No:&nbsp;{{vm.purchase.lrNo}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span>LR
								Dt:&nbsp;{{vm.purchase.lrNo}}</span> --> <br /> <span>Payment
								Terms:30 days</span> <span>Due Date:&nbsp;</span> <br /> <span>Insurance
								Policy:&nbsp;No</span> <span>Invoice By:&nbsp;</span> <br /> <span>Gross
								Weight Kgs:&nbsp;{{vm.purchase.actualWeight}}</span> <br /> <span>Place
								of supply:&nbsp;{{vm.purchase.ledgerData.state.stateName}}</span><br />
							<span>Eway Bill No:&nbsp;{{vm.purchase.eWayBillNo}}</span><br />

						</td>

					</tr>
				</tbody>
			</table>
			<br />
			<table border="1px" style="border-collapse: collapse;">
				<tbody>
					<!-- <tr ng-if="vm.sell.sellItemModel[0].item.itemName">
						<th colspan="11"><b style="text-align: center">Item List</b>
						</th>
					</tr> -->
					<tr style="font-weight: bold;">
						<th>Sr No.</th>
						<th style="width: 20%;">Product Name</th>
						<th style="width: 3%;">UOM</th>
						<th style="width: 4%;">HSN</th>
						<th style="width: 3%;">GST<br>(%)
						</th>
						<th style="width: 4%;">Batch<br>No.
						</th>
						<th style="width: 4%;">Mfg Dt.</th>
						<th style="width: 4%;">Exp Dt.</th>
						<th style="width: 9%;">MRP</th>
						<th style="width: 4%;">Disc.<br>(%)
						</th>
						<th style="width: 9%;">Rate Per<br>Unit
						</th>
						<th style="width: 4%;">Qty</th>
						<th style="width: 4%;">Free Qty<br>(Nos)
						</th>
						<th style="width: 10%;">Taxable Amt</th>
						<th>CGST</th>
						<th>SGST/<br>UGST
						</th>
						<th>IGST</th>
						<th style="width: 10%;">Total Amt</th>
					</tr>
					<!-- ng-if="vm.sell.sellItemModel[0].item.itemName"  -->
					<tr ng-repeat="number in vm.numberOfItem track by $index"
						ng-if="vm.purchase.purchaseItemModel[0].item.itemName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="width: 20%; text-align: left;">
							<div class="dropdown">
								<span
									ng-bind="vm.purchase.purchaseItemModel[$index].item.itemName"></span>
							</div>
						</td>
						<td></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].item.hsnCode"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].taxRate"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].batchNo"></span></td>

						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].mfgdateForPrint"></span></td>

						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].expdateForPrint"></span></td>

						<!-- <td align='right'><span
							ng-bind="vm.sell.sellItemModel[$index].taxRate"></span></td> -->
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].purchaseRate"></span></td>

						<td align='right'>
							<div class="input-group">
								<span ng-bind="vm.purchase.purchaseItemModel[$index].discount"></span>
								<span
									ng-if="vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">$</span>
								<span
									ng-if="!vm.purchase.purchaseItemModel[$index].measureDiscountInAmount">%</span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].purchaseRate"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseItemModel[$index].Freequantity"></span></td>

						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].itemAmount"></span></td>


						<!-- 	<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].itemAmount"></span></td> -->
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].cgst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].sgst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].igst"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseItemModel[$index].totalItemAmount"></span></td>
					</tr>
					<tr ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<th colspan="18"><b style="text-align: center">Charge
								List</b></th>
					</tr>
					<tr style="font-weight: 600;"
						ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<th>No</th>
						<th style="width: 40%;" colspan="8">Charge Description</th>
						<th style="width: 16%">Qty</th>
						<th>Rate</th>
						<th style="width: 20%;">Disc.</th>
						<th>Amount</th>
						<th style="width: 20%;">Tax Rate</th>
						<th>SGST</th>
						<th>CGST</th>
						<th>IGST</th>
						<th style="width: 20%;">Amount</th>
					</tr>
					<tr ng-repeat="number in vm.numberOfPurchaseCharge track by $index"
						ng-if="vm.purchase.purchaseChargeList[0].ledger.ledgerName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td colspan="8" style="text-align: left;"><span
							ng-bind="vm.purchase.purchaseChargeList[$index].ledger.ledgerName"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].purchaseCharge"></span></td>
						<td align='right'><span
							ng-bind="vm.purchase.purchaseChargeList[$index].discount"></span>
							<span
							ng-if="vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">$</span>
							<span
							ng-if="!vm.purchase.purchaseChargeList[$index].measureDiscountInAmount">%</span>
						</td>
						<td align="right"><span
							ng-bind="vm.getChargeLevelAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.purchase.purchaseChargeList[$index].taxRate"></span>%</td>
						<td align="right"><span
							ng-bind="vm.getChargeSGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getChargeCGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getChargeIGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getChargeAmount($index)"></span></td>
					</tr>
					<tr>
						<!--<td></td>
						 <td></td>
						<td></td>
						<td></td>
						<td></td> -->
						<td align='right' colspan="13"><span
							style="text-align: center">Gross Amount</span></td>
						<td align="right"><span
							ng-bind="vm.totalItemLevelAmountWithoutTax"> </span></td>
						<td align="right" ng-bind="vm.totalSGST"></td>
						<td align="right" ng-bind="vm.totalCGST"></td>
						<td align="right" ng-bind="vm.totalIGST"></td>
						<td align="right"><span
							ng-bind="vm.purchase.grossTotalAmount"> </span></td>
					</tr>
					<!-- <tr>
						<td colspan="10" align="right">Disc.</td>
						<td align="right"><span ng-bind="vm.sell.discount"></span> <span
							ng-if="vm.sell.sellMeasureDiscountInAmount">$</span> <span
							ng-if="!vm.sell.sellMeasureDiscountInAmount">%</span></td>
					</tr> -->
					<tr>
						<!-- <td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td> -->
						<td colspan="13" align="right">Total</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td align="right"><span ng-bind="vm.purchase.totalBillAmount"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- 			For amount in words div  -->
			<div style='border-bottom: 1px solid black;'>
				<span style='margin-left: 10px;'>Total in words :
					{{vm.convertToWordsString(vm.purchase.totalBillAmount)}} </span>
			</div>

			<!-- ////////// -->
			<table border="1px" style="border-collapse: collapse;" width="100%">
				<thead>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Bank Details Mention under For
								RTGS/NEFT/DD</b></th>
					</tr>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Company Bank Details</b></th>
						<th rowspan="3"
							style="vertical-align: baseline; font-size: 9; width: 30%"><b
							style="text-align: left;">Receiver Acknowledgement</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="30%"><span style="font-size: 9">Beneficary
								No:&nbsp;123</span><br /> <span style="font-size: 9">Bank
								Name:&nbsp; DummyBank</span><br /> <span style="font-size: 9">Account
								No:&nbsp; 1234567890</span><br /> <span style="font-size: 9">IFDC
								Code:&nbsp; DUMM0007890</span><br /> <span style="font-size: 9">Account
								Type:&nbsp; Saving</span><br /> <span>__________________________</span><br />
							<span style="font-size: 13">Declaration:</span><br /> <span
							style="font-size: 9">1) Payment No Recieved on Due Date</span><br />
							<span style="font-size: 9">interest will be chargebale 18%
								of Invoice Amt.</span><br /> <span style="font-size: 9">Amt.</span><br />
							<span style="font-size: 9">2) We declare that this invoice
								shows the</span><br /> <span style="font-size: 9">actual price
								of the goods described and</span><br /> <span style="font-size: 9">that
								all particulars true and correct.</span><br /> <span
							style="font-size: 8">3) SUBJECT TO ______________</span><br /> <span
							style="font-size: 8">JURISDICTION</span><br /></td>

						<td width="30%" style='vertical-align: baseline;' rowspan="8">
							<br /> <br /> <br /> <span>__________________________</span> <span
							style="font-size: 9;">Authorised person Sign & stamp</span><br />
							<span>__________________________</span> <span
							style="font-size: 9;">Name of Receiver</span><br /> <span>__________________________</span>
						</td>

						<td width="40%" style="vertical-align: baseline;"></td>

					</tr>
				</tbody>
			</table>

			<!-- ////////////// -->
			<table border="1px" style="border-collapse: collapse;" width="100%"
				ng-if="(vm.totalIGST && vm.totalIGST >0) || (vm.totalSGST && vm.totalSGST >0) || (vm.totalCGST && vm.totalCGST >0)">
				<tr>
					<th>HSN/SAC Wise Tax Summary</th>
					<th>Tax Rate</th>
					<th>IGST</th>
					<th>SGST</th>
					<th>CGST</th>
				</tr>
				<tr ng-repeat="hsn in vm.hsnList">
					<td ng-bind="hsn.hsnCode"></td>
					<td align="right"><span ng-bind="hsn.taxRate"></span>%</td>
					<td align="right" ng-bind="hsn.igst"></td>
					<td align="right" ng-bind="hsn.sgst"></td>
					<td align="right" ng-bind="hsn.cgst"></td>
				</tr>
				<tr>
					<td colspan="2">Total</td>
					<td align="right" ng-bind="vm.totalIGST"></td>
					<td align="right" ng-bind="vm.totalSGST"></td>
					<td align="right" ng-bind="vm.totalCGST"></td>
				</tr>
			</table>
			<div style="width: 100%">
				<table style="border-collapse: collapse;" width="100%">
					<tr style='height: 70px;'>
						<td width='65%'
							style="height: 40px; text-align: center; border-right: 1px solid; border-bottom: 1px solid;"></td>
						<td width='10%' style="height: 40px;"></td>
						<td width='25%'
							style="height: 40px; text-align: center; vertical-align: bottom; border-left: 1px solid; border-bottom: 1px solid;">Authorized
							Signature</td>
					</tr>
				</table>
			</div>
			<!-- 		<div style="border-bottom: 1px solid black; font-size: 12px;">
				<p style="margin: 4px 0px 0px 2px;">* This is Computerized
					Invoice and requires no Signature</p>
				<p style="margin: 4px 0px 4px 2px;">* All Disputes subject to
					{{vm.companyDataForSell.cityName}} Jurisdiction Only.</p>
			</div>
			<div style="font-size: 12px;">
				<p style="margin: 4px 0px 4px 2px;">Declaration: We declare that
					this invoice shows the actual price of the goods described and that
					all particular are true and correct</p>
			</div> -->
		</div>
	</div>


	<!-- All Fields details End  -->

	<!-- Stsrt Batch -->
	<div id="new-batch-purchase-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Item Batch</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType">Batch No.</label> <input id="batchNo"
								maxlength="255" class="form-control" type="text"
								ng-model="vm.purchase.batchNo" />
						</div>


						<div class="form-group row col-sm-12">
							<label for="mfgDate">Mfg. Date</label> <input id="mfgDate"
								class="form-control" type="date" ng-model="vm.purchase.mfgDate" />
						</div>


						<div class="col-sm-12 col-md-6 col-lg-6 form-group">
							<label for="billNumber">SelfLife</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<select
										class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
										id="dayMonthDD">
										<option value="Month">Month</option>
										<option value="days">Days</option>
									</select>
								</div>
								<input id="shelfLife" class="form-control" type="number"
									ng-model="vm.purchase.shelfLifes" />
							</div>
						</div>

						<!-- <div class="form-group row col-sm-12">
									<label for="expDate">Exp. Date</label> <input id="expDate"
										class="form-control" type="date"
										ng-model="vm.purchase.expDate" />
								</div> -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedBatch()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveBatchPurchase()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End batch  -->

</div>