<div class="col-sm-12 row"
	infinite-scroll="vm.loadMoreCompanyCountData()"
	infinite-scroll-distance="3">
	<div class="col-lg-4 col-md-4 col-sm-12 card-container"
		ng-repeat="companyCountObj in vm.managePurchaseDataService.companyCountRecordList">
		<div class="card-border" style="cursor: pointer;">
			<div class="card-header"
				style="text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
				<span ng-bind="::companyCountObj.companyName"></span>
			</div>
			<div class="card-body row"
				ng-click="vm.openPurchaseList(companyCountObj)">
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="row">
						<div class="col-sm-6">
							<label class="bold-text">GST Number</label>
						</div>
						<div class="col-sm-6">
							<span ng-bind="companyCountObj.gstNumber"></span>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-sm-6">
							<label class="bold-text">Overall Pending Count</label>
						</div>
						<div class="col-sm-6">
							<span ng-bind="::companyCountObj.totalPendingCount"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-10">
									<label class="bold-text">Pending Count</label>
								</div>
								<div class="col-sm-2">
									<span ng-bind="::companyCountObj.purchasePendingCount"></span>
								</div>
							</div>

						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-10">
									<label class="bold-text">Request Count</label>
								</div>
								<div class="col-sm-2">
									<span ng-bind="::companyCountObj.purchaseProcessCount"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>