body {background-color: #f5f7fa;font-family: 'Hind';}
h1 { margin:50px auto;}
.zoom {
  position: fixed;
  bottom: 45px;
  right: 24px;
  height: 70px;
}

.zoom-fab {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: linear-gradient(to right, #4ccaac, #3f78c8) !important;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #FFF;
}

.zoom-fab:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  color: white;
}

.zoom-btn-large {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.zoom-btn-person { background-color: #F44336; }

.zoom-btn-person:hover { background-color: #e57373; }

.zoom-btn-doc { background-color: #ffeb3b; }

.zoom-btn-doc:hover { background-color: #fff176; }

.zoom-btn-tangram { background-color: #4CAF50; }

.zoom-btn-tangram:hover { background-color: #81c784; }

.zoom-btn-report { background-color: #2196F3; }

.zoom-btn-report:hover { background-color: #64b5f6; }

.zoom-btn-feedback { background-color: #9c27b0; }

.zoom-btn-feedback:hover { background-color: #ba68c8; }

.zoom-menu {
  position: fixed;
  right: 27px;
  bottom: 0px;
  transform: translateY(-45%);
  height: 340px;
  list-style: none;
  text-align: right;
}

.zoom-menu li {
  margin-top: 10px;
}

.zoom-card {
  position: absolute;
  right: 114px;
  bottom: 95px;
  transition: box-shadow 0.25s;
  padding: 24px;
  border-radius: 2px;
  background-color: #009688;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: left;
}

.scale-transition {transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;}

.scale-transition.scale-out {
  transition: transform 0.2s !important;
  transform: scale(0);
}

.scale-transition.scale-in { transform: scale(1); }

.scrollit{
	float:left;
    width:1000px;
    overflow-y: auto;
    height: 100px;
}
