<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="addEditItemDataController as vm"
	style="padding-top: 10px; padding-bottom: 10px;" ng-init="vm.init()">
	<form>
		<div class="row col-sm-12 col-md-12 col-lg-12"
			ng-include="'../item/view/addItemFormTemplate.html'"></div>

		<div class="row col-sm-12 col-md-12 col-lg-12">
			<div class="col-sm-12 col-md-12 col-lg-12 form-group">
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span>Document List</span> <i
							class="mdi mdi-plus-circle pull-right"
							style="padding-right: 5px; cursor: pointer;"
							ng-click="vm.addDocument()"> </i>
					</div>
					<div class="card-body row">
						<table class="table purchase-item-container">
							<thead>
								<tr>
									<th>Document File</th>
									<th>Document Type</th>
									<th>Description</th>
									<th>Download</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="itemDocumentObj in vm.billInkDashboardService.item.itemDocumentList">
									<td><img alt="Document"
										ng-if="!vm.billInkDashboardService.isPDFDocument(itemDocumentObj.documentUrl)"
										src="{{itemDocumentObj.documentUrl}}" height="100px"
										style="max-width: 150px;" /> <img alt="Document"
										ng-if="vm.billInkDashboardService.isPDFDocument(itemDocumentObj.documentUrl)"
										src="../images/pdf-image.png" height="100px"
										style="max-width: 150px;" /></td>
									<td ng-bind="itemDocumentObj.documentType"></td>
									<td ng-bind="itemDocumentObj.description"></td>
									<td><a href="#"
										ng-click="vm.billInkDashboardService.downloadURI(itemDocumentObj.documentUrl)">
											Download </a></td>
									<td><i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.deleteDocument($index)"> </i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- Alias START-->
		<div class="row col-sm-12 col-md-12 col-lg-12">
			<div class="col-sm-12 col-md-12 col-lg-12 form-group">
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span>Item Alias List</span> <i
							class="mdi mdi-plus-circle pull-right"
							style="padding-right: 5px; cursor: pointer;"
							ng-click= "vm.addItemAlias()"> </i>
					</div>
					<div class="card-body row">
						<table class="table purchase-item-container">
							<thead>
								<tr>
									<th>Item Alias Name</th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="itemAliasObj in vm.billInkDashboardService.item.itemAliasList">

									<td ng-bind="itemAliasObj.itemAliasName"></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td><i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.deleteItemAlias($index)"> </i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!--Alias END  -->
		<!-- BATCH START-->
		<div class="row col-sm-12 col-md-12 col-lg-12">
			<div class="col-sm-12 col-md-12 col-lg-12 form-group">
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span>Batch List</span> <i class="mdi mdi-plus-circle pull-right"
							style="padding-right: 5px; cursor: pointer;"
							ng-click="vm.addBatch()"> </i>
					</div>
					<div class="card-body row">
						<table class="table purchase-item-container">
							<thead>
								<tr>
									<th></th>
									<th>BatchNo</th>
									<th>MFG.Date</th>
									<th>EXP. Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="itemBatchObj in vm.billInkDashboardService.item.itemBatchList">
									<td></td>
									<td ng-bind="itemBatchObj.batchNo"></td>
									<td ng-bind="itemBatchObj.mfgDates"></td>
									<td ng-bind="itemBatchObj.expDates"></td>
									<td></td>
									<td><i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.deleteBatch($index)"> </i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!--BATCH END  -->
		<!-- MRP STRAT -->
		<div class="row col-sm-12 col-md-12 col-lg-12">
			<div class="col-sm-12 col-md-12 col-lg-12 form-group">
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span>Mrp List</span> <i class="mdi mdi-plus-circle pull-right"
							style="padding-right: 5px; cursor: pointer;"
							ng-click="vm.addItemMrp()"> </i>
					</div>
					<div class="card-body row">
						<table class="table purchase-item-container">
							<thead>
								<tr>
									<th></th>
									<th>Item Mrp</th>
									<th>W.E.F Date</th>
									<th>W.E.T Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="itemMrpObj in vm.billInkDashboardService.item.itemMrpList">
									<td></td>
								
									<td ng-bind="itemMrpObj.itemMrp"></td>
									<td ng-bind="itemMrpObj.wefDate"></td>
									<td ng-bind="itemMrpObj.wetDate"></td>
									<td></td>
									<td><i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.deleteMrp($index)"> </i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- MRP END  -->
		<!-- Product Rate Start  -->
		<div class="row col-sm-12 col-md-12 col-lg-12">
			<div class="col-sm-12 col-md-12 col-lg-12 form-group">
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span>Purchase Rate</span> <i
							class="mdi mdi-plus-circle pull-right"
							style="padding-right: 5px; cursor: pointer;"
							ng-click="vm.addPurchaseRate()"> </i>
					</div>
					<div class="card-body row">
						<table class="table purchase-item-container">
							<thead>
								<tr>
									<th></th>
									<th>Purchase Rate</th>
									<th>W.E.F Date</th>
									<th>W.E.T Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="itemPurchaseRateObj in vm.billInkDashboardService.item.itemPurchaseRateList">
									<td></td>
									<td ng-bind="itemPurchaseRateObj.itemPurchaseRate"></td>
									<td ng-bind="itemPurchaseRateObj.wefPurchaseRateDate"></td>
									<td ng-bind="itemPurchaseRateObj.wetPurachaseRateDate"></td>
									<td></td>
									<td><i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.deletePurchaseRate($index)"> </i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- Product Rate End  -->
		<div class="row col-sm-12 col-lg-12 col-md-12">
			<div class="col-sm-12">
				<button class="btn btn-default pull-right btn-md"
					ng-click="vm.closeItemDataSave()">Cancel</button>
				<button class="btn btn-primary pull-right btn-md"
					ng-if="vm.manageItemDataService.requestType === 'Add'"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndSaveItemData()">Save</button>
				<button class="btn btn-primary pull-right btn-md"
					ng-if="vm.manageItemDataService.requestType === 'Edit'"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndUpdateItemData()">Update</button>
			</div>
		</div>

	</form>

	<div id="add-document-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Company Document</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType">Document Type</label> <select
								class="form-control" ng-model="vm.itemDocumentObj.documentType"
								id="documentType"
								ng-options="documentType for documentType in vm.billInkDashboardService.documentTypeList">
							</select>
						</div>

						<div class="col-sm-12 col-sm-12 form-group">
							<label for="documentFile">Document</label> <input
								id="documentFile" class="form-control-file" type="file"
								file-model="vm.itemDocumentFile" />
						</div>

						<div class="form-group row col-sm-12">
							<label for="documentDesc">Description</label>
							<textarea id="documentDesc" maxlength="500" class="form-control"
								ng-model="vm.itemDocumentObj.description"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedDocumentModal()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveDocument()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Alias Pop Start -->
	<div id="add-alias-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Item Alias</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType">Item Alias Name</label> <input
								id="itemAliasName" maxlength="255" class="form-control"
								type="text" ng-model="vm.itemAliasObj.itemAliasName" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedAliasModal()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveItemAlias()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Alias Pop End  -->


	<!-- Batch Pop Start -->
	<div id="add-batch-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Item Batch</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType">Batch No.</label> <input id="batchNo"
								maxlength="255" class="form-control" type="text"
								ng-model="vm.itemBatchObj.batchNo" />
						</div>


						<div class="col-sm-12 col-sm-12 form-group">
							<label for="mfgDate">Mfg. Date</label> <input id="mfgDate"
								class="form-control" type="date"
								ng-model="vm.itemBatchObj.mfgDate" />
						</div>



						<div class="col-sm-12 col-md-6 col-lg-6 form-group">
							<label for="billNumber">SelfLife</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<select
										class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
										id="dayMonthDD">
										<option value="Month">Month</option>
										<option value="days">Days</option>
									</select>
								</div>
								<input id="shelfLife" class="form-control" type="number" min="1"
									ng-model="vm.itemBatchObj.shelfLife" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedBatchModal()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveBatch()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Batch Pop End  -->
	<!-- Mrp Pop Start -->
	<div id="add-mrp-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Item MRP</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType">MRP</label> <input id="itemMrp"
								maxlength="255" class="form-control" type="text"
								ng-model="vm.itemMrpObj.itemMrp" />
						</div>

						<div class="form-group row col-sm-12">
							<label for="expDate">W.E.F Date</label> <input id="wefDate"
								class="form-control" type="date"
								ng-model="vm.itemMrpObj.wefDate" ng-change="vm.checkMrpDate()" />
						</div>
						<div class="col-sm-12 col-sm-12 form-group">
							<label for="mfgDate">W.E.T Date</label> <input id="wetDate"
								class="form-control" type="date"
								ng-model="vm.itemMrpObj.wetDate" ng-change="vm.checkMrpDate()"/>
						</div>							
						

						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedMrpRateModal()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveMrp()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Mrp Pop End  -->

	<!-- Purchase Rate Pop Start -->
	<div id="add-purchaserate-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Item Purchase Rate</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType">Purchase Price</label> <input
								id="itemPurchaseRate" maxlength="255" class="form-control"
								type="text" ng-model="vm.itemPurchaseRateObj.itemPurchaseRate" />
						</div>
						
						
						<div class="form-group row col-sm-12">
							<label for="expDate">W.E.F Date</label> <input id="wefDate"
								class="form-control" type="date" 
								ng-model="vm.itemPurchaseRateObj.wefPurchaseRateDate" ng-change="vm.checkDate()"/>
						</div>
						
						
						<div class="col-sm-12 col-sm-12 form-group">
							<label for="wetPurachaseRateDate">W.E.T Date</label> <input
								id="wetPurachaseRateDate" class="form-control" type="date" 
								ng-model="vm.itemPurchaseRateObj.wetPurachaseRateDate"  ng-change="vm.checkDate()"/>
						</div>
										
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedMrpModal()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.savePurchaseRate()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Purchase Rate Pop End  -->
</div>