<div class="col-sm-12 col-md-6 form-group">
	<label for="itemName">Item Name</label> <input id="itemName"
		maxlength="255" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.item.itemName" required/>
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="itemPhoto">Item Photo</label> 
	<input type="file"
		accept="image/*" 
		class="form-control-file" file-model="vm.profilePhotoFile" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="category">Category</label> <select class="form-control"
		ng-model="vm.billInkDashboardService.item.category.categoryId" id="category"
		ng-init="vm.billInkDashboardService.item.category.categoryId = vm.billInkDashboardService.categoryList[0].categoryId"
		ng-options="category.categoryId as category.categoryName for category in vm.billInkDashboardService.categoryList">
	</select>
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="brand">Brand</label> <select class="form-control"
		ng-model="vm.billInkDashboardService.item.brand.brandId" id="category"
		ng-init="vm.billInkDashboardService.item.brand.brandId = vm.billInkDashboardService.brandList[0].brandId"
		ng-options="brand.brandId as brand.brandName for brand in vm.billInkDashboardService.brandList">
	</select>
</div>
<div class="col-md-6 col-md-6 form-group">
	<label for="hsnCode">HSN/SAC Code</label> <input id="hsnCode" maxlength="12"
		 class="form-control" type="number"
		ng-model="vm.billInkDashboardService.item.hsnCode" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="taxCode">Tax Code</label> <select class="form-control"
		ng-model="vm.billInkDashboardService.item.taxCode" id="taxCode"
		ng-options="taxCode for taxCode in vm.billInkDashboardService.taxCodeList">
	</select>
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="cess">Cess</label> <input type="number" maxlength="6"
		id="cess" class="form-control" ng-model="vm.billInkDashboardService.item.cess" step="any" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="measureUnit">Measure Unit</label> <select
		class="form-control" ng-model="vm.billInkDashboardService.item.measureUnit" id="measureUnit"
		ng-options="measureUnit for measureUnit in vm.billInkDashboardService.itemMeasureUnit">
	</select>
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="quantity">Opening Quantity</label> <input id="quantity"
		class="form-control" type="number" ng-model="vm.billInkDashboardService.item.quantity" 
		step="any" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="sellRate">Sell Rate / MRP</label> <input id="sellRate" maxlength="8"
		class="form-control" type="number" ng-model="vm.billInkDashboardService.item.sellRate"
		step="any" />
</div>

<div class="col-sm-12 col-md-6 col-lg-6 form-group">
			<label for="billNumber">Item SKU</label>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" ng-bind="vm.billInkDashboardService.item.itemNumberPrefix"></span>
				</div>
				<input id="billNumber" maxlength="255" class="form-control"
					type="text" ng-model="vm.billInkDashboardService.item.currentItemNumber" />
			</div>
		</div>
<!-- <div class="col-sm-12 col-md-6 form-group">
	<label for="sku">Item SKU</label> <input id="sku"
		maxlength="255" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.item.sku" />
</div>	 -->
<div class="col-sm-12 col-md-6 form-group">
	<label for="eanNo">Item EAN No.</label> <input id="eanNo"
		maxlength="50" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.item.eanNo"/>
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="innerContains">Inner Contains</label> <input id="innerContains" 
		maxlength="10" type="text" class="form-control" 
		ng-model="vm.billInkDashboardService.item.innerContains" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="innnerWeightKg">Inner Weight(kg)</label> <input id="innnerWeightKg" 
		maxlength="10" type="text" class="form-control" 
		ng-model="vm.billInkDashboardService.item.innnerWeightKg" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="innerBoxSize">Inner BoxSize</label> <input id="innerBoxSizeL"
		maxlength="3" type="number" class="form-control"
		ng-model="vm.billInkDashboardService.item.innerBoxSizeL" placeholder="Length"/>
		<input id="innerBoxSizeB"
		maxlength="3" type="number" class="form-control"
		ng-model="vm.billInkDashboardService.item.innerBoxSizeB" placeholder="Breadth"/>
		<input id="innerBoxSizeH"
		maxlength="3" type="number" class="form-control"
		ng-model="vm.billInkDashboardService.item.innerBoxSizeH" placeholder="Height"/>
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="outerContains"> Outer Contains</label> <input id="outerContains"  min="1"
		maxlength="10" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.item.outerContains" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="outerWeight"> Outer Weight</label> <input id="outerWeight" min="1"
		maxlength="10" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.item.outerWeight" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="outerBoxSize"> Outer BoxSize</label> <input id="outerBoxSizeL"
		maxlength="3" type="number" class="form-control" placeholder="Length"
		ng-model="vm.billInkDashboardService.item.outerBoxSizeL" />
		<input id="outerBoxSizeB"
		maxlength="3" type="number" class="form-control"
		ng-model="vm.billInkDashboardService.item.outerBoxSizeB" placeholder="Breadth"/>
		<input id="outerBoxSizeH"
		maxlength="3" type="number" class="form-control"
		ng-model="vm.billInkDashboardService.item.outerBoxSizeH" placeholder="Height"/>
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="productMeasurement"> productMeasurement</label> <input id="productMeasurement"
		maxlength="25" type="text" class="form-control"
		ng-model="vm.billInkDashboardService.item.productMeasurement" />
</div>