<div class="col-lg-4 col-md-6 col-sm-12 card-container"
	ng-repeat="itemObj in vm.manageItemDataService.itemList">
	<div class="card-border">
		<i class="mdi mdi-delete pull-right" style="padding-right: 10px; cursor: pointer;" 
			ng-click="vm.showDeletePrompt(itemObj.itemId)">
		</i>
		<div style="text-align: center; padding-top: 10px; padding-bottom: 10px; cursor: pointer;"
				ng-click="vm.editItemData(itemObj.itemId)">
			<img src="{{itemObj.profilePhotoURL}}"
				style="max-width: 200px;"
				height="150px" alt="Card image cap">
		</div>
		<div class="card-body" style="cursor: pointer;"
				ng-click="vm.editItemData(itemObj.itemId)">
			<h5 class="card-title" style="text-align: center;"
				ng-bind="::itemObj.itemName"></h5>
			<p class="card-text">
			<div class="col-sm-12">
				<label class="bold-text">Tax Code </label> <span
					ng-bind="::itemObj.taxCode"></span>
			</div>
			<div class="col-sm-12">
				<label class="bold-text">HSN code </label> <span
					ng-bind="::itemObj.hsnCode"></span>
			</div>
			</p>
		</div>
	</div>
</div>