<div class="col-sm-12 col-md-6 form-group">
	<label for="buyerName">Buyer Name</label> <input id="buyerName"
		class="form-control" type="text" maxlength="255"
		ng-model="vm.billInkDashboardService.buyer.buyerName" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="buyerMobileNo">Mobile No.</label> <input id="buyerMobileNo"
		class="form-control" type="number" maxlength="255"
		ng-model="vm.billInkDashboardService.buyer.buyerMobileNo" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="address">Address</label> <input id="address"
		class="form-control" type="text" maxlength="255"
		ng-model="vm.billInkDashboardService.buyer.address" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="address">city</label> <input id="city"
		class="form-control" type="text" maxlength="255"
		ng-model="vm.billInkDashboardService.buyer.city" />
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="address">State</label> 
		 <select class="form-control"
								ng-model="vm.billInkDashboardService.buyer.stateId"
								id="userState"
								
								ng-options="state.stateId as state.stateName for state in vm.billInkDashboardService.stateList.stateList">
							</select>
</div>
<div class="col-sm-12 col-md-6 form-group">
	<label for="pan">Pan No.</label> <input id="pan"
		class="form-control" type="text" maxlength="255"
		ng-model="vm.billInkDashboardService.buyer.pan" />
</div>

<div class="col-sm-12 col-md-6 form-group">
	<label for="adharNo">Adhar No.</label> <input id="adharNo"
		class="form-control" type="text" maxlength="255"
		ng-model="vm.billInkDashboardService.buyer.adharNo" />
</div>