<style>
.card-container div:focus {
  color: red;
}
</style>

<div class="row col-sm-12" style="padding-top: 10px;" ng-if="vm.manageCategoryService.categoryList.length > 0">
	<table class="table" style="background: white;">
		<thead>
			<tr>
				<th>Category Id</th>
				<th>Category Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="categoryObj in vm.manageCategoryService.categoryList">
				<td ng-bind="categoryObj.categoryId"></td>
				<td ng-bind="categoryObj.categoryName"></td>
				<td>
					<i class="mdi mdi-delete pull-right" style="padding-right: 5px; cursor: pointer;"
							ng-click="vm.deleteCategory(categoryObj.categoryId)"> </i> 
					<i class="mdi mdi-pencil pull-right" style="padding-right: 5px; cursor: pointer;"
									ng-click="vm.editCategory(categoryObj.categoryId, categoryObj.categoryName)"> </i>
				</td>
			</tr>
		</tbody>
	</table>
</div>