
<style>
.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #555;
	cursor: default;
	background-color: #EEF5F9;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	text-decoration: none;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	text-decoration: none;
}

.nav>li>a {
	/* position: relative; */
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}

.padd {
	padding-right: 15px;
	padding-left: 15px;
}

.w66 {
	width: 66.67%;
}

.w33 {
	width: 33.33%;
}
</style>
<ul class="nav nav-tabs">
	<li id="Overview" class="active"><a href="javascript:void(0)"
		ng-click="vm.change(0)">Overview</a></li>
	<li id="Intelligence"><a href="javascript:void(0)"
		ng-click="vm.change(1)">Intelligence</a></li>
</ul>
<div ng-if="vm.flag==0">
	<div ng-repeat="d in vm.dashBoardDataService.dataPassList"
		ng-init="vm.init1($index)"></div>
	<div class="col-sm-12 row">
		<div class="col-lg-4 col-md-4 col-sm-12 card-container"
			ng-repeat="dataObj in vm.dashBoardDataService.dataList">
			<div class="card-border" style="cursor: pointer;">
				<div class="card-header"
					style="text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
					<span ng-bind="::dataObj[0].type"></span>
				</div>
				<div class="card-body row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-sm-6">
								<div class="row">
									<div class="w66 padd">
										<label class="bold-text">Total Sales</label>
									</div>
									<div class="w34 padd">
										<span ng-bind="::dataObj[0].sale"></span>
									</div>
								</div>

							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="w66 padd">
										<label class="bold-text">Total Purchase</label>
									</div>
									<div class="w33 padd">
										<span ng-bind="::dataObj[0].purchase"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="row">
									<div class="w66 padd">
										<label class="bold-text">Total Payment</label>
									</div>
									<div class="w33 padd">
										<span ng-bind="::dataObj[0].payment"></span>
									</div>
								</div>

							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="w66 padd">
										<label class="bold-text">Total Reciept</label>
									</div>
									<div class="w33 padd">
										<span ng-bind="::dataObj[0].reciept"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="row">
									<div class="w66 padd">
										<label class="bold-text">Total Payables</label>
									</div>
									<div class="w33 padd">
										<span ng-bind="::dataObj[0].payables"></span>
									</div>
								</div>

							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="w66 padd">
										<label class="bold-text">Total Recievables</label>
									</div>
									<div class="w33 padd">
										<span ng-bind="::dataObj[0].recievables"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="row">
									<div class="w66 padd">
										<label class="bold-text">Total Expense</label>
									</div>
									<div class="w33 padd">
										<span ng-bind="::dataObj[0].expense"></span>
									</div>
								</div>

							</div>
							<div class="col-sm-6"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="vm.flag==1">
	<div ng-repeat="d in vm.dashBoardDataService.dataPassList"
		ng-init="vm.init1($index)"></div>
	<div class="col-sm-12 row">
		<div class="col-lg-4 col-md-4 col-sm-12 card-container"
			ng-repeat="dataObj in vm.dashBoardDataService.dataList">
			<div class="card-border" style="cursor: pointer;">
				<div class="card-header"
					style="text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
					<span ng-bind="::dataObj[0].type"></span>
				</div>
				<div class="card-body row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="w66 padd">
								<label class="bold-text">Sales Vs. Purchase</label>
							</div>
							<div class="w34 padd">
								<span ng-bind="::dataObj[0].sale"></span>
								Vs.
								<span ng-bind="::dataObj[0].purchase"></span>
							</div>
						</div>
						<div class="row">
							<div class="w66 padd">
								<label class="bold-text">Sales Vs. Exps.</label>
							</div>
							<div class="w34 padd">
								<span ng-bind="::dataObj[0].sale"></span>
								Vs.
								<span ng-bind="::dataObj[0].expense"></span>
							</div>
						</div>
						<div class="row">
							<div class="w66 padd">
								<label class="bold-text">Receipts Vs. Payments</label>
							</div>
							<div class="w34 padd">
								<span ng-bind="::dataObj[0].reciept"></span>
								Vs.
								<span ng-bind="::dataObj[0].payment"></span>
							</div>
						</div>
						<div class="row">
							<div class="w66 padd">
								<label class="bold-text">Total Receivables Vs. Payables</label>
							</div>
							<div class="w34 padd">
								<span ng-bind="::dataObj[0].recievables"></span>
								Vs.
								<span ng-bind="::dataObj[0].payables"></span>
							</div>
						</div>
						<div class="row">
							<div class="w66 padd">
								<label class="bold-text">Sales Vs. Receipts</label>
							</div>
							<div class="w34 padd">
								<span ng-bind="::dataObj[0].sale"></span>
								Vs.
								<span ng-bind="::dataObj[0].reciept"></span>
							</div>
						</div>
						<div class="row">
							<div class="w66 padd">
								<label class="bold-text">Sales Vs. Receivables</label>
							</div>
							<div class="w34 padd">
								<span ng-bind="::dataObj[0].sale"></span>
								Vs.
								<span ng-bind="::dataObj[0].recievables"></span>
							</div>
						</div>
						<div class="row">
							<div class="w66 padd">
								<label class="bold-text">Purchase Vs. Payments</label>
							</div>
							<div class="w34 padd">
								<span ng-bind="::dataObj[0].purchase"></span>
								Vs.
								<span ng-bind="::dataObj[0].payment"></span>
							</div>
						</div>
						<div class="row">
							<div class="w66 padd">
								<label class="bold-text">Purchase Vs. Payables</label>
							</div>
							<div class="w34 padd">
								<span ng-bind="::dataObj[0].purchase"></span>
								Vs.
								<span ng-bind="::dataObj[0].payables"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>