<style>
.editPurchase>tr>th {
	border: none !important;
}

.displayblock {
	display: contents !important;
}
</style>

<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="addCreditNoteDataController as vm"
	class="row col-sm-12" style="padding-top: 10px; padding-bottom: 10px;"
	ng-init="vm.init()">
	<div class="col-sm-12">
		<input type="image" src="../images/back-button.png"
			ng-click="vm.closeAddEditCreditNoteScreen()" height="40px"
			width="40px" />
	</div>
	<div class="row col-sm-12">
		<div class="col-sm-2 col-md-2 col-lg-2"
			ng-if="vm.manageCreditNoteDataService.requestFor === 'uploadImage'"></div>
		<div
			ng-class="{'col-sm-8 row': vm.manageCreditNoteDataService.requestFor === 'uploadImage', 'col-sm-12 row': vm.manageCreditNoteDataService.requestFor === 'enterManually'}">
			<div class="col-sm-12 col-sm-12 form-group"
				ng-if="vm.manageCreditNoteDataService.requestType === 'Edit' && vm.manageCreditNoteDataService.requestFor === 'uploadImage'">
				<label for="imageURL">CreditNote Photo</label> <input type="file"
					class="form-control-file" accept="image/*" multiple="multiple"
					file-model="vm.profilePhotoFile" /> <br />
				<div class="col-sm-12 row" style="cursor: pointer;">
					<div class="col-sm-2"
						style="padding: 0px; position: relative; margin-right: 10px; margin-top: 10px;"
						ng-repeat="imageURLObj in vm.creditNote.imageURLList track by $index">
						<i class="mdi mdi-close-circle-outline"
							ng-click="vm.deleteImage($index)"
							style="position: absolute; top: -15px; right: -10px; font-size: 20px;"></i>
						<img style="height: 100px; width: 100%" alt="No Image"
							src="{{imageURLObj.imageURL}}"
							ng-click="vm.openImageModel($index)">
					</div>
				</div>
			</div>
			<div class="col-sm-12 form-group"
				ng-if="vm.manageCreditNoteDataService.requestType === 'Add' && vm.manageCreditNoteDataService.requestFor === 'uploadImage'">
				<label for="imageURL">CreditNote Photo</label> <input type="file"
					class="form-control-file" accept="image/*" multiple="multiple"
					file-model="vm.profilePhotoFile" />
			</div>
			<div class="col-sm-12 form-group">
				<label for="userName">Select Ledger</label>
				<div class="dropdown">
					<div class="input-group">
						<input class="form-control dropdown-toggle"
							ng-change="vm.searchLedger()" ng-model="vm.searchLedgerNameText"
							type="text" autocomplete="off" placeholder="search company..."
							data-toggle="dropdown" />
						<ul class="dropdown-menu col-sm-12"
							ng-if="vm.searchLedgerList.length > 0">
							<li ng-repeat="ledgerObj in vm.searchLedgerList"
								ng-click="vm.selectLedger(ledgerObj)"><span
								ng-bind="ledgerObj.ledgerName"></span></li>
						</ul>
						<div class="input-group-pospend">
							<span class="input-group-text"
								style="padding-left: 5px; padding-right: 5px; height: 42px;"> <i
								class="mdi mdi-plus-circle pull-right" title="Add Item"
								style="cursor: pointer;" ng-click="vm.addLedgerData()"> </i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div
				ng-class="{'col-sm-12 form-group': vm.manageCreditNoteDataService.requestFor === 'uploadImage', 'col-sm-6 form-group': vm.manageCreditNoteDataService.requestFor === 'enterManually'}">
				<label for="billNumber">Bill Number</label>
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" ng-bind="vm.creditNote.billNumberPrefix"></span>
				  </div>
				  <input id="billNumber"
 					maxlength="255" class="form-control" type="text" ng-model="vm.creditNote.currentBillNumber" />
				</div>
				<!-- 				<input id="billNumber" maxlength="255"  -->
				<!-- 					placeholder="bill number..." -->
				<!-- 					class="form-control" type="text" ng-model="vm.creditNote.currentBillNumber" /> -->
			</div>
			<div
				ng-class="{'col-sm-12 form-group': vm.manageCreditNoteDataService.requestFor === 'uploadImage', 'col-sm-6 form-group': vm.manageCreditNoteDataService.requestFor === 'enterManually'}"
				ng-if="vm.manageCreditNoteDataService.requestFor === 'enterManually'">
				<label for="billDate">CreditNote Date</label> <input id="billDate"
					class="form-control" type="date"
					ng-model="vm.creditNote.creditNoteDateObj" />
			</div>
			<div
				ng-class="{'col-sm-12 form-group': vm.manageCreditNoteDataService.requestFor === 'uploadImage', 'col-sm-6 form-group': vm.manageCreditNoteDataService.requestFor === 'enterManually'}">
				<label for="userName">Reference Number 1</label> <input
					id="userName" class="form-control" type="text" maxlength="255"
					placeholder="reference number 1"
					ng-model="vm.creditNote.referenceNumber1" />
			</div>
			<div
				ng-class="{'col-sm-12 form-group': vm.manageCreditNoteDataService.requestFor === 'uploadImage', 'col-sm-6 form-group': vm.manageCreditNoteDataService.requestFor === 'enterManually'}">
				<label for="userName">Reference Number 2</label> <input
					id="userName" class="form-control" type="text" maxlength="255"
					placeholder="reference number 2"
					ng-model="vm.creditNote.referenceNumber2" />
			</div>

			<div class="col-sm-12 col-md-6 col-lg-6 form-group">
				<label for="billDate">Bill Date</label> <input id="billDate"
					class="form-control" type="date" ng-model="vm.creditNote.billDate" />
			</div>

			<div class="col-sm-12 col-md-6 col-lg-6 form-group">
				<label for="poNo">PO No.</label> <input id="poNo"
					class="form-control" type="text" maxlength="255"
					ng-model="vm.creditNote.poNo" />
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 form-group">
				<label for="lrNo">LR No.</label> <input id="lrNo"
					class="form-control" type="text" maxlength="255"
					ng-model="vm.creditNote.lrNo" />
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 form-group">
				<label for="eWayBillNo">E-Way BillNo.</label> <input id="eWayBillNo"
					class="form-control" type="text" maxlength="255"
					ng-model="vm.creditNote.eWayBillNo" />
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 form-group">
				<!-- <label for="cityName">City Name</label> <input id="cityName"
					class="form-control" type="text" maxlength="255"
					ng-model="vm.debitNote.cityName" /> -->
				<label for="cityName">City Name</label> <select class="form-control"
					ng-change="vm.getLedgerCityList();"
					ng-model="vm.creditNote.cityName" id="cityId">
					<option ng-repeat="data in vm.ledgerCityList" value="{{data.city}}"
						ng-selected="vm.creditNote.cityName == data.city">{{data.city}}</option>
				</select>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 form-group">
				<label for="gstNumber">GST Number</label>
				<!-- <input id="gstNumber"
					class="form-control" type="text" maxlength="255"
					ng-model="vm.debitNote.gstNumber" /> -->
				<input id="gstnum" class="form-control" type="text"
					ng-bind="vm.creditNote.gstNumber"
					ng-model="vm.creditNote.gstNumber" readonly="true" />

			</div>
			<input type="hidden" ng-model="vm.creditNote.originalInvoiceNumber">

			<!-- 	<div class="col-sm-12 col-md-6 col-lg-6 form-group">
				<label for="originalInvoiceNumber">Original Invoice Number</label> 
				<input
					id="gstNumber" class="form-control" type="text" maxlength="255"
					ng-model="vm.creditNote.originalInvoiceNumber" />
					<select class="form-control"
							ng-click="vm.getLedgerSellDetails();"
										ng-model="vm.creditNote.InvoiceNumber"
										id="originalInvoiceNumber">
											<option ng-repeat="data in vm.ledgerSellList"
												value="{{data.billNo+'@'+data.sellBillDate+'@'+data.itemName+'@'+data.quantity+'@'+data.batchNo+'@'+data.mfgDate+'@'+data.expDate+'@'+data.itemId+'@'+data.sellId}}" ng-selected="vm.creditNote.originalInvoiceNumber == data.billNo">{{data.billNo +"Date :" +data.sellBillDate}}</option>
					</select>
			</div> -->
			<input type="hidden" ng-model="vm.creditNote.originalInvoiceDate">
			<!-- 	<div class="col-sm-6 form-group">
				<label for="InvoiceDate">Original Invoice Date</label> <input
					id="InvoiceDate" class="form-control" type="date"
					ng-model="vm.creditNote.originalInvoiceDate" />
			</div> -->

			<div class="col-sm-12 form-group">
				<label for="firstName">Description</label>
				<textarea id="firstName" placeholder="description..."
					class="form-control" type="text"
					ng-model="vm.creditNote.description">
				</textarea>
			</div>

			<div class="col-sm-12 col-sm-12 form-group">
				<label for="sellBill">Select Sale Bill</label>
				<div class="dropdown">
					<input class="form-control dropdown-toggle"
						ng-change="vm.searchSellBill()" ng-model="vm.searchBillNumber"
						type="text" autocomplete="off"
						placeholder="search sale bill number..." data-toggle="dropdown" />
					<ul class="dropdown-menu col-sm-12"
						ng-if="vm.searchSellBillList.length > 0">
						<li ng-repeat="sellObj in vm.searchSellBillList"
							ng-click="vm.selectSellBill(sellObj)">
							<div class="col-sm-12" ng-if="sellObj.imageURL">
								<img alt="No IMG" src="{{sellObj.imageURL}}" width="50px"
									height="50px"> #<span ng-bind="sellObj.sellId"></span>
								<div style="float: right;">
									<span style="font-weight: bold;">Add D/T : </span> <span
										ng-bind="sellObj.addedDateTime"></span>
								</div>
							</div>
							<div class="col-sm-12" ng-if="!sellObj.imageURL">
								#<span ng-bind="sellObj.sellId"></span> <span
									style="font-weight: bold;"> Total Amount : </span> <span
									ng-bind="sellObj.totalBillAmount"></span>
								<div style="float: right;">
									<span style="font-weight: bold;">Sale D/T : </span> <span
										ng-bind="sellObj.sellDate"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-sm-12 form-group">
				<div class="card col-sm-12"
					ng-repeat="creditNoteSellMapping in vm.creditNote.creditNoteSellMappingList">

					<div class="card-header">
						#<span ng-bind="creditNoteSellMapping.sell.sellId"></span> <i
							class="mdi mdi-delete pull-right"
							style="padding-right: 10px; cursor: pointer;"
							ng-click="vm.deleteFromSeletedSell(creditNoteSellMapping.sell)"></i>
					</div>

					<div class="card-body row">
						<div class="col-sm-12" ng-if="creditNoteSellMapping.sell.imageURL">
							<img alt="No IMG" src="{{creditNoteSellMapping.sell.imageURL}}"
								width="70px" height="100px">
							<div style="float: right;">
								<span style="font-weight: bold;">Add D/T : </span> <span
									ng-bind="creditNoteSellMapping.sell.addedDateTime"></span>
							</div>
						</div>
						<div class="col-sm-12"
							ng-if="!creditNoteSellMapping.sell.imageURL">
							<span style="font-weight: bold;">Total Amount : </span> <span
								ng-bind="creditNoteSellMapping.sell.totalBillAmount"></span>
							<div style="float: right;">
								<span style="font-weight: bold;">Sale D/T : </span> <span
									ng-bind="creditNoteSellMapping.sell.sellDate"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="col-sm-12 col-md-12 col-lg-12 creditNote-item-list-container"
				ng-if="vm.manageCreditNoteDataService.requestFor === 'enterManually'">
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span>Item List</span>
					</div>
					<div class="card-body row">
						<table class="table creditNote-item-container">
							<thead>
								<tr>
									<th>No</th>
									<th style="width: 15%;">Item Name/HSN</th>
									<th style="width: 7%">Quantity</th>
									<th style="width: 5%">Rate</th>
									<th style="width: 5%;">Discount</th>
									<th style="width: 5%;">Additional Discount</th>
									<th style="width: 7%">Amount</th>
									<th style="width: 8%;">Tax Rate</th>

									<th style="width: 5%;"></th>
									<!-- <th style="width: 20%;">Item Name/HSN</th>
									<th style="width: 7%">Quantity</th>
									<th style="width: 8%">Rate</th>
									<th style="width: 10%;">Discount</th>
									<th style="width: 7%">Amount</th>
									<th style="width: 8%;">Tax Rate</th>
									<th style="width: 7%">SGST</th>
									<th style="width: 7%">CGST</th>
									<th style="width: 7%">IGST</th>
									<th style="width: 10%;">Amount</th>
									<th style="width: 5%;"></th> -->
								</tr>
							</thead>
							<tbody ng-repeat="number in vm.numberOfItem track by $index"
								class="editPurchase">
								<tr>
									<td><span ng-bind="($index + 1)"></span></td>
									<td>
										<div class="dropdown">
											<div class="input-group mb-3">
												<input class="form-control dropdown-toggle"
													ng-change="vm.fetchItemList($index)"
													ng-model="vm.creditNote.creditNoteItemMappingList[$index].item.itemName"
													type="text" autocomplete="off" placeholder="search item..."
													data-toggle="dropdown" />
												<ul class="dropdown-menu col-sm-12"
													ng-if="vm.itemList[$index].itemData.length > 0">
													<li ng-repeat="itemObj in vm.itemList[$index].itemData"
														ng-click="vm.selectItem($parent.$index, itemObj)"><span
														ng-bind="itemObj.itemName"></span></li>
												</ul>
												<div class="input-group-pospend">
													<span class="input-group-text"
														style="padding-left: 5px; padding-right: 5px; height: 42px;"> <i
														class="mdi mdi-plus-circle pull-right" title="Add Item"
														style="cursor: pointer;"
														ng-click="vm.billInkDashboardService.launchAddItemModel()">
													</i>
													</span>
												</div>
											</div>
											<span
												ng-bind="vm.creditNote.creditNoteItemMappingList[$index].item.hsnCode"></span>
										</div>
									</td>
									<td><input class="form-control" type="number" step="any"
										min="0"
										ng-model="vm.creditNote.creditNoteItemMappingList[$index].quantity"
										placeholder="quantity"></td>
									<td><input type="number" step="any" class="form-control"
										min="0"
										ng-model="vm.creditNote.creditNoteItemMappingList[$index].sellRate"
										placeholder="Sale Rate"></td>
									<td>
										<div class="input-group">
											<input type="number" step="any" min="0"
												ng-model="vm.creditNote.creditNoteItemMappingList[$index].discount"
												class="form-control" placeholder="Discount">
											<div class="input-group-append">
												<div class="btn-group btn-group-toggle"
													data-toggle="buttons">
													<button class="btn btn-primary"
														ng-click="vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount = !vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">
														<span
															ng-if="vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">$</span>
														<span
															ng-if="!vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">%</span>
													</button>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="input-group">
											<input type="number" step="any"
												ng-model="vm.creditNote.creditNoteItemMappingList[$index].additionaldiscount"
												class="form-control" placeholder="Additional Discount">
											<!-- <div class="input-group-append">
												<div class="btn-group btn-group-toggle"
													data-toggle="buttons">
													<button class="btn btn-primary"
														ng-click="vm.creditNote.creditNoteItemMappingList[$index].addmeasureDiscountInAmount = !vm.creditNote.creditNoteItemMappingList[$index].addmeasureDiscountInAmount">
														<span
															ng-if="vm.creditNote.creditNoteItemMappingList[$index].addmeasureDiscountInAmount">$</span>
														<span
															ng-if="!vm.creditNote.creditNoteItemMappingList[$index].addmeasureDiscountInAmount">%</span>
													</button>
												</div>
											</div> -->
										</div>
									</td>
									<td><span ng-bind="vm.getItemLevelAmount($index)"></span></td>
									<td><select class="form-control"
										ng-model="vm.creditNote.creditNoteItemMappingList[$index].taxRate"
										id="taxCode"
										ng-options="taxCode for taxCode in vm.taxCodeList">
									</select></td>
									<td><i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-if="vm.billInkDashboardService.userRole === 'Vendor'"
										ng-click="vm.deleteCreditNoteItem($index)"> </i> <i
										class="mdi mdi-plus-circle pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.AddItem()"> </i></td>
								</tr>

								<!--  ============Free Item row Start ----- -->
								<tr class="freeItemRow"
									ng-class="{'displayblock' : vm.creditNote.creditNoteItemMappingList[$index].FreeitemName && vm.creditNote.creditNoteItemMappingList[$index].quantity >= vm.totalQtyOfFreeItems}"
									style="display: none;">
									<td>Free Item</td>
									<td>
										<div class="dropdown">
											<div class="input-group mb-3">
												<input class="form-control dropdown-toggle"
													ng-model="vm.creditNote.creditNoteItemMappingList[$index].FreeitemName"
													type="text" autocomplete="off" placeholder="Item Name" />
											</div>
											<span
												ng-model="vm.creditNote.creditNoteItemMappingList[$index].freeItemId"></span>
										</div>
									</td>
									<td><input class="form-control" type="number" step="any"
										min="0"
										ng-model="vm.creditNote.creditNoteItemMappingList[$index].freequantity"
										placeholder="quantity"></td>
									<td><input type="number" step="any" class="form-control"
										placeholder="0"></td>
									<td>
										<div class="input-group">
											<input type="number" step="any" class="form-control"
												placeholder="0">
											<div class="input-group-append">
												<div class="btn-group btn-group-toggle"
													data-toggle="buttons"></div>
											</div>
										</div>
									</td>
									<td></td>
									<td><select class="form-control"
										ng-model="vm.creditNote.creditNoteItemMappingList[$index].taxRatefreeItem"
										id="taxCodefreeItem"
										ng-options="taxCode for taxCode in vm.taxCodeList">
									</select></td>
									<td>0.00</td>
									<td>0.00</td>
									<td>0.00</td>
									<td>0.00</td>
									<td></td>
								</tr>
								<!--     ========== Free Item End ===========                -->
								<tr>
									<th></th>
									<th style="width: 7%">SGST</th>
									<th style="width: 7%">CGST</th>
									<th style="width: 7%">IGST</th>
									<th style="width: 15%;">Amount(withTax)</th>
									<th style="width: 15%;">Location</th>
									<th style="width: 10%;">Batch No.</th>
									<th style="width: 20%;">MFG. Date</th>
									<!-- <th>SelfLife</th> -->
									<th style="width: 20%;">Exp. Date</th>
									<!-- <th>Location</th>
									<th style="width: 15%;">Batch No.</th>
									<th style="width: 20%;">MFG. Date</th>
									<th>SelfLife</th>
									<th style="width: 20%;">Exp. Date</th> -->
									<th></th>
								</tr>

								<tr>
									<td></td>
									<td><span ng-bind="vm.getSGSTAmount($index)"></span></td>
									<td><span ng-bind="vm.getCGSTAmount($index)"></span></td>
									<td><span ng-bind="vm.getIGSTAmount($index)"></span></td>
									<td><span ng-bind="vm.getAmount($index)"></span></td>

									<td><select class="form-control"
										
										ng-model="vm.creditNote.creditNoteItemMappingList[$index].locationId"
										ng-options="data.locationId as data.locationName for data in vm.locationList"
										id="locationId">
											<!-- <option ng-repeat="data in vm.locationList[$index]"
											value="{{data.locationId}}">{{data.locationName}}</option> -->
									</select> <!-- <select class="form-control"
										ng-click="vm.getLocationList($index);"
										ng-model="vm.creditNote.creditNoteItemMappingList[$index].locationId"
										id="locationId">
											<option ng-repeat="data in vm.locationList[$index]"
												value="{{data.locationId}}">{{data.locationName}}</option>
									</select> --></td>
									<td style="width: 15%;">
										<div class="dropdown">
											<div class="input-group mb-3">

												<select class="form-control"
													ng-model="vm.creditNote.creditNoteItemMappingList[$index].batchId"
													ng-change="vm.getOneBatch($index);"
													ng-options="data.batchId as data.batchNo for data in vm.creditNote.creditNoteItemMappingList[$index].batchNoList"
													id="batchId"></select>
												<!-- <input class="form-control dropdown-toggle"
													ng-change="vm.fetchBatchNoItemList($index)"
													ng-model="vm.creditNote.creditNoteItemMappingList[$index].batchno"
													type="text" autocomplete="off" placeholder="Add BatchNo..." /> -->
												<span
													ng-model="vm.creditNote.creditNoteItemMappingList[$index].batchno"></span>
												<!-- <div class="input-group-pospend">
												<span class="input-group-text"
													style="padding-left: 5px; padding-right: 5px;"> <i
													class="mdi mdi-plus-circle pull-right" title="Add Batch"
													style="cursor: pointer;"  ng-click="vm.billInkDashboardService.batchAddItemModel($index)">
												</i>
												</span>
											</div> -->
												<!-- 	<div class="input-group-pospend">
												<span class="input-group-text"
													style="padding-left: 5px; padding-right: 5px;"> <i
													class="mdi mdi-plus-circle pull-right" title="Add Batch"
													style="cursor: pointer;"  ng-click="vm.batchAddItemModel($index)">
												</i>
												</span>
											</div> -->
											</div>
										</div>
									</td>
									<td style="width: 20%;"><input id="manfadate"
										class="form-control" type="date" disabled="disabled"
										ng-model="vm.creditNote.creditNoteItemMappingList[$index].mfgdate"
										maxlength="255" /></td>
									<!-- 	<td><input id="selflife" class="form-control" type="text"
									maxlength="255" ng-model="vm.purchase.lrNumber" /></td> -->
									<td style="width: 20%;"><input id="expdate"
										class="form-control" type="date" disabled="disabled"
										ng-model="vm.creditNote.creditNoteItemMappingList[$index].expdate"
										maxlength="255" /></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<div class="card-border">
					<div class="card-header" style="text-align: center;">
						<span>Charge List</span>
					</div>
					<div class="card-body row">
						<table class="table creditNote-item-container">
							<thead>
								<tr>
									<th>No</th>
									<th style="width: 20%;">Charge Desc./SAC</th>
									<th style="width: 7%">Quantity</th>
									<th style="width: 8%">Rate</th>
									<th style="width: 10%;">Discount</th>
									<th style="width: 7%">Amount</th>
									<th style="width: 8%;">Tax Rate</th>
									<th style="width: 7%">SGST</th>
									<th style="width: 7%">CGST</th>
									<th style="width: 7%">IGST</th>
									<th style="width: 10%;">Amount</th>
									<th style="width: 5%;"></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="number in vm.numberOfCreditNoteCharge track by $index">
									<td><span ng-bind="($index + 1)"></span></td>
									<td>
										<div class="dropdown">
											<div class="input-group mb-3">
												<input class="form-control dropdown-toggle"
													ng-change="vm.fetchCreditNoteChargeLedgerList($index)"
													ng-model="vm.creditNote.creditNoteChargeModelList[$index].ledger.ledgerName"
													type="text" autocomplete="off" placeholder="add charge..."
													data-toggle="dropdown" />
												<ul class="dropdown-menu col-sm-12"
													ng-if="vm.ledgerList[$index].ledgerData.length > 0">
													<li
														ng-repeat="ledgerObj in vm.ledgerList[$index].ledgerData"
														ng-click="vm.selectCreditNoteChargeLedger($parent.$index, ledgerObj)">
														<span ng-bind="ledgerObj.ledgerName"></span>
													</li>
												</ul>
												<div class="input-group-pospend">
													<span class="input-group-text"
														style="padding-left: 5px; padding-right: 5px; height: 42px;"> <i
														class="mdi mdi-plus-circle pull-right" title="Add Ledger"
														style="cursor: pointer;"
														ng-click="vm.billInkDashboardService.launchAddLedgerModel()">
													</i>
													</span>
												</div>
											</div>
											<span
												ng-bind="vm.creditNote.creditNoteChargeModelList[$index].ledger.sacCode"></span>
										</div>
									</td>
									<td><input type="number" step="any"
										ng-model="vm.creditNote.creditNoteChargeModelList[$index].quantity"
										class="form-control" disabled="disabled"></td>
									<td><input type="number" step="any"
										ng-model="vm.creditNote.creditNoteChargeModelList[$index].creditNoteCharge"
										class="form-control" placeholder="charge..."></td>
									<td>
										<div class="input-group">
											<input type="number" step="any"
												ng-model="vm.creditNote.creditNoteChargeModelList[$index].discount"
												class="form-control" placeholder="Discount">
											<div class="input-group-append">
												<div class="btn-group btn-group-toggle"
													data-toggle="buttons">
													<button class="btn btn-primary"
														ng-click="vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount = !vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">
														<span
															ng-if="vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">$</span>
														<span
															ng-if="!vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">%</span>
													</button>
												</div>
											</div>
										</div>
									</td>
									<td><span
										ng-bind="vm.getCreditNoteChargeLevelAmount($index)"></span></td>
									<td><select class="form-control"
										ng-model="vm.creditNote.creditNoteChargeModelList[$index].taxRate"
										id="taxCode"
										ng-options="taxCode for taxCode in vm.taxCodeList">
									</select></td>
									<td><span
										ng-bind="vm.getCreditNoteChargeSGSTAmount($index)"></span></td>
									<td><span
										ng-bind="vm.getCreditNoteChargeCGSTAmount($index)"></span></td>
									<td><span
										ng-bind="vm.getCreditNoteChargeIGSTAmount($index)"></span></td>
									<td><span ng-bind="vm.getCreditNoteChargeAmount($index)"></span></td>
									<td><i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-if="vm.billInkDashboardService.userRole === 'Vendor'"
										ng-click="vm.deleteCreditNoteCharge($index)"> </i> <i
										class="mdi mdi-plus-circle pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.addCreditNoteCharge()"> </i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-border">
					<div class="card-body row">
						<table class="table creditNote-item-container">
							<thead>
								<tr>
									<th></th>
									<th style="width: 20%;"></th>
									<th style="width: 8%"></th>
									<th></th>
									<th style="width: 10%;"></th>
									<th></th>
									<th style="width: 8%;"></th>
									<th></th>
									<th></th>
									<th></th>
									<th style="width: 10%;"></th>
									<th style="width: 5%;"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="10" style="text-align: right;">Gross Total</td>
									<td><span ng-bind="vm.getGrossTotalAmount()"> </span></td>
									<td></td>
								</tr>
								<tr>
									<td colspan="10" style="text-align: right;">Discount</td>
									<td>
										<div class="input-group">
											<input type="number" step="any"
												ng-model="vm.creditNote.discount" class="form-control"
												placeholder="discount...">
											<div class="input-group-append">
												<div class="btn-group btn-group-toggle"
													data-toggle="buttons">
													<button class="btn btn-primary"
														ng-click="vm.creditNote.sellMeasureDiscountInAmount = !vm.creditNote.sellMeasureDiscountInAmount">
														<span ng-if="vm.creditNote.sellMeasureDiscountInAmount">$</span>
														<span ng-if="!vm.creditNote.sellMeasureDiscountInAmount">%</span>
													</button>
												</div>
											</div>
										</div>

									</td>
									<td></td>
								</tr>
								<tr>
									<td>Actual Weight</td>
									<td><div class="input-group mb-3">
											<input id="actualWeight" class="form-control" type="text"
												maxlength="255" ng-model="vm.creditNote.actualWeight" />
										</div></td>
									<td colspan="10" style="text-align: right;">Total</td>
									<td><span ng-bind="vm.getTotalBillAmount()"> </span></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<button class="btn btn-default pull-right btn-md"
					ng-click="vm.closeAddEditCreditNoteScreen()">Cancel</button>
				<button
					ng-if="vm.manageCreditNoteDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndSaveCreditNoteData('Save')">
					Save</button>
				<button
					ng-if="vm.manageCreditNoteDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndSaveCreditNoteData('Publish')">
					Publish</button>
				<button
					ng-if="vm.manageCreditNoteDataService.requestType === 'Edit' && vm.creditNote.status.statusName === 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndUpdateCreditNoteData('Save')">
					Update</button>
				<button
					ng-if="vm.manageCreditNoteDataService.requestType === 'Edit' && vm.creditNote.status.statusName !== 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.uploadFileAndUpdateCreditNoteData('Publish')">
					Update</button>
				<button
					ng-if="vm.manageCreditNoteDataService.requestType === 'Edit' && vm.creditNote.status.statusName === 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;" ng-click="vm.publishSavedCreditNote()">
					Publish</button>
				<button
					ng-if="vm.manageCreditNoteDataService.requestType === 'Edit' && vm.billInkDashboardService.userRole !== 'Vendor'"
					class="btn btn-primary pull-right btn-md"
					style="margin-right: 10px;"
					ng-click="vm.markCreditNoteAsVerified()">Verify</button>
				<button class="btn btn-success pull-right btn-md"
					style="margin-right: 10px;" ng-click="vm.printDiv();">
					Print</button>
				<button class="btn btn-success pull-right btn-md"
					style="margin-right: 10px;" ng-click="vm.withOutFreeQtyPrintDiv();">
					WithOutFreeQty</button>
				<button class="btn btn-success pull-right btn-md"
					style="margin-right: 10px;" ng-click="vm.withOutBatchPrintDiv();">
					WithOut Batch Details</button>

				<button class="btn btn-success pull-right btn-md"
					style="margin-right: 10px;" ng-click="vm.allFieldsPrintDiv();">
					All Fields Details</button>

			</div>
		</div>
	</div>

	<div id="creditNote-image-show-model">
		<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">CreditNote#{{vm.creditNote.creditNoteId}}
							Photos</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" align="center">
						<img alt="CreditNote Photo" style="height: 500px; width: 90%"
							src="{{vm.selectedPhotoURL}}" />
					</div>
					<div class="modal-footer">
						<div class="col-sm-12 row">
							<div class="col-sm-5"></div>
							<div class="col-sm-2">
								<button type="button" class="btn" ng-click="vm.fetchImage(-1)"><</button>
								<button type="button" class="btn" ng-click="vm.fetchImage(1)">></button>
							</div>
							<div class="col-sm-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Basic PrintDiv Start  -->
	<div id="printSellDiv" class="d-none">
		<div style="border: 1px solid black; font-size: 11px;">
			<div style="width: 100%; display: inline-flex; margin-bottom: 10px;">
				<div style="width: 100px; height: 100px; margin: 5px;">
					<img
						style='max-width: 100px; max-height: 100px; margin-left: auto; margin-right: auto; display: block;'
						src="{{vm.billInkDashboardService.currentCompanyObj.profilePhotoURL}}">
				</div>
				<div style="text-align: center; width: 85%">
					<div
						ng-bind="vm.billInkDashboardService.currentCompanyObj.companyName"
						style="font-size: 20px; font-weight: 700;"></div>
					<div style="font-size: 12px;">INVOICE</div>
					<div style="font-size: 12px;">ORIGINAL FOR RECIPIENT</div>
				</div>
			</div>
			<table border="1px" style="border-collapse: collapse; width: 100%">
				<thead>
					<tr>
						<th width="35%"><b style="text-align: center">Customer</b></th>
						<th width="30%"><b
							style="text-align: center; padding-top: 25px;">Invoice</b></th>
						<th width="35%"><b style="text-align: center">Billing
								Office</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="35%"><span>Bill-to/Sell-to Customer</span> <br />
							<span>Name:&nbsp;{{vm.creditNote.ledgerData.ledgerName}}</span> <br />
							<span>Address:&nbsp;{{vm.creditNote.ledgerData.address}}</span> <br />
							<span>City:&nbsp;{{vm.creditNote.ledgerData.cityName}}</span> <br />
							<span>PAN No:&nbsp;{{vm.creditNote.ledgerData.panNumber}}</span>
							<br /> <span>GSTN
								No:&nbsp;{{vm.creditNote.ledgerData.gstNumber}}</span> <br /> <span>Place
								of supply:&nbsp;{{vm.creditNote.ledgerData.state.stateName}}</span></td>
						<td width="30%" style="vertical-align: baseline;"><span>Invoice
								No:&nbsp;{{vm.creditNote.billNumber}}</span> <br /> <span>Invoice
								Date:&nbsp;{{vm.creditNote.billDate}}</span> <br /> <span>Reference:&nbsp;{{vm.creditNote.referenceNumber1}}</span>
							<br /> <span>Other
								Reference:&nbsp;{{vm.creditNote.referenceNumber2}}</span></td>
						<td width="35%" style='vertical-align: baseline;'><span>{{vm.companyDataForSell.companyName}}</span>
							<br /> <span>{{vm.companyDataForSell.officeAddress}}</span> <br />
							<span>City(ROP):&nbsp;{{vm.companyDataForCreaditNotes.cityName}}</span>
							<br /> <span>City(AOP):&nbsp;{{vm.creditNote.cityName}}</span> <br />
						<span>{{vm.companyDataForSell.state.stateName}}</span> <br /> <span>GSTN:&nbsp;{{vm.companyDataForSell.gstNumber}}</span>
							<br /> <span>Invoice
								By:&nbsp;{{vm.billInkDashboardService.user.firstName + " "
								+vm.billInkDashboardService.user.lastName}}</span></td>
					</tr>
				</tbody>
			</table>
			<br />
			<table border="1px" style="border-collapse: collapse;">
				<tbody>
					<tr
						ng-if="vm.creditNote.creditNoteItemMappingList[0].item.itemName">
						<th colspan="11"><b style="text-align: center">Item List</b>
						</th>
					</tr>
					<tr style="font-weight: bold;"
						ng-if="vm.creditNote.creditNoteItemMappingList[0].item.itemName">
						<th>No</th>
						<th style="width: 20%;">Item Name/HSN</th>
						<th style="width: 8%">Qty</th>
						<th>Sale Rate</th>
						<th style="width: 10%;">Disc.</th>
						<th>Amount</th>
						<th style="width: 10%;">Tax Rate</th>
						<th>SGST</th>
						<th>CGST</th>
						<th>IGST</th>
						<th style="width: 10%;">Amount</th>
					</tr>
					<tr ng-repeat="number in vm.numberOfItem track by $index"
						ng-if="vm.creditNote.creditNoteItemMappingList[0].item.itemName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="text-align: left;">
							<div class="dropdown">
								<span
									ng-bind="vm.creditNote.creditNoteItemMappingList[$index].item.itemName"></span>
							</div>
						</td>
						<!-- <td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].item.hsnCode"></span></td> -->

						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].sellRate"></span></td>
						<td align='right'>
							<div class="input-group">
								<span
									ng-bind="vm.creditNote.creditNoteItemMappingList[$index].discount"></span>
								<span
									ng-if="vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">$</span>
								<span
									ng-if="!vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">%</span>
							</div>
						</td>
						<td align="right"><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].sellRate"></span></td>
						<td align="right"><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].taxRate"></span>%</td>
						<td align="right"><span ng-bind="vm.getSGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getCGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getIGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getAmount($index)"></span></td>
					</tr>
					<tr
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<th colspan="11"><b style="text-align: center">Charge
								List</b></th>
					</tr>
					<tr style="font-weight: 600;"
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<th>No</th>
						<th style="width: 20%;">Charge Description</th>
						<th style="width: 8%">Qty</th>
						<th>Rate</th>
						<th style="width: 10%;">Disc.</th> <
						<th>Amount</th>
						<th style="width: 10%;">Tax Rate</th>
						<th>SGST</th>
						<th>CGST</th>
						<th>IGST</th>
						<th style="width: 10%;">Amount</th>
					</tr>
					<tr
						ng-repeat="number in vm.numberOfCreditNoteCharge track by $index"
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="text-align: left;"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].ledger.ledgerName"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].creditNoteCharge"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].discount"></span>
							<span
							ng-if="vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">$</span>
							<span
							ng-if="!vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">%</span>
						</td>
						<!-- <td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].taxRate"></span></td> -->

						<td align="right"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].creditNoteCharge"></span></td>
						<td align="right"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].taxRate"></span>%</td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeSGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeCGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeIGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeAmount($index)"></span></td>
					</tr>
					<tr>
						<td align='right' colspan="5"><span
							style="text-align: center">Gross Total</span></td>
						<!-- <td align="right"><span
							ng-bind="vm.totalItemLevelAmountWithoutTax"> </span></td>-->
						<td></td>
						<td></td>
						<td align="right" ng-bind="vm.totalSGST"></td>
						<td align="right" ng-bind="vm.totalCGST"></td>
						<td align="right" ng-bind="vm.totalIGST"></td>
						<td align="right"><span ng-bind="vm.getGrossTotalAmount()">
						</span></td>
					</tr>
					<tr>
						<td colspan="10" align="right">Disc.</td>
						<td align="right"><span ng-bind="vm.creditNote.discount"></span>
							<span ng-if="vm.creditNote.sellMeasureDiscountInAmount">$</span>
							<span ng-if="!vm.creditNote.sellMeasureDiscountInAmount">%</span></td>
					</tr>
					<tr>
						<td colspan="10" align="right">Total</td>
						<td align="right"><span ng-bind="vm.getTotalBillAmount()"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- 			For amount in words div  -->
			<div style='border-bottom: 1px solid black;'>
				<span style='margin-left: 10px;'>Total in words :
					{{vm.convertToWordsString(vm.getTotalBillAmount())}} </span>
			</div>
			<br />
			<table border="1px" style="border-collapse: collapse;" width="100%"
				ng-if="(vm.totalIGST && vm.totalIGST >0) || (vm.totalSGST && vm.totalSGST >0) || (vm.totalCGST && vm.totalCGST >0)">
				<tr>
					<th>HSN/SAC Wise Tax Summary</th>
					<th>Tax Rate</th>
					<th>IGST</th>
					<th>SGST</th>
					<th>CGST</th>
				</tr>
				<tr ng-repeat="hsn in vm.hsnList">
					<td ng-bind="hsn.hsnCode"></td>
					<td align="right"><span ng-bind="hsn.taxRate"></span>%</td>
					<td align="right" ng-bind="hsn.igst"></td>
					<td align="right" ng-bind="hsn.sgst"></td>
					<td align="right" ng-bind="hsn.cgst"></td>
				</tr>
				<tr>
					<td colspan="2">Total</td>
					<td align="right" ng-bind="vm.totalIGST"></td>
					<td align="right" ng-bind="vm.totalSGST"></td>
					<td align="right" ng-bind="vm.totalCGST"></td>
				</tr>
			</table>
			<div style="width: 100%">
				<table style="border-collapse: collapse;" width="100%">
					<tr style='height: 70px;'>
						<td width='65%'
							style="height: 40px; text-align: center; border-right: 1px solid; border-bottom: 1px solid;"></td>
						<td width='10%' style="height: 40px;"></td>
						<td width='25%'
							style="height: 40px; text-align: center; vertical-align: bottom; border-left: 1px solid; border-bottom: 1px solid;">Authorized
							Signature</td>
					</tr>
				</table>
			</div>
			<div style="border-bottom: 1px solid black; font-size: 12px;">
				<p style="margin: 4px 0px 0px 2px;">* This is Computerized
					Invoice and requires no Signature</p>
				<p style="margin: 4px 0px 4px 2px;">* All Disputes subject to
					{{vm.companyDataForSell.cityName}} Jurisdiction Only.</p>
			</div>
			<div style="font-size: 12px;">
				<p style="margin: 4px 0px 4px 2px;">Declaration: We declare that
					this invoice shows the actual price of the goods described and that
					all particular are true and correct</p>
			</div>
		</div>
	</div>
	<!-- basic PrintDiv End -->

	<!-- WithoutFree Qty PrintDiv Start  -->
	<div id="printWithOutFeeQtySellDiv" class="d-none">
		<div style="border: 1px solid black; font-size: 11px;">
			<div style="width: 100%; display: inline-flex; margin-bottom: 10px;">
				<table style="width: 70%">
					<thead>
						<tr>
							<th width="30%"><b style="text-align: left; font-size: 9px;">CompanyName
									& Address</b></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Name:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyName}}</span>
								<br /> <span style="font-size: 9px;">Address:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.officeAddress}}</span>
								<br /> <span style="font-size: 9px;">City(ROP):&nbsp;{{vm.companyDataForCreaditNotes.cityName}}</span>
								<br />
							<span style="font-size: 9px;">City(AOP):&nbsp;{{vm.creditNote.cityName}}</span>
								<br />
							<span style="font-size: 9px;">State
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.state.stateName}}</span><br />
								<span style="font-size: 9px;">PAN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.panNumber}}</span>
								<br /> <span style="font-size: 9px;">GSTN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.gstNumber}}</span>
								<br /></td>
						</tr>
					</tbody>
				</table>
				<div style="width: 75%">
					<!-- <div 
						ng-bind="vm.billInkDashboardService.currentCompanyObj.companyName"
						style="text-align: center; font-size: 20px; font-weight: 700;"></div> -->
					<div style="text-align: center; font-size: 12px;">Tax Invoice</div>
					<div style="text-align: center; font-size: 12px;">Original
						for Recepient/</div>
					<!-- 	<div style="text-align: center; font-size: 20px;">Duplicat/</div>
					<div style="text-align: center; font-size: 20px;">Triplicate</div> -->
				</div>

				<table style="float: right; width: 100%">
					<tbody>
						<tr>
							<td><div style="width: 100px; height: 100px; margin: 5px;">
									<img
										style='max-width: 100px; max-height: 100px; margin-left: auto; margin-right: auto; display: block;'
										src="{{vm.billInkDashboardService.currentCompanyObj.profilePhotoURL}}">
								</div></td>
						</tr>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Contact
									No :&nbsp;{{vm.companyDataForCreaditNotes.mobileNumber}}</span> <br />
								<span style="font-size: 9px;">Email
									ID:&nbsp;{{vm.companyDataForCreaditNotes.emailId}}</span> <br /> <span
								style="font-size: 9px;">CIN NO
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyId}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<table border="1px" style="border-collapse: collapse; width: 100%">
				<tbody>
					<tr>
						<td width="30%"><span>BuyerName & Address</span> <br /> <span>Name:&nbsp;{{vm.creditNote.ledgerData.ledgerName}}</span>
							<br /> <span>Address:&nbsp;{{vm.creditNote.ledgerData.address}}</span>
							<br /> <span>City:&nbsp;{{vm.creditNote.ledgerData.cityName}}</span>
							<br />
						<span>GSTN No:&nbsp;{{vm.creditNote.ledgerData.gstNumber}}</span>
							<span>City :&nbsp;{{vm.creditNote.ledgerData.cityName}}</span><br />
							<span>PAN No:&nbsp;{{vm.creditNote.ledgerData.panNumber}}</span>
							<span>State
								:&nbsp;{{vm.creditNote.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.creditNote.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="30%" style='vertical-align: baseline;'><span>Delivery
								Name & Address</span> <br />
						<span>Name:&nbsp;{{vm.creditNote.ledgerData.ledgerName}}</span> <br />
							<span>Address:&nbsp;{{vm.creditNote.ledgerData.address}}</span> <br />
							<span>City:&nbsp;{{vm.creditNote.ledgerData.cityName}}</span> <br />
						<span>GSTN No:&nbsp;{{vm.creditNote.ledgerData.gstNumber}}</span>
							<span>City :&nbsp;{{vm.creditNote.ledgerData.cityName}}</span><br />
							<span>PAN No:&nbsp;{{vm.creditNote.ledgerData.panNumber}}</span>
							<span>State
								:&nbsp;{{vm.creditNote.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.creditNote.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="40%" style="vertical-align: baseline;"><span>Invoice
								No:&nbsp;{{vm.creditNote.billNumber}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Invoice
								Dt:&nbsp;{{vm.creditNote.billDate}}</span> <br /> <span>LR
								No:&nbsp;{{vm.creditNote.lrNo}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>LR
								Dt:&nbsp;{{vm.creditNote.lrNo}}</span> <br /> <span>Payment
								Terms:30 days</span> <span>Due Date:&nbsp;</span> <br />
						<span>Insurance Policy:&nbsp;No</span> <span>Invoice
								By:&nbsp;</span> <br /> <span>Gross Weight
								Kgs:&nbsp;{{vm.creditNote.actualWeight}}</span> <br /> <span>Place
								of supply:&nbsp;{{vm.creditNote.ledgerData.state.stateName}}</span><br />
							<span>Eway Bill No:&nbsp;{{vm.creditNote.eWayBillNo}}</span><br />

						</td>

					</tr>
				</tbody>
			</table>
			<br />
			<table border="1px" style="border-collapse: collapse;">
				<tbody>
					<!-- <tr ng-if="vm.sell.sellItemModel[0].item.itemName">
						<th colspan="11"><b style="text-align: center">Item List</b>
						</th>
					</tr> -->
					<tr style="font-weight: 600;">
						<th>Sr No.</th>
						<th style="width: 20%;">Product Name</th>
						<th style="width: 10%;">HSN</th>
						<th style="width: 4%">GST(%)</th>
						<th style="width: 10%">MRP</th>
						<th style="width: 10%;">Disc.<br>(%)
						</th>
						<th style="width: 10%;">Rate Per<br>Unit
						</th>
						<th style="width: 10%;">Qty</th>
						<th style="width: 10%;">Taxable Amt</th>
						<th>CGST</th>
						<th>SGST/UGST</th>
						<th>IGST</th>
						<th style="width: 10%;">Total Amt</th>
					</tr>
					<!-- ng-if="vm.sell.sellItemModel[0].item.itemName"  -->
					<tr ng-repeat="number in vm.numberOfItem track by $index"
						ng-if="vm.creditNote.creditNoteItemMappingList[0].item.itemName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="text-align: left;">
							<div class="dropdown">
								<span
									ng-bind="vm.creditNote.creditNoteItemMappingList[$index].item.itemName"></span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].item.hsnCode"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].taxRate"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].sellRate"></span></td>

						<td align='right'>
							<div class="input-group">
								<span
									ng-bind="vm.creditNote.creditNoteItemMappingList[$index].discount"></span>
								<span
									ng-if="vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">$</span>
								<span
									ng-if="!vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">%</span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].sellRate"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].quantity"></span></td>

						<td align="right"><span
							ng-bind="vm.getItemLevelAmount($index)"></span></td>


						<!-- 	<td align="right"><span
							ng-bind="vm.getItemLevelAmount($index)"></span></td> -->
						<td align="right"><span ng-bind="vm.getCGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getSGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getIGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getAmount($index)"></span></td>
					</tr>
					<tr
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<th colspan="13"><b style="text-align: center">Charge
								List</b></th>
					</tr>
					<tr style="font-weight: 600;"
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<th>No</th>
						<th style="width: 20%;" colspan="3">Charge Description</th>
						<th style="width: 8%">Qty</th>
						<th>Rate</th>
						<th style="width: 10%;">Disc.</th> <
						<th>Amount</th>
						<th style="width: 10%;">Tax Rate</th>
						<th>SGST</th>
						<th>CGST</th>
						<th>IGST</th>
						<th style="width: 10%;">Amount</th>
					</tr>
					<tr
						ng-repeat="number in vm.numberOfCreditNoteCharge track by $index"
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td colspan="3" style="text-align: left;"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].ledger.ledgerName"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].creditNoteCharge"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].discount"></span>
							<span
							ng-if="vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">$</span>
							<span
							ng-if="!vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">%</span>
						</td>
						<!-- <td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].taxRate"></span></td> -->

						<td align="right"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].creditNoteCharge"></span></td>
						<td align="right"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].taxRate"></span>%</td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeSGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeCGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeIGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeAmount($index)"></span></td>
					</tr>
					<tr>
						<td align='right' colspan="8"><span
							style="text-align: center">Gross Amount</span></td>
						<td align="right"><span
							ng-bind="vm.totalItemLevelAmountWithoutTax"> </span></td>
						<td align="right" ng-bind="vm.totalSGST"></td>
						<td align="right" ng-bind="vm.totalCGST"></td>
						<td align="right" ng-bind="vm.totalIGST"></td>
						<td align="right"><span ng-bind="vm.getGrossTotalAmount()">
						</span></td>
					</tr>
					<!-- <tr>
						<td colspan="10" align="right">Disc.</td>
						<td align="right"><span ng-bind="vm.sell.discount"></span> <span
							ng-if="vm.sell.sellMeasureDiscountInAmount">$</span> <span
							ng-if="!vm.sell.sellMeasureDiscountInAmount">%</span></td>
					</tr> -->
					<tr>
						<td colspan="8" align="right">Total</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td align="right"><span ng-bind="vm.getTotalBillAmount()"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- 			For amount in words div  -->
			<div style='border-bottom: 1px solid black;'>
				<span style='margin-left: 10px;'>Total in words :
					{{vm.convertToWordsString(vm.getTotalBillAmount())}} </span>
			</div>

			<!-- ////////// -->
			<table border="1px" style="border-collapse: collapse;" width="100%">
				<thead>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Bank Details Mention under For
								RTGS/NEFT/DD</b></th>
					</tr>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Company Bank Details</b></th>
						<th rowspan="3"
							style="vertical-align: baseline; font-size: 9; width: 30%"><b
							style="text-align: left;">Receiver Acknowledgement</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="30%"><span style="font-size: 9">Beneficary
								No:&nbsp;123</span><br /> <span style="font-size: 9">Bank
								Name:&nbsp; DummyBank</span><br /> <span style="font-size: 9">Account
								No:&nbsp; 1234567890</span><br /> <span style="font-size: 9">IFDC
								Code:&nbsp; DUMM0007890</span><br /> <span style="font-size: 9">Account
								Type:&nbsp; Saving</span><br /> <span>__________________________</span><br />
							<span style="font-size: 13">Declaration:</span><br /> <span
							style="font-size: 9">1) Payment No Recieved on Due Date</span><br />
							<span style="font-size: 9">interest will be chargebale 18%
								of Invoice Amt.</span><br /> <span style="font-size: 9">Amt.</span><br />
							<span style="font-size: 9">2) We declare that this invoice
								shows the</span><br /> <span style="font-size: 9">actual price
								of the goods described and</span><br /> <span style="font-size: 9">that
								all particulars true and correct.</span><br /> <span
							style="font-size: 8">3) SUBJECT TO ______________</span><br /> <span
							style="font-size: 8">JURISDICTION</span><br /></td>

						<td width="30%" style='vertical-align: baseline;' rowspan="8">
							<br /> <br /> <br /> <span>__________________________</span> <span
							style="font-size: 9;">Authorised person Sign & stamp</span><br />
							<span>__________________________</span> <span
							style="font-size: 9;">Name of Receiver</span><br /> <span>__________________________</span>
						</td>

						<td width="40%" style="vertical-align: baseline;"></td>





					</tr>
				</tbody>
			</table>

			<!-- ////////////// -->
			<table border="1px" style="border-collapse: collapse;" width="100%"
				ng-if="(vm.totalIGST && vm.totalIGST >0) || (vm.totalSGST && vm.totalSGST >0) || (vm.totalCGST && vm.totalCGST >0)">
				<tr>
					<th>HSN/SAC Wise Tax Summary</th>
					<th>Tax Rate</th>
					<th>IGST</th>
					<th>SGST</th>
					<th>CGST</th>
				</tr>
				<tr ng-repeat="hsn in vm.hsnList">
					<td ng-bind="hsn.hsnCode"></td>
					<td align="right"><span ng-bind="hsn.taxRate"></span>%</td>
					<td align="right" ng-bind="hsn.igst"></td>
					<td align="right" ng-bind="hsn.sgst"></td>
					<td align="right" ng-bind="hsn.cgst"></td>
				</tr>
				<tr>
					<td colspan="2">Total</td>
					<td align="right" ng-bind="vm.totalIGST"></td>
					<td align="right" ng-bind="vm.totalSGST"></td>
					<td align="right" ng-bind="vm.totalCGST"></td>
				</tr>
			</table>
			<div style="width: 100%">
				<table style="border-collapse: collapse;" width="100%">
					<tr style='height: 70px;'>
						<td width='65%'
							style="height: 40px; text-align: center; border-right: 1px solid; border-bottom: 1px solid;"></td>
						<td width='10%' style="height: 40px;"></td>
						<td width='25%'
							style="height: 40px; text-align: center; vertical-align: bottom; border-left: 1px solid; border-bottom: 1px solid;">Authorized
							Signature</td>
					</tr>
				</table>
			</div>
			<!-- 		<div style="border-bottom: 1px solid black; font-size: 12px;">
				<p style="margin: 4px 0px 0px 2px;">* This is Computerized
					Invoice and requires no Signature</p>
				<p style="margin: 4px 0px 4px 2px;">* All Disputes subject to
					{{vm.companyDataForSell.cityName}} Jurisdiction Only.</p>
			</div>
			<div style="font-size: 12px;">
				<p style="margin: 4px 0px 4px 2px;">Declaration: We declare that
					this invoice shows the actual price of the goods described and that
					all particular are true and correct</p>
			</div> -->
		</div>
	</div>

	<!-- WithoutFree Qty PrintDiv End  -->
	<!-- Without Batch Details PrintDiv Start  -->
	<div id="printWithOutbatchNoSellDiv" class="d-none">
		<div style="border: 1px solid black; font-size: 11px;">
			<div style="width: 100%; display: inline-flex; margin-bottom: 10px;">
				<table style="width: 70%">
					<thead>
						<tr>
							<th width="30%"><b style="text-align: left;">CompanyName
									& Address</b></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="30%"><span>Name:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyName}}</span>
								<br /> <span>Address:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.officeAddress}}</span>
								<br /> <span>City(ROP):&nbsp;{{vm.companyDataForCreaditNotes.cityName}}</span>
								<br />
							<span>City(AOP):&nbsp;{{vm.creditNote.cityName}}</span> <br />
							<span>State
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.state.stateName}}</span><br />
								<span>PAN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.panNumber}}</span>
								<br /> <span>GSTN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.gstNumber}}</span>
								<br /></td>
						</tr>
					</tbody>
				</table>
				<div style="width: 75%">
					<!-- <div 
						ng-bind="vm.billInkDashboardService.currentCompanyObj.companyName"
						style="text-align: center; font-size: 20px; font-weight: 700;"></div> -->
					<div style="text-align: center; font-size: 12px;">Tax Invoice</div>
					<div style="text-align: center; font-size: 12px;">Original
						for Recepient/</div>
					<!-- <div style="text-align: center; font-size: 20px;">Duplicat/</div>
					<div style="text-align: center; font-size: 20px;">Triplicate</div> -->
				</div>

				<table style="float: right; width: 100%">
					<tbody>
						<tr>
							<td><div style="width: 100px; height: 100px; margin: 5px;">
									<img
										style='max-width: 100px; max-height: 100px; margin-left: auto; margin-right: auto; display: block;'
										src="{{vm.billInkDashboardService.currentCompanyObj.profilePhotoURL}}">
								</div></td>
						</tr>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Contact
									No :&nbsp;{{vm.companyDataForCreaditNotes.mobileNumber}}</span> <br />
								<span style="font-size: 9px;">Email
									ID:&nbsp;{{vm.companyDataForCreaditNotes.emailId}}</span> <br /> <span
								style="font-size: 9px;">CIN NO
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyId}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<table border="1px" style="border-collapse: collapse; width: 100%">
				<tbody>
					<tr>
						<td width="30%"><span>BuyerName & Address</span> <br /> <span>Name:&nbsp;{{vm.creditNote.ledgerData.ledgerName}}</span>
							<br /> <span>Address:&nbsp;{{vm.creditNote.ledgerData.address}}</span>
							<br /> <span>City:&nbsp;{{vm.creditNote.ledgerData.cityName}}</span>
							<br />
						<span>GSTN No:&nbsp;{{vm.creditNote.ledgerData.gstNumber}}</span>
							<span>City :&nbsp;{{vm.creditNote.ledgerData.cityName}}</span><br />
							<span>PAN No:&nbsp;{{vm.creditNote.ledgerData.panNumber}}</span>
							<span>State
								:&nbsp;{{vm.creditNote.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.creditNote.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="30%" style='vertical-align: baseline;'><span>Delivery
								Name & Address</span> <br />
						<span>Name:&nbsp;{{vm.creditNote.ledgerData.ledgerName}}</span> <br />
							<span>Address:&nbsp;{{vm.creditNote.ledgerData.address}}</span> <br />
							<span>City:&nbsp;{{vm.creditNote.ledgerData.cityName}}</span> <br />
						<span>GSTN No:&nbsp;{{vm.creditNote.ledgerData.gstNumber}}</span>
							<span>City :&nbsp;{{vm.creditNote.ledgerData.cityName}}</span><br />
							<span>PAN No:&nbsp;{{vm.creditNote.ledgerData.panNumber}}</span>
							<span>State
								:&nbsp;{{vm.creditNote.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.creditNote.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="40%" style="vertical-align: baseline;"><span>Invoice
								No:&nbsp;{{vm.creditNote.billNumber}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Invoice
								Dt:&nbsp;{{vm.creditNote.billDate}}</span> <br /> <span>LR
								No:&nbsp;{{vm.creditNote.lrNo}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span>LR Dt:&nbsp;{{vm.creditNote.lrNo}}</span> -->
							<br /> <span>Payment Terms:30 days</span> <span>Due
								Date:&nbsp;</span> <br />
						<span>Insurance Policy:&nbsp;No</span> <span>Invoice
								By:&nbsp;</span> <br /> <span>Gross Weight
								Kgs:&nbsp;{{vm.creditNote.actualWeight}}</span> <br /> <span>Place
								of supply:&nbsp;{{vm.creditNote.ledgerData.state.stateName}}</span><br />
							<span>Eway Bill No:&nbsp;{{vm.creditNote.eWayBillNo}}</span><br />

						</td>

					</tr>
				</tbody>
			</table>
			<br />
			<table border="1px" style="border-collapse: collapse;">
				<tbody>
					<!-- <tr ng-if="vm.sell.sellItemModel[0].item.itemName">
						<th colspan="11"><b style="text-align: center">Item List</b>
						</th>
					</tr> -->
					<tr style="font-weight: bold;">
						<th>Sr No.</th>
						<th style="width: 20%;">Product Name</th>
						<th style="width: 5%;">Free Item<br>Name
						</th>
						<th style="width: 5%;">HSN</th>
						<th style="width: 5%;">GST<br>(%)
						</th>
						<th style="width: 10%;">MRP</th>
						<th style="width: 5%;">Disc.<br>(%)
						</th>
						<th style="width: 10%;">Rate Per<br>Unit
						</th>
						<th style="width: 5%;">Qty</th>
						<th style="width: 5%;">Free Qty<br>(Nos)
						</th>
						<th style="width: 10%;">Taxable Amt</th>
						<th>CGST</th>
						<th>SGST/<br>UGST
						</th>
						<th>IGST</th>
						<th style="width: 10%;">Total Amt</th>
					</tr>
					<!-- ng-if="vm.sell.sellItemModel[0].item.itemName"  -->
					<tr ng-repeat="number in vm.numberOfItem track by $index"
						ng-if="vm.creditNote.creditNoteItemMappingList[0].item.itemName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="width: 20%; text-align: left;">
							<div class="dropdown">
								<span
									ng-bind="vm.creditNote.creditNoteItemMappingList[$index].item.itemName"></span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].FreeitemName"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].item.hsnCode"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].taxRate"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].sellRate"></span></td>

						<td align='right'>
							<div class="input-group">
								<span
									ng-bind="vm.creditNote.creditNoteItemMappingList[$index].discount"></span>
								<span
									ng-if="vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">$</span>
								<span
									ng-if="!vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">%</span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].sellRate"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].freequantity"></span></td>

						<td align="right"><span
							ng-bind="vm.getItemLevelAmount($index)"></span></td>


						<!-- 	<td align="right"><span
							ng-bind="vm.getItemLevelAmount($index)"></span></td> -->
						<td align="right"><span ng-bind="vm.getCGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getSGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getIGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getAmount($index)"></span></td>
					</tr>
					<tr
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<th colspan="15"><b style="text-align: center">Charge
								List</b></th>
					</tr>
					<tr style="font-weight: 600;"
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<th>No</th>
						<th style="width: 20%;" colspan="5">Charge Description</th>
						<th style="width: 8%">Qty</th>
						<th>Rate</th>
						<th style="width: 10%;">Disc.</th> <
						<th>Amount</th>
						<th style="width: 10%;">Tax Rate</th>
						<th>SGST</th>
						<th>CGST</th>
						<th>IGST</th>
						<th style="width: 10%;">Amount</th>
					</tr>
					<tr
						ng-repeat="number in vm.numberOfCreditNoteCharge track by $index"
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td colspan="5" style="text-align: left;"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].ledger.ledgerName"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].creditNoteCharge"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].discount"></span>
							<span
							ng-if="vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">$</span>
							<span
							ng-if="!vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">%</span>
						</td>
						<!-- <td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].taxRate"></span></td> -->

						<td align="right"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].creditNoteCharge"></span></td>
						<td align="right"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].taxRate"></span>%</td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeSGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeCGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeIGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeAmount($index)"></span></td>
					</tr>
					<tr>
						<td></td>
						<td align='right' colspan="8"><span
							style="text-align: center">Gross Amount</span></td>
						<td align="right"><span
							ng-bind="vm.totalItemLevelAmountWithoutTax"> </span></td>
						<td align="right" ng-bind="vm.totalSGST"></td>
						<td align="right" ng-bind="vm.totalCGST"></td>
						<td align="right" ng-bind="vm.totalIGST"></td>
						<td align="right"><span ng-bind="vm.getGrossTotalAmount()">
						</span></td>
					</tr>

					<tr>
						<td></td>
						<td colspan="8" align="right">Total</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td align="right"><span ng-bind="vm.getTotalBillAmount()"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- 			For amount in words div  -->
			<div style='border-bottom: 1px solid black;'>
				<span style='margin-left: 10px;'>Total in words :
					{{vm.convertToWordsString(vm.getTotalBillAmount())}} </span>
			</div>

			<table border="1px" style="border-collapse: collapse;" width="100%">
				<thead>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Bank Details Mention under For
								RTGS/NEFT/DD</b></th>
					</tr>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Company Bank Details</b></th>
						<th rowspan="3"
							style="vertical-align: baseline; font-size: 9; width: 30%"><b
							style="text-align: left;">Receiver Acknowledgement</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="30%"><span style="font-size: 9">Beneficary
								No:&nbsp;123</span><br /> <span style="font-size: 9">Bank
								Name:&nbsp; DummyBank</span><br /> <span style="font-size: 9">Account
								No:&nbsp; 1234567890</span><br /> <span style="font-size: 9">IFDC
								Code:&nbsp; DUMM0007890</span><br /> <span style="font-size: 9">Account
								Type:&nbsp; Saving</span><br /> <span>__________________________</span><br />
							<span style="font-size: 13">Declaration:</span><br /> <span
							style="font-size: 9">1) Payment No Recieved on Due Date</span><br />
							<span style="font-size: 9">interest will be chargebale 18%
								of Invoice Amt.</span><br /> <span style="font-size: 9">Amt.</span><br />
							<span style="font-size: 9">2) We declare that this invoice
								shows the</span><br /> <span style="font-size: 9">actual price
								of the goods described and</span><br /> <span style="font-size: 9">that
								all particulars true and correct.</span><br /> <span
							style="font-size: 8">3) SUBJECT TO ______________</span><br /> <span
							style="font-size: 8">JURISDICTION</span><br /></td>

						<td width="30%" style='vertical-align: baseline;' rowspan="8">
							<br /> <br /> <br /> <span>__________________________</span> <span
							style="font-size: 9;">Authorised person Sign & stamp</span><br />
							<span>__________________________</span> <span
							style="font-size: 9;">Name of Receiver</span><br /> <span>__________________________</span>
						</td>

						<td width="40%" style="vertical-align: baseline;"></td>

					</tr>
				</tbody>
			</table>

			<table border="1px" style="border-collapse: collapse;" width="100%"
				ng-if="(vm.totalIGST && vm.totalIGST >0) || (vm.totalSGST && vm.totalSGST >0) || (vm.totalCGST && vm.totalCGST >0)">
				<tr>
					<th>HSN/SAC Wise Tax Summary</th>
					<th>Tax Rate</th>
					<th>IGST</th>
					<th>SGST</th>
					<th>CGST</th>
				</tr>
				<tr ng-repeat="hsn in vm.hsnList">
					<td ng-bind="hsn.hsnCode"></td>
					<td align="right"><span ng-bind="hsn.taxRate"></span>%</td>
					<td align="right" ng-bind="hsn.igst"></td>
					<td align="right" ng-bind="hsn.sgst"></td>
					<td align="right" ng-bind="hsn.cgst"></td>
				</tr>
				<tr>
					<td colspan="2">Total</td>
					<td align="right" ng-bind="vm.totalIGST"></td>
					<td align="right" ng-bind="vm.totalSGST"></td>
					<td align="right" ng-bind="vm.totalCGST"></td>
				</tr>
			</table>
			<div style="width: 100%">
				<table style="border-collapse: collapse;" width="100%">
					<tr style='height: 70px;'>
						<td width='65%'
							style="height: 40px; text-align: center; border-right: 1px solid; border-bottom: 1px solid;"></td>
						<td width='10%' style="height: 40px;"></td>
						<td width='25%'
							style="height: 40px; text-align: center; vertical-align: bottom; border-left: 1px solid; border-bottom: 1px solid;">Authorized
							Signature</td>
					</tr>
				</table>
			</div>
			<!-- 		<div style="border-bottom: 1px solid black; font-size: 12px;">
				<p style="margin: 4px 0px 0px 2px;">* This is Computerized
					Invoice and requires no Signature</p>
				<p style="margin: 4px 0px 4px 2px;">* All Disputes subject to
					{{vm.companyDataForSell.cityName}} Jurisdiction Only.</p>
			</div>
			<div style="font-size: 12px;">
				<p style="margin: 4px 0px 4px 2px;">Declaration: We declare that
					this invoice shows the actual price of the goods described and that
					all particular are true and correct</p>
			</div> -->
		</div>
	</div>

	<!-- Without Batch Details PrintDiv End -->
	<!-- All Field PrintDiv Start  -->
	<div id="printAllFieldSellDiv" class="d-none">
		<div style="border: 1px solid black; font-size: 11px;">
			<div style="width: 100%; display: inline-flex; margin-bottom: 10px;">
				<table style="width: 70%">
					<thead>
						<tr>
							<th width="30%"><b style="text-align: left; font-size: 9px;">CompanyName
									& Address</b></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Name:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyName}}</span>
								<br /> <span style="font-size: 9px;">Address:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.officeAddress}}</span>
								<br /> <span style="font-size: 9px;">City(ROP):&nbsp;{{vm.companyDataForCreaditNotes.cityName}}</span>
								<br />
							<span style="font-size: 9px;">City(AOP):&nbsp;{{vm.creditNote.cityName}}</span>
								<br />
							<span style="font-size: 9px;">State
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.state.stateName}}</span><br />
								<span style="font-size: 9px;">PAN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.panNumber}}</span>
								<br /> <span style="font-size: 9px;">GSTN
									No:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.gstNumber}}</span>
								<br /></td>
						</tr>
					</tbody>
				</table>
				<div style="width: 75%">
					<!-- <div 
						ng-bind="vm.billInkDashboardService.currentCompanyObj.companyName"
						style="text-align: center; font-size: 20px; font-weight: 700;"></div> -->
					<div style="text-align: center; font-size: 12px;">Tax Invoice</div>
					<div style="text-align: center; font-size: 12px;">Original
						for Recepient/</div>
					<!-- <div style="text-align: center; font-size: 20px;">Duplicat/</div>
					<div style="text-align: center; font-size: 20px;">Triplicate</div> -->
				</div>

				<table style="float: right; width: 100%">
					<tbody>
						<tr>
							<td><div style="width: 100px; height: 100px; margin: 5px;">
									<img
										style='max-width: 100px; max-height: 100px; margin-left: auto; margin-right: auto; display: block;'
										src="{{vm.billInkDashboardService.currentCompanyObj.profilePhotoURL}}">
								</div></td>
						</tr>
						<tr>
							<td width="30%"><span style="font-size: 9px;">Contact
									No :&nbsp;{{vm.companyDataForCreaditNotes.mobileNumber}}</span> <br />
								<span style="font-size: 9px;">Email
									ID:&nbsp;{{vm.companyDataForCreaditNotes.emailId}}</span> <br /> <span
								style="font-size: 9px;">CIN NO
									:&nbsp;{{vm.billInkDashboardService.currentCompanyObj.companyId}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<table border="1px" style="border-collapse: collapse; width: 100%">
				<tbody>
					<tr>
						<td width="30%"><span>BuyerName & Address</span> <br /> <span>Name:&nbsp;{{vm.creditNote.ledgerData.ledgerName}}</span>
							<br /> <span>Address:&nbsp;{{vm.creditNote.ledgerData.address}}</span>
							<br /> <span>City:&nbsp;{{vm.creditNote.ledgerData.cityName}}</span>
							<br />
						<span>GSTN No:&nbsp;{{vm.creditNote.ledgerData.gstNumber}}</span>
							<span>City :&nbsp;{{vm.creditNote.ledgerData.cityName}}</span><br />
							<span>PAN No:&nbsp;{{vm.creditNote.ledgerData.panNumber}}</span>
							<span>State
								:&nbsp;{{vm.creditNote.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.creditNote.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="30%" style='vertical-align: baseline;'><span>Delivery
								Name & Address</span> <br />
						<span>Name:&nbsp;{{vm.creditNote.ledgerData.ledgerName}}</span> <br />
							<span>Address:&nbsp;{{vm.creditNote.ledgerData.address}}</span> <br />
							<span>City:&nbsp;{{vm.creditNote.ledgerData.cityName}}</span> <br />
						<span>GSTN No:&nbsp;{{vm.creditNote.ledgerData.gstNumber}}</span>
							<span>City :&nbsp;{{vm.creditNote.ledgerData.cityName}}</span><br />
							<span>PAN No:&nbsp;{{vm.creditNote.ledgerData.panNumber}}</span>
							<span>State
								:&nbsp;{{vm.creditNote.ledgerData.state.stateName}}</span><br /> <span>Contact
								No:&nbsp;{{vm.creditNote.ledgerData.mobileNumber}}</span> <br /></td>

						<td width="40%" style="vertical-align: baseline;"><span>Invoice
								No:&nbsp;{{vm.creditNote.billNumber}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Invoice
								Dt:&nbsp;{{vm.creditNote.billDate}}</span> <br /> <span>LR
								No:&nbsp;{{vm.creditNote.lrNo}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span>LR Dt:&nbsp;{{vm.creditNote.lrNo}}</span> -->
							<br /> <span>Payment Terms:30 days</span> <span>Due
								Date:&nbsp;</span> <br />
						<span>Insurance Policy:&nbsp;No</span> <span>Invoice
								By:&nbsp;</span> <br /> <span>Gross Weight
								Kgs:&nbsp;{{vm.creditNote.actualWeight}}</span> <br /> <span>Place
								of supply:&nbsp;{{vm.creditNote.ledgerData.state.stateName}}</span><br />
							<span>Eway Bill No:&nbsp;{{vm.creditNote.eWayBillNo}}</span><br />

						</td>

					</tr>
				</tbody>
			</table>
			<br />
			<table border="1px" style="border-collapse: collapse;">
				<tbody>
					<!-- <tr ng-if="vm.sell.sellItemModel[0].item.itemName">
						<th colspan="11"><b style="text-align: center">Item List</b>
						</th>
					</tr> -->
					<tr style="font-weight: bold">
						<th>Sr No.</th>
						<th style="width: 20%;">Product Name</th>
						<th style="width: 3%;">UOM</th>
						<th style="width: 4%;">HSN</th>
						<th style="width: 3%;">GST<br>(%)
						</th>
						<th style="width: 4%;">Batch<br>No.
						</th>
						<th style="width: 4%;">Mfg Dt.</th>
						<th style="width: 4%;">Exp Dt.</th>
						<th style="width: 9%;">MRP</th>
						<th style="width: 4%;">Disc.<br>(%)
						</th>
						<th style="width: 9%;">Rate Per<br>Unit
						</th>
						<th style="width: 4%;">Qty</th>
						<th style="width: 4%;">Free Qty<br>(Nos)
						</th>
						<th style="width: 10%;">Taxable Amt</th>
						<th>CGST</th>
						<th>SGST/<br>UGST
						</th>
						<th>IGST</th>
						<th style="width: 10%;">Total Amt</th>
					</tr>
					<!-- ng-if="vm.sell.sellItemModel[0].item.itemName"  -->
					<tr ng-repeat="number in vm.numberOfItem track by $index"
						ng-if="vm.creditNote.creditNoteItemMappingList[0].item.itemName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td style="width: 20%; text-align: left;">
							<div class="dropdown">
								<span
									ng-bind="vm.creditNote.creditNoteItemMappingList[$index].item.itemName"></span>
							</div>
						</td>
						<td></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].item.hsnCode"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].taxRate"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].batchno"></span></td>

						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].mfgdateForPrint"></span></td>

						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].expdateForPrint"></span></td>

						<!-- <td align='right'><span
							ng-bind="vm.sell.sellItemModel[$index].taxRate"></span></td> -->
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].sellRate"></span></td>

						<td align='right'>
							<div class="input-group">
								<span
									ng-bind="vm.creditNote.creditNoteItemMappingList[$index].discount"></span>
								<span
									ng-if="vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">$</span>
								<span
									ng-if="!vm.creditNote.creditNoteItemMappingList[$index].measureDiscountInAmount">%</span>
							</div>
						</td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].sellRate"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteItemMappingList[$index].freequantity"></span></td>

						<td align="right"><span
							ng-bind="vm.getItemLevelAmount($index)"></span></td>


						<!-- 	<td align="right"><span
							ng-bind="vm.getItemLevelAmount($index)"></span></td> -->
						<td align="right"><span ng-bind="vm.getCGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getSGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getIGSTAmount($index)"></span></td>
						<td align="right"><span ng-bind="vm.getAmount($index)"></span></td>
					</tr>
					<tr
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<th colspan="18"><b style="text-align: center">Charge
								List</b></th>
					</tr>
					<tr style="font-weight: 600;"
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<th>No</th>
						<th style="width: 20%;" colspan="8">Charge Description</th>
						<th style="width: 8%">Qty</th>
						<th>Rate</th>
						<th style="width: 10%;">Disc.</th> <
						<th>Amount</th>
						<th style="width: 10%;">Tax Rate</th>
						<th>SGST</th>
						<th>CGST</th>
						<th>IGST</th>
						<th style="width: 10%;">Amount</th>
					</tr>
					<tr
						ng-repeat="number in vm.numberOfCreditNoteCharge track by $index"
						ng-if="vm.creditNote.creditNoteChargeModelList[0].ledger.ledgerName">
						<td style="text-align: center;"><span ng-bind="($index + 1)"></span>.</td>
						<td colspan="8" style="text-align: left;"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].ledger.ledgerName"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].quantity"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].creditNoteCharge"></span></td>
						<td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].discount"></span>
							<span
							ng-if="vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">$</span>
							<span
							ng-if="!vm.creditNote.creditNoteChargeModelList[$index].measureDiscountInAmount">%</span>
						</td>
						<!-- <td align='right'><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].taxRate"></span></td> -->

						<td align="right"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].creditNoteCharge"></span></td>
						<td align="right"><span
							ng-bind="vm.creditNote.creditNoteChargeModelList[$index].taxRate"></span>%</td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeSGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeCGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeIGSTAmount($index)"></span></td>
						<td align="right"><span
							ng-bind="vm.getCreditNoteChargeAmount($index)"></span></td>
					</tr>
					<tr>
						<!-- <td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td> -->
						<td align='right' colspan="13"><span
							style="text-align: center">Gross Amount</span></td>
						<td align="right"><span
							ng-bind="vm.totalItemLevelAmountWithoutTax"> </span></td>
						<td align="right" ng-bind="vm.totalSGST"></td>
						<td align="right" ng-bind="vm.totalCGST"></td>
						<td align="right" ng-bind="vm.totalIGST"></td>
						<td align="right"><span ng-bind="vm.getGrossTotalAmount()">
						</span></td>
					</tr>
					<!-- <tr>
						<td colspan="10" align="right">Disc.</td>
						<td align="right"><span ng-bind="vm.sell.discount"></span> <span
							ng-if="vm.sell.sellMeasureDiscountInAmount">$</span> <span
							ng-if="!vm.sell.sellMeasureDiscountInAmount">%</span></td>
					</tr> -->
					<tr>
						<!-- <td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td> -->
						<td colspan="13" align="right">Total</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td align="right"><span ng-bind="vm.getTotalBillAmount()"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- 			For amount in words div  -->
			<div style='border-bottom: 1px solid black;'>
				<span style='margin-left: 10px;'>Total in words :
					{{vm.convertToWordsString(vm.getTotalBillAmount())}} </span>
			</div>

			<!-- ////////// -->
			<table border="1px" style="border-collapse: collapse;" width="100%">
				<thead>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Bank Details Mention under For
								RTGS/NEFT/DD</b></th>
					</tr>
					<tr>
						<th width="30%" style="font-size: 9"><b
							style="text-align: left;">Company Bank Details</b></th>
						<th rowspan="3"
							style="vertical-align: baseline; font-size: 9; width: 30%"><b
							style="text-align: left;">Receiver Acknowledgement</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="30%"><span style="font-size: 9">Beneficary
								No:&nbsp;123</span><br /> <span style="font-size: 9">Bank
								Name:&nbsp; DummyBank</span><br /> <span style="font-size: 9">Account
								No:&nbsp; 1234567890</span><br /> <span style="font-size: 9">IFDC
								Code:&nbsp; DUMM0007890</span><br /> <span style="font-size: 9">Account
								Type:&nbsp; Saving</span><br /> <span>__________________________</span><br />
							<span style="font-size: 13">Declaration:</span><br /> <span
							style="font-size: 9">1) Payment No Recieved on Due Date</span><br />
							<span style="font-size: 9">interest will be chargebale 18%
								of Invoice Amt.</span><br /> <span style="font-size: 9">Amt.</span><br />
							<span style="font-size: 9">2) We declare that this invoice
								shows the</span><br /> <span style="font-size: 9">actual price
								of the goods described and</span><br /> <span style="font-size: 9">that
								all particulars true and correct.</span><br /> <span
							style="font-size: 8">3) SUBJECT TO ______________</span><br /> <span
							style="font-size: 8">JURISDICTION</span><br /></td>

						<td width="30%" style='vertical-align: baseline;' rowspan="8">
							<br /> <br /> <br /> <span>__________________________</span> <span
							style="font-size: 9;">Authorised person Sign & stamp</span><br />
							<span>__________________________</span> <span
							style="font-size: 9;">Name of Receiver</span><br /> <span>__________________________</span>
						</td>

						<td width="40%" style="vertical-align: baseline;"></td>

					</tr>
				</tbody>
			</table>

			<!-- ////////////// -->
			<table border="1px" style="border-collapse: collapse;" width="100%"
				ng-if="(vm.totalIGST && vm.totalIGST >0) || (vm.totalSGST && vm.totalSGST >0) || (vm.totalCGST && vm.totalCGST >0)">
				<tr>
					<th>HSN/SAC Wise Tax Summary</th>
					<th>Tax Rate</th>
					<th>IGST</th>
					<th>SGST</th>
					<th>CGST</th>
				</tr>
				<tr ng-repeat="hsn in vm.hsnList">
					<td ng-bind="hsn.hsnCode"></td>
					<td align="right"><span ng-bind="hsn.taxRate"></span>%</td>
					<td align="right" ng-bind="hsn.igst"></td>
					<td align="right" ng-bind="hsn.sgst"></td>
					<td align="right" ng-bind="hsn.cgst"></td>
				</tr>
				<tr>
					<td colspan="2">Total</td>
					<td align="right" ng-bind="vm.totalIGST"></td>
					<td align="right" ng-bind="vm.totalSGST"></td>
					<td align="right" ng-bind="vm.totalCGST"></td>
				</tr>
			</table>
			<div style="width: 100%">
				<table style="border-collapse: collapse;" width="100%">
					<tr style='height: 70px;'>
						<td width='65%'
							style="height: 40px; text-align: center; border-right: 1px solid; border-bottom: 1px solid;"></td>
						<td width='10%' style="height: 40px;"></td>
						<td width='25%'
							style="height: 40px; text-align: center; vertical-align: bottom; border-left: 1px solid; border-bottom: 1px solid;">Authorized
							Signature</td>
					</tr>
				</table>
			</div>
			<!-- 		<div style="border-bottom: 1px solid black; font-size: 12px;">
				<p style="margin: 4px 0px 0px 2px;">* This is Computerized
					Invoice and requires no Signature</p>
				<p style="margin: 4px 0px 4px 2px;">* All Disputes subject to
					{{vm.companyDataForSell.cityName}} Jurisdiction Only.</p>
			</div>
			<div style="font-size: 12px;">
				<p style="margin: 4px 0px 4px 2px;">Declaration: We declare that
					this invoice shows the actual price of the goods described and that
					all particular are true and correct</p>
			</div> -->
		</div>
	</div>


	<!-- All Field PrintDiv End  -->
	<div id="new-batch-credit-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Item Batch</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType">Batch No.</label> <input id="batchNo"
								maxlength="255" class="form-control" type="text"
								ng-model="vm.creditNote.batchNo" />
						</div>


						<div class="form-group row col-sm-12">
							<label for="mfgDate">Mfg. Date</label> <input id="mfgDate"
								class="form-control" type="date"
								ng-model="vm.creditNote.mfgDate" />
						</div>


						<div class="col-sm-12 col-md-6 col-lg-6 form-group">
							<label for="billNumber">SelfLife</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<select
										class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
										id="dayMonthDD">
										<option value="Month">Month</option>
										<option value="days">Days</option>
									</select>
								</div>
								<input id="shelfLife" class="form-control" type="number" min="1"
									ng-model="vm.creditNote.shelfLifes" />
							</div>
						</div>

						<!-- <div class="form-group row col-sm-12">
									<label for="expDate">Exp. Date</label> <input id="expDate"
										class="form-control" type="date"
										ng-model="vm.purchase.expDate" />
								</div> -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedBatch()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveBatchCreditNote()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>