<div class="col-sm-12 row" infinite-scroll="vm.loadMoreCompanyCountData()" infinite-scroll-distance="3">
	<div class="col-lg-4 col-md-4 col-sm-12 card-container"
		ng-repeat="companyCountObj in vm.manageCreditNoteDataService.companyCountRecordList">
		<div class="card-border" style="cursor: pointer;">
			<div class="card-header" style="text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
				<span ng-bind="::companyCountObj.companyName"></span>
			</div>
			<div class="card-body row" ng-click="vm.openCreditNoteList(companyCountObj)">
				<div class="col-sm-12 col-lg-12 col-md-12">
					<label class="bold-text">GST Number</label>
					<span ng-bind="companyCountObj.gstNumber"></span>
				</div>
	
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="col-sm-12" style="padding: 0px">
						<label class="bold-text">Overall Pending Count</label>
					</div>
					<div class="col-sm-12" style="padding: 0px">
						<span ng-bind="::companyCountObj.totalPendingCount"></span>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6">
					<div class="col-sm-12" style="padding: 0px">
						<label class="bold-text">Pending Count</label>
					</div>
					<div class="col-sm-12" style="padding: 0px">
						<span ng-bind="::companyCountObj.creditNotePendingCount"></span>
					</div>
				</div>
	
				<div class="col-sm-12 col-md-6 col-lg-6 row">
					<div class="col-sm-12" style="padding: 0px">
						<label class="bold-text">Request Count</label> 
					</div>
					<div class="col-sm-12" style="padding: 0px">
						<span ng-bind="::companyCountObj.creditNoteProcessCount"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>