<style>
<!--

.manage-creditNote-container .card-border {
	border: 1px solid #1e88e5;
    border-radius: 5px;
    min-height: 300px;
    height: 300px;
    background: white;
}

.manage-creditNote-container .card-container {
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.manage-creditNote-container .bold-text {
	font-weight: 700;
}

.add-edit-drop-down .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.add-edit-drop-down .dropdown li:hover {
	background-color: #ddd;
}

.add-edit-drop-down .dropdown li {
	padding: 10px; 
	border-bottom: 1px solid #eef5f9;
}

.add-edit-drop-down .dropdown ul {
	cursor: pointer; 
}

.dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.dropdown li:hover {
	background-color: #ddd;
}

.dropdown li {
	padding: 10px; 
	border-bottom: 1px solid #eef5f9;
}

.dropdown ul {
	width: 97%; 
	margin-left: 20px; 
	cursor: pointer; 
	height: 200px; 
	overflow: auto;
}

.creditNote-item-list-container .card-border {
	border: 1px solid #fff;
    border-radius: 5px;
    min-height: 250px;
    background: white;
    height: auto;
}

.creditNote-item-list-container {
	margin-bottom: 15px;
}

.creditNote-item-list-container .card-container {
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.billink-creditnote-ledger-container md-autocomplete {
	width: 96%;
}

.billink-creditnote-item-list-container md-autocomplete {
	width: 85%;
	min-width: 70%;
}
-->
</style>
<div class="manage-creditNote-container col-lg-12 col-md-12 col-sm-12"
	ng-controller="manageCreditNoteDataController as vm" 
	ng-init="vm.init()">

	<div ng-include="vm.billInkDashboardService.currentViewUrl" class="row"></div>

</div>
