<style>
<!--
.manage-sell-container .card-border {
	border: 1px solid #1e88e5;
	border-radius: 5px;
	min-height: 300px;
	height: 300px;
	background: white;
}

.manage-sell-container .card-container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.manage-sell-container .bold-text {
	font-weight: 700;
}

.add-edit-drop-down .dropdown-toggle::after {
	float: right;
	margin-top: 10px;
}

.add-edit-drop-down .dropdown li:hover {
	background-color: #ddd;
}

.add-edit-drop-down .dropdown li {
	padding: 10px;
	border-bottom: 1px solid #eef5f9;
}

.add-edit-drop-down .dropdown ul {
	cursor: pointer;
}

.dropdown-toggle::after {
	float: right;
	margin-top: 10px;
}

.dropdown li:hover {
	background-color: #ddd;
}

.dropdown li {
	padding: 10px;
	border-bottom: 1px solid #eef5f9;
}

.dropdown ul {
	width: 97%;
	margin-left: 20px;
	cursor: pointer;
	height: 200px;
	overflow: auto;
}

.sell-item-list-container .card-border {
	border: 1px solid #fff;
	border-radius: 5px;
	min-height: 250px;
	background: white;
	height: auto;
}

.sell-item-list-container {
	margin-bottom: 15px;
}

.sell-item-list-container .card-container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #555;
	cursor: default;
	background-color: #EEF5F9;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	text-decoration: none;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	text-decoration: none;
}

.nav>li>a {
	/* position: relative; */
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

tr:nth-child(odd) {
	background-color: #ffffff
}

.mtb {
	margin: 10px 0px;
}

.form-group {
	margin-bottom: 0px !important;
}

.form-control1 {
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

th {
	font-weight: bold !important;
}
-->
</style>
<div class="manage-sell-container col-lg-12 col-md-12 col-sm-12"
	ng-controller="manageReportController as vm" ng-init="vm.init()">

	<ul class="nav nav-tabs">
		<li id="PurchaseId" class="active"><a href="javascript:void(0)"
			ng-click="vm.change(0)">Purchase Register</a></li>
		<li id="SaleId"><a href="javascript:void(0)"
			ng-click="vm.change(1)">Sales Register</a></li>
		<li id="CreditnoteId"><a href="javascript:void(0)"
			ng-click="vm.change(2)">Credit Note Register</a></li>
		<li id="DebitnoteId"><a href="javascript:void(0)"
			ng-click="vm.change(3)">Debit Note Register</a></li>
		<li id="LedgerreportId"><a href="javascript:void(0)"
			ng-click="vm.change(4)">Ledger Report</a></li>
		<li id="DaybookId"><a href="javascript:void(0)"
			ng-click="vm.change(5)">Day Book</a></li>
		<li id="bankId"><a href="javascript:void(0)"
			ng-click="vm.change(6)">Bank/Cashbook</a></li>
		<li id="TaxesledgerId"><a href="javascript:void(0)"
			ng-click="vm.change(7)">Taxes Ledgers</a></li>
		<li id="stockreportId"><a href="javascript:void(0)"
			ng-click="vm.change(8)">Stock Reports</a></li>
	</ul>
	<div class="purchasereportdiv" ng-if="vm.flag == 0"
		style="overflow-x: auto;">
		<div class="row mtb">
			<div class="col-md-3 form-group">
				<div id="PurchaseRegister-dialog">
					<div class="modal fade confirmation-dialog" role="dialog">
						<div class="modal-dialog modal-lg modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Purchase Register Filter</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-3"
											ng-repeat="item in vm.manageReportService.PurchaseRegisterAvaliableList">
											<input type="checkbox" id="{{$index}}"
												ng-click="vm.PurchaseRegisterCheckBoxChange($index)"
												ng-checked="item[2]" />&nbsp;&nbsp;{{item[0]}}
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										ng-click="vm.PurchaseRegistercloseModal()">Cancel</button>
									<button type="button" class="btn btn-primary"
										ng-click="vm.PurchaseRegistercloseModalapplyFilter()">Apply</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label for="billDate">From Date</label> <input id="fromDate"
					class="form-control1" type="date" max="{{vm.maxDate}}"
					max="{{vm.maxDate}}" ng-change="vm.checkDate()"
					ng-model="vm.fromDate" /> <label for="billDate">To Date</label> <input
					id="toDate" class="form-control1" type="date" max="{{vm.maxDate}}"
					ng-change="vm.checkDate()" ng-model="vm.toDate" />

			</div>
			<div class="col-md-1 form-group">
				<button class="btn btn-primary"
					ng-click="vm.PurchaseRegisterDetail()">
					<lable>GoTo</lable>
				</button>
			</div>
			<div class="col-md-2 form-group">
				<!-- <button class="btn btn-primary"
					ng-click="vm.PurchaseRegisterFilter()">
					 <span class="mdi mdi-filter-outline"></span>
				</button> -->
				<input
					class="form-control dropdown-toggle ng-pristine ng-valid ng-empty ng-touched"
					ng-change="vm.searchPurchaseDetail()"
					ng-model="vm.searchPurchaseDetailText" type="text"
					autocomplete="off" placeholder="search here..."
					data-toggle="dropdown" value="">
			</div>
		</div>
		<table id="tbl_purchase_Details" style="display: none;">
			<tr id="purchaseheaderId">
				<th
					ng-repeat="item in vm.manageReportService.PurchaseRegisterDisplayList"
					nowrap>{{item[0]}}</th>
			</tr>
			<tr ng-repeat="data in vm.manageReportService.PurchaseRegisterList">
				<td
					ng-repeat="item in vm.manageReportService.PurchaseRegisterDisplayList"
					nowrap>{{data[item[1]]}}</td>
			</tr>
		</table>
	</div>
	<div class="salereportdiv" ng-if="vm.flag == 1" style="overflow-x: auto;">
		<div class="row mtb">
			<div class="col-md-3 form-group">
				<div id="SaleRegister-dialog">
					<div class="modal fade confirmation-dialog" role="dialog">
						<div class="modal-dialog modal-lg modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Sale Register Filter</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-3"
											ng-repeat="item in vm.manageReportService.saleRegisterAvaliableList">
											<input type="checkbox" id="{{$index}}"
												ng-click="vm.SaleRegisterCheckBoxChange($index)"
												ng-checked="item[2]" />&nbsp;&nbsp;{{item[0]}}
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										ng-click="vm.saleRegistercloseModal()">Cancel</button>
									<button type="button" class="btn btn-primary"
										ng-click="vm.SaleRegistercloseModalapplyFilter()">Apply</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label for="billDate">From Date</label> <input id="fromDate"
					class="form-control1" type="date" max="{{vm.maxDate}}"
					max="{{vm.maxDate}}" ng-change="vm.checkDate()"
					ng-model="vm.fromDate" /> <label for="billDate">To Date</label> <input
					id="toDate" class="form-control1" type="date" max="{{vm.maxDate}}"
					ng-change="vm.checkDate()" ng-model="vm.toDate" />

			</div>
			<div class="col-md-1 form-group">
				<button class="btn btn-primary" ng-click="vm.saleRegisterDetail()">
					<lable>GoTo</lable>
				</button>
			</div>
			<div class="col-md-2 form-group">
				<!-- <button class="btn btn-primary"
					ng-click="vm.PurchaseRegisterFilter()">
					 <span class="mdi mdi-filter-outline"></span>
				</button> -->
				<input
					class="form-control dropdown-toggle ng-pristine ng-valid ng-empty ng-touched"
					ng-change="vm.searchSaleDetail()"
					ng-model="vm.searchSaleDetailText" type="text" autocomplete="off"
					placeholder="search here..." data-toggle="dropdown" value="">
			</div>
		</div>
		<table id="tbl_sale_Details" style="display: none;">
			<tr id="saleheaderId">
				<th
					ng-repeat="item in vm.manageReportService.SaleRegisterDisplayList"
					nowrap>{{item[0]}}</th>
			</tr>
			<tr ng-repeat="data in vm.manageReportService.SaleRegisterList">
				<td
					ng-repeat="item in vm.manageReportService.SaleRegisterDisplayList"
					nowrap>{{data[item[1]]}}</td>
			</tr>
		</table>
	</div>

	<div class="creditnotereportdiv" ng-if="vm.flag == 2" style="overflow-x: auto;">
		<div class="row mtb">
			<div class="col-md-3 form-group">
				<div id="creditnoteRegister-dialog">
					<div class="modal fade confirmation-dialog" role="dialog">
						<div class="modal-dialog modal-lg modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Creditnote Register Filter</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-3"
											ng-repeat="item in vm.manageReportService.creditnoteRegisterAvaliableList">
											<input type="checkbox" id="{{$index}}"
												ng-click="vm.creditnoteRegisterCheckBoxChange($index)"
												ng-checked="item[2]" />&nbsp;&nbsp;{{item[0]}}
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										ng-click="vm.creditnoteRegistercloseModal()">Cancel</button>
									<button type="button" class="btn btn-primary"
										ng-click="vm.creditnoteRegisterapplyFilter()">Apply</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label for="billDate">From Date</label> <input id="fromDate"
					class="form-control1" type="date" max="{{vm.maxDate}}"
					max="{{vm.maxDate}}" ng-change="vm.checkDate()"
					ng-model="vm.fromDate" /> <label for="billDate">To Date</label> <input
					id="toDate" class="form-control1" type="date" max="{{vm.maxDate}}"
					ng-change="vm.checkDate()" ng-model="vm.toDate" />

			</div>
			<div class="col-md-1 form-group">
				<button class="btn btn-primary"
					ng-click="vm.creditnoteRegisterDetail()">
					<lable>GoTo</lable>
				</button>
			</div>
			<div class="col-md-2 form-group">
				<input
					class="form-control dropdown-toggle ng-pristine ng-valid ng-empty ng-touched"
					ng-change="vm.searchCreditnoteDetail()"
					ng-model="vm.searchCreditnoteDetailText" type="text"
					autocomplete="off" placeholder="search here..."
					data-toggle="dropdown" value="">
			</div>
		</div>
		<table id="tbl_creditnote_Details" style="display: none;">
			<tr id="creditnoteheaderId">
				<th
					ng-repeat="item in vm.manageReportService.CreditnoteRegisterDisplayList"
					nowrap>{{item[0]}}</th>
			</tr>
			<tr ng-repeat="data in vm.manageReportService.creditnoteRegisterList">
				<td
					ng-repeat="item in vm.manageReportService.CreditnoteRegisterDisplayList"
					nowrap>{{data[item[1]]}}</td>
			</tr>
		</table>
	</div>
	<div class="debitnotereportdiv" ng-if="vm.flag == 3" style="overflow-x: auto;">
		<div class="row mtb">
			<div class="col-md-3 form-group">
				<div id="debitnoteRegister-dialog">
					<div class="modal fade confirmation-dialog" role="dialog">
						<div class="modal-dialog modal-lg modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">debitnote Register Filter</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-3"
											ng-repeat="item in vm.manageReportService.debitnoteRegisterAvaliableList">
											<input type="checkbox" id="{{$index}}"
												ng-click="vm.debitnoteRegisterCheckBoxChange($index)"
												ng-checked="item[2]" />&nbsp;&nbsp;{{item[0]}}
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										ng-click="vm.debitnoteRegistercloseModal()">Cancel</button>
									<button type="button" class="btn btn-primary"
										ng-click="vm.debitnoteRegisterapplyFilter()">Apply</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label for="billDate">From Date</label> <input id="fromDate"
					class="form-control1" type="date" max="{{vm.maxDate}}"
					max="{{vm.maxDate}}" ng-change="vm.checkDate()"
					ng-model="vm.fromDate" /> <label for="billDate">To Date</label> <input
					id="toDate" class="form-control1" type="date" max="{{vm.maxDate}}"
					ng-change="vm.checkDate()" ng-model="vm.toDate" />

			</div>
			<div class="col-md-1 form-group">
				<button class="btn btn-primary"
					ng-click="vm.debitnoteRegisterDetail()">
					<lable>GoTo</lable>
				</button>
			</div>
			<div class="col-md-2 form-group">
				<input
					class="form-control dropdown-toggle ng-pristine ng-valid ng-empty ng-touched"
					ng-change="vm.searchDebitnoteDetail()"
					ng-model="vm.searchDebitnoteDetailText" type="text"
					autocomplete="off" placeholder="search here..."
					data-toggle="dropdown" value="">
			</div>
		</div>
		<table id="tbl_debitnotes">
			<tr id="debitnoteheaderId">
				<th
					ng-repeat="item in vm.manageReportService.debitnoteRegisterDisplayList"
					nowrap>{{item[0]}}</th>
			</tr>
			<tr ng-repeat="data in vm.manageReportService.DebitnoteRegisterList">
				<td
					ng-repeat="item in vm.manageReportService.debitnoteRegisterDisplayList"
					nowrap>{{data[item[1]]}}</td>
			</tr>
		</table>
	</div>
	<div class="Ledgerreportdiv" ng-if="vm.flag == 4" style="overflow-x: auto;">
		<div class="row mtb">
			<div class="col-md-3 form-group">
			Select Ledger
					<select class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" id="creditdebitLedgerId">
				<option ng-repeat="data in vm.manageReportService.getLedgerNameList" value="{{data.ledgerId}}">{{data.ledgerName}}</option>
				</select>
			</div>
			<div class="col-md-6 form-group">
				<label for="billDate">From Date</label> <input id="fromDate"
					class="form-control1" type="date" max="{{vm.maxDate}}"
					max="{{vm.maxDate}}" ng-change="vm.checkDate()"
					ng-model="vm.fromDate" /> <label for="billDate">To Date</label> <input
					id="toDate" class="form-control1" type="date" max="{{vm.maxDate}}"
					ng-change="vm.checkDate()" ng-model="vm.toDate" />

			</div>
			<div class="col-md-1 form-group">
				<button class="btn btn-primary" ng-click="vm.ledgerRegisterDetail()">
					<lable>GoTo</lable>
				</button>
			</div>
			<div class="col-md-2 form-group">
				<input
					class="form-control dropdown-toggle ng-pristine ng-valid ng-empty ng-touched"
					ng-change="vm.searchledgerDetail()"
					ng-model="vm.searchledgerDetailText" type="text" autocomplete="off"
					placeholder="search here..." data-toggle="dropdown" value="">
			</div>
		</div>
		<table id="tbl_ledgerDetail" style="display: none;">
			<tr id="ledgerheaderId">
				<th
					ng-repeat="item in vm.manageReportService.ledgerRegisterDisplayList"
					nowrap>{{item[0]}}</th>
			</tr>
			<tr ng-repeat="data in vm.manageReportService.allLedgerList">
				<td
					ng-repeat="item in vm.manageReportService.ledgerRegisterDisplayList"
					nowrap>{{data[item[1]]}}</td>
			</tr>
		</table>
	</div>

	<div class="DayBookreportdiv" ng-if="vm.flag == 5" style="overflow-x: auto;">
		<div class="row mtb">
			<div class="col-md-3 form-group">
		 	  Select Ledger 
			</div>
			<div class="col-md-6 form-group">
			<select class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" id="daybookLedgerId">
				<option  ng-repeat="data in vm.manageReportService.getLedgerNameList" value="{{data.ledgerId}}">{{data.ledgerName}}</option>
			</select>
			
				 
			</div>
			<div class="col-md-1 form-group">
				<button class="btn btn-primary" ng-click="vm.getDayBookDetail()">
					<lable>GoTo</lable>
				</button>
			</div>
			<div class="col-md-2 form-group">
				<input
					class="form-control dropdown-toggle ng-pristine ng-valid ng-empty ng-touched"
					ng-change="vm.searchdayBookDetail()"
					ng-model="vm.searchDaybookDetailText" type="text" autocomplete="off"
					placeholder="search here..." data-toggle="dropdown" value="">
			</div>
		</div>
		<table id="tbl_Daybook_Details" style="display: none;">
			<tr id="daybookheaderId">
				<th
					ng-repeat="item in vm.manageReportService.dayBookDisplayList"
					nowrap>{{item[0]}}</th>
			</tr>
			<tr ng-repeat="data in vm.manageReportService.dayBookList">
				<td
					ng-repeat="item in vm.manageReportService.dayBookDisplayList"
					nowrap>{{data[item[1]]}}</td>
			</tr>
		</table>
	</div>
	<!-- Taxledger  -->
	
			<div class="taxablereportdiv" ng-if="vm.flag == 7" style="overflow-x: auto;" >
		<div class="row mtb">
			<div class="col-md-3 form-group" ng-init="vm.ledgerDetailsListBycompanyId();">
			Select Ledger
				<select class="form-control"
					ng-model="vm.manageReportService.taxableLedgerId"
					ng-options="data.ledgerId as data.ledgerName for data in vm.ledgerList"
					id="taxableLedgerId">
				</select> 
				<!-- 	<select class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-click="vm.ledgerDetailsListBycompanyId();" id="taxableLedgerId">
				<option ng-repeat="data in vm.ledgerList" value="{{data.ledgerId}}">{{data.ledgerName}}</option>
				</select>  -->
			</div>
			<div class="col-md-6 form-group">
				<label for="billDate">From Date</label> <input id="fromDate"
					class="form-control1" type="date" max="{{vm.maxDate}}"
					max="{{vm.maxDate}}" ng-change="vm.checkDate()"
					ng-model="vm.fromDate" /> <label for="billDate">To Date</label> <input
					id="toDate" class="form-control1" type="date" max="{{vm.maxDate}}"
					ng-change="vm.checkDate()" ng-model="vm.toDate" />

			</div>
			<div class="col-md-1 form-group">
				<button class="btn btn-primary" ng-click="vm.taxableledgerDetail()">
					<lable>GoTo</lable>
				</button>
			</div>
			<div class="col-md-2 form-group">
				<input
					class="form-control dropdown-toggle ng-pristine ng-valid ng-empty ng-touched"
					ng-change="vm.searchledgerDetail()"
					ng-model="vm.searchledgerDetailText" type="text" autocomplete="off"
					placeholder="search here..." data-toggle="dropdown" value="">
			</div>
		</div>
		<table id="tbl_taxableledgerDetail" style="display: none;">
			<tr id="ledgerheaderId">
				<th
					ng-repeat="item in vm.manageReportService.taxableledgerReport"
					nowrap>{{item[0]}}</th>
			</tr>
			<tr ng-repeat="data in vm.manageReportService.taxAbleLedgerList">
				<td
					ng-repeat="item in vm.manageReportService.taxableledgerReport"
					nowrap>{{data[item[1]]}}</td>
			</tr>
		</table>
	</div>
	<!-- TaxLadger -->
	
	
		<div class="stockreportdiv" ng-if="vm.flag == 8" style="overflow-x: auto;">
		<div class="row mtb">
			<div class="col-md-3 form-group">
				
			</div>
			<div class="col-md-6 form-group">
				<label for="billDate">From Date</label> <input id="fromDate"
					class="form-control1" type="date" max="{{vm.maxDate}}"
					max="{{vm.maxDate}}" ng-change="vm.checkDate()"
					ng-model="vm.fromDate" /> <label for="billDate">To Date</label> <input
					id="toDate" class="form-control1" type="date" max="{{vm.maxDate}}"
					ng-change="vm.checkDate()" ng-model="vm.toDate" />

			</div>
			<div class="col-md-1 form-group">
				<button class="btn btn-primary" ng-click="vm.StockRegisterDetail()">
					<lable>GoTo</lable>
				</button>
			</div>
			<div class="col-md-2 form-group">
				<!-- <button class="btn btn-primary"
					ng-click="vm.PurchaseRegisterFilter()">
					 <span class="mdi mdi-filter-outline"></span>
				</button> -->
				<input
					class="form-control dropdown-toggle ng-pristine ng-valid ng-empty ng-touched"
					ng-change="vm.searchStockDetail()"
					ng-model="vm.searchStockDetailText" type="text" autocomplete="off"
					placeholder="search here..." data-toggle="dropdown" value="">
			</div>
		</div>
		<table id="tbl_Stock_Details" style="display: none;">
			<tr id="stockheaderId">
				<th
					ng-repeat="item in vm.manageReportService.stockDisplayList"
					nowrap>{{item[0]}}</th>
			</tr>
			<tr ng-repeat="data in vm.manageReportService.stockList">
				<td
					ng-repeat="item in vm.manageReportService.stockDisplayList"
					nowrap>{{data[item[1]]}}</td>
			</tr>
		</table>
	</div>
</div>
