<div ng-controller="addSellPaymentDataController as vm" 
	class="row col-sm-12"
	style="padding-top: 10px; padding-bottom: 10px;"
	ng-init="vm.init()">
	<div class="col-sm-12">
		<input type="image" src="../images/back-button.png"
			ng-click="vm.closeAddEditSellPaymentScreen()" 
			height="40px" width="40px" />
	</div>

	<div class="row col-sm-12">
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-8 col-md-8 col-lg-8">
			<div class="col-sm-12 col-sm-12 form-group">
				<label for="userName">Select Ledger</label>
				<div class="dropdown">
					<div class="input-group">
						<input class="form-control dropdown-toggle" 
							ng-change="vm.searchLedger()"
							ng-model="vm.searchLedgerNameText"
							type="text" autocomplete="off" 
							placeholder="search company..." 
							data-toggle="dropdown" />
					  	<ul class="dropdown-menu col-sm-12"
					  		ng-if="vm.searchLedgerList.length > 0">
					  		<li ng-repeat="ledgerObj in vm.searchLedgerList"
					  			ng-click="vm.selectLedger(ledgerObj)">
					  			<span ng-bind="ledgerObj.ledgerName"></span>
					  		</li>
					  	</ul>
					  	<div class="input-group-pospend">
					    	<span class="input-group-text" style="padding-left: 5px; padding-right: 5px;height: 42px;">
								<i class="mdi mdi-plus-circle pull-right" title="Add Item" style="cursor: pointer;" 
									ng-click="vm.billInkDashboardService.launchAddLedgerModel()">
								</i>
						    </span>
						  </div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12 form-group">
				<label for="userName">Receipt In</label>
				<div class="dropdown">
					<div class="input-group">
						<input class="form-control dropdown-toggle" 
							ng-change="vm.searchReceiptInLedger()"
							ng-model="vm.searchReceiptInLedgerNameText"
							type="text" autocomplete="off" 
							placeholder="search company..." 
							data-toggle="dropdown" />
					  	<ul class="dropdown-menu col-sm-12"
					  		ng-if="vm.searchReceiptInLedgerList.length > 0">
					  		<li ng-repeat="ledgerObj in vm.searchReceiptInLedgerList"
					  			ng-click="vm.selectReceiptInLedger(ledgerObj)">
					  			<span ng-bind="ledgerObj.ledgerName"></span>
					  		</li>
					  	</ul>
					  	<div class="input-group-pospend">
					    	<span class="input-group-text" style="padding-left: 5px; padding-right: 5px; height: 42px;">
								<i class="mdi mdi-plus-circle pull-right" title="Add Item" style="cursor: pointer;" 
									ng-click="vm.billInkDashboardService.launchAddLedgerModel()">
								</i>
						    </span>
						  </div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12 form-group" ng-if="vm.manageSellPaymentDataService.requestType === 'Edit' && vm.manageSellPaymentDataService.requestFor === 'uploadImage'">
				<label for="imageURL">SellPayment Photo</label>
				<input type="file" class="form-control-file" 
					accept="image/*" 
					multiple="multiple"	file-model="vm.profilePhotoFile" />
				<br />
				<div class="col-sm-12 row" style="cursor: pointer;">
					<div class="col-sm-2" style="padding: 0px; position: relative; margin-right: 10px; margin-top: 10px;"
						ng-repeat="imageURLObj in vm.sellPayment.imageURLList track by $index">
						<i class="mdi mdi-close-circle-outline" 
							ng-click="vm.deleteImage($index)"
							style="position: absolute; top: -15px; right: -10px; font-size: 20px;"></i>
						<img style="height: 100px; width: 100%"
							alt="No Image" src="{{imageURLObj.imageURL}}"
							ng-click="vm.openImageModel($index)">
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-sm-12 form-group" ng-if="vm.manageSellPaymentDataService.requestType === 'Add' && vm.manageSellPaymentDataService.requestFor === 'uploadImage'">
				<label for="imageURL">SellPayment Photo</label>
				<input type="file" class="form-control-file" 
					accept="image/*" 
					multiple="multiple" file-model="vm.profilePhotoFile" />
			</div>
			<div class="col-sm-12 form-group">
				<label for="userName">Reference Number 1</label> <input id="userName"
					class="form-control" type="text" 
					maxlength="255"
					placeholder="reference number 1" 
					ng-model="vm.sellPayment.referenceNumber1" />
			</div>
			<div class="col-sm-12 form-group">
				<label for="userName">Reference Number 2</label> <input id="userName"
					class="form-control" type="text" 
					maxlength="255"
					placeholder="reference number 2" 
					ng-model="vm.sellPayment.referenceNumber2" />
			</div>
			<div class="col-sm-12 col-sm-12 form-group">
				<label for="sellBill">Select Sale Bill</label>
				<div class="dropdown">
					<input class="form-control dropdown-toggle" 
						ng-change="vm.searchSellBill()"
						ng-model="vm.searchBillNumber"
						type="text" autocomplete="off" 
						placeholder="search sale bill number..." 
						data-toggle="dropdown" />
				  	<ul class="dropdown-menu col-sm-12"
				  		ng-if="vm.searchSellBillList.length > 0">
				  		<li ng-repeat="sellObj in vm.searchSellBillList"
				  			ng-click="vm.selectSellBill(sellObj)">
				  			<div class="col-sm-12" ng-if="sellObj.imageURL">
				  				<div class="col-sm-12" style="padding: 0px;">
						  			<img alt="No IMG" src="{{sellObj.imageURL}}" width="50px" height="50px"> #<span ng-bind="sellObj.sellId"></span>
						  			<span>(<span ng-if="sellObj.paymentStatus === 0" style="font-weight: bold;">Pending</span><span style="font-weight: bold;" ng-if="sellObj.paymentStatus === 1">Partial</span><span style="font-weight: bold;" ng-if="sellObj.paymentStatus === 2">Completed</span>)</span>
						  			<div style="float: right;">
										<span style="font-weight: bold;">Add D/T : </span>
										<span ng-bind="sellObj.addedDateTime"></span>
						  			</div>
				  				</div>
				  				<div class="col-sm-12" style="padding: 0px;">
									<span style="font-weight: bold;">Bill Number</span>
									<span ng-bind="sellObj.billNumber"></span>
				  				</div>
				  			</div>
				  			<div class="col-sm-12" ng-if="!sellObj.imageURL">
					  			<div class="col-sm-12" style="padding: 0px;">
						  			#<span ng-bind="sellObj.sellId"></span>
									<span>(<span ng-if="sellObj.paymentStatus === 0" style="font-weight: bold;">Pending</span><span style="font-weight: bold;" ng-if="sellObj.paymentStatus === 1">Partial</span><span style="font-weight: bold;" ng-if="sellObj.paymentStatus === 2">Completed</span>)</span>
									<span style="font-weight: bold;"> Total Amount : </span>
									<span ng-bind="sellObj.totalBillAmount"></span>
						  			<div style="float: right;">
										<span style="font-weight: bold;">Sale D/T : </span>
										<span ng-bind="sellObj.sellDate"></span>
						  			</div>
						  		</div>
					  			<div class="col-sm-12" style="padding: 0px;">
									<span style="font-weight: bold;">Bill Number</span>
									<span ng-bind="sellObj.billNumber"></span>
				  				</div>
				  			</div>
				  		</li>	
				  	</ul>
				</div>
			</div>
	
			<div class="col-sm-12 form-group">
				<div class="card col-sm-12" ng-repeat="sellPaymentSellMapping in vm.sellPayment.sellList">
				  	<div class="card-header">
						#<span ng-bind="sellPaymentSellMapping.sell.sellId"></span>
						<i class="mdi mdi-delete pull-right" style="padding-right: 10px; font-size: 20px; cursor: pointer;" 
						ng-click="vm.deleteFromSeletedSell(sellPaymentSellMapping.sell)"></i>
						<div class="pull-right">
							<input type="checkbox" ng-model="sellPaymentSellMapping.paymentDone"
								id="sellPayment-paymentmapping-{{sellPaymentSellMapping.sell.sellId}}">
							<label for="sellPayment-paymentmapping-{{sellPaymentSellMapping.sell.sellId}}">Payment Done</label> 
						</div>
				  	</div>

				  	<div class="card-body row">
				  		<div class="col-sm-12" ng-if="sellPaymentSellMapping.sell.imageURL">
				  			<img alt="No IMG" src="{{sellPaymentSellMapping.sell.imageURL}}" width="70px" height="100px"> 
				  			<div style="float: right;">
								<span style="font-weight: bold;">Add D/T : </span>
								<span ng-bind="sellPaymentSellMapping.sell.addedDateTime"></span>
				  			</div>
			  			</div>
			  			<div class="col-sm-12" ng-if="!sellPaymentSellMapping.sell.imageURL">
							<span style="font-weight: bold;">Total Amount : </span>
							<span ng-bind="sellPaymentSellMapping.sell.totalBillAmount"></span>
				  			<div style="float: right;">
								<span style="font-weight: bold;">Sale D/T : </span>
								<span ng-bind="sellPaymentSellMapping.sell.sellDate"></span>
				  			</div>
			  			</div>
				  	</div>
				</div>
			</div>
			<div class="col-sm-12 form-group" ng-if="vm.manageSellPaymentDataService.requestFor === 'enterManually'">
				<label for="firstName">Payment Date</label>
				<input id="firstName" class="form-control" type="date" ng-model="vm.sellPayment.paymentDateObj" />
			</div>
			<div class="col-sm-12 form-group">
				<label for="firstName">Amount</label>
				<input id="firstName" class="form-control" type="number" ng-model="vm.sellPayment.amount" />
			</div>
			<div class="col-sm-12 form-group">
				<label for="firstName">Description</label>
				<textarea id="firstName" class="form-control" type="text" ng-model="vm.sellPayment.description">
				</textarea>
			</div>
			
			<div class="col-sm-12">
				<button class="btn btn-default pull-right btn-md" ng-click="vm.closeAddEditSellPaymentScreen()">
					Cancel
				</button>
				<button ng-if="vm.manageSellPaymentDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'" 
					class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" 
					ng-click="vm.uploadFileAndSaveSellPaymentData('Save')">
						Save
				</button>
				<button ng-if="vm.manageSellPaymentDataService.requestType === 'Add' && vm.billInkDashboardService.userRole === 'Vendor'" 
					class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" 
					ng-click="vm.uploadFileAndSaveSellPaymentData('Publish')">
					Publish
				</button>
				<button ng-if="vm.manageSellPaymentDataService.requestType === 'Edit' && vm.sellPayment.status.statusName === 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'" 
					class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" ng-click="vm.uploadFileAndUpdateSellPaymentData('Save')">
					Update
				</button>
				<button ng-if="vm.manageSellPaymentDataService.requestType === 'Edit' && vm.sellPayment.status.statusName !== 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'" 
					class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" ng-click="vm.uploadFileAndUpdateSellPaymentData('Publish')">
					Update
				</button>
				<button ng-if="vm.manageSellPaymentDataService.requestType === 'Edit' && vm.sellPayment.status.statusName === 'UnPublished' && vm.billInkDashboardService.userRole === 'Vendor'" 
					class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" 
					ng-click="vm.publishSavedSellPayment()">
					Publish
				</button>
				<button ng-if="vm.manageSellPaymentDataService.requestType === 'Edit' && vm.billInkDashboardService.userRole !== 'Vendor'" 
					class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" 
					ng-click="vm.markSellPaymentAsVerified()">
					Verify
				</button>
			</div>
		</div>
	</div>
	
	<div id="sellPayment-image-show-model">
		<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">SellPayment#{{vm.sellPayment.sellPaymentId}} Photos</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" align="center">
						<img alt="SellPayment Photo" style="height: 500px; width: 90%" src="{{vm.selectedPhotoURL}}" />
					</div>
					<div class="modal-footer">
						<div class="col-sm-12 row">
							<div class="col-sm-5"></div>
							<div class="col-sm-2">
						        <button type="button" class="btn" ng-click="vm.fetchImage(-1)"><</button>
						        <button type="button" class="btn" ng-click="vm.fetchImage(1)">></button>
							</div>
							<div class="col-sm-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>