<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="addEditCompanyController as vm" style="padding-top: 10px; padding-bottom: 10px;"
	ng-init="vm.init()">
	<div class="row col-sm-12 col-md-12 col-lg-12">
		<div class="col-sm-12 col-md-6 form-group">
			<label for="companyName">Company Name</label>
			<input id="companyName" class="form-control" type="text" maxlength="255" ng-model="vm.company.companyName" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="logo">Logo</label>
			<input type="file" id="logo"
				accept="image/*" 
				class="form-control-file" file-model="vm.profilePhotoFile" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="businessIndustry">Business Type</label>
			<select class="form-control" ng-model="vm.company.businessIndustry" id="businessIndustry"
					multiple="multiple"
					ng-options="businessIndustry for businessIndustry in vm.companyBusinessIndustry">
      		</select>
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="companyType">Company Type</label>
			<select class="form-control" ng-model="vm.company.companyType" id="gstType"
					ng-options="companyType for companyType in vm.companyTypeList">
      		</select>
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="gstNumber">GST Number</label>
			<input id="gstNumber" maxlength="255" class="form-control" type="text" ng-model="vm.company.gstNumber" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="panNumber">Pan Number</label>
			<input id="panNumber" maxlength="10" class="form-control" type="text" ng-model="vm.company.panNumber" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="skuprefix">SKU Prefix</label>
			<input id="skuprefix" class="form-control" type="text" ng-model="vm.company.skuprefix" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="billNumprfix">Bill Number Prefix</label>
			<input id="billNumprfix" class="form-control" type="text" ng-model="vm.company.billNumberPrefix" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="lastbillnum">Last Bill Number</label>
			<input id="lastbillnum" min="0" class="form-control" type="number" ng-model="vm.company.lastBillNumber" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="lastcrditnum">Last CreditNote Number</label>
			<input id="lastcrditnum" min="0" class="form-control" type="number" ng-model="vm.company.lastCreditNoteNumber" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="lastdebitnum">Last DebitNote Number</label>
			<input id="lastdebitnum" min="0" class="form-control" type="number" ng-model="vm.company.lastDebitNoteNumber" />
		</div>
		
		<div class="col-sm-12 col-md-6 form-group" ng-if="vm.billInkDashboardService.userRole === 'Admin'" >
			<label for="allowB2BImport">Allow B2B Import</label>
			<input id="allowB2BImport" class="form-control" type="checkbox" ng-model="vm.company.allowB2BImport" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="aadharCardNumber">Aadhar Card Number</label>
			<input id="aadharCardNumber" min="0" max="999999999999" class="form-control" type="number" ng-model="vm.company.aadharNumber" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="mobileNumber">Mobile Number</label>
			<input id="mobileNumber" min="0" max="9999999999" class="form-control" type="number" ng-model="vm.company.mobileNumber" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="emailId">Email Id</label>
			<input id="emailId" class="form-control" type="email" maxlength="255" ng-model="vm.company.emailId" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="landlineNumber">Landline Number</label>
			<input id="landlineNumber" class="form-control" type="text" ng-model="vm.company.landlineNumber" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="cityName">City Name</label>
			<input id="cityName" class="form-control" type="text" maxlength="500" ng-model="vm.company.cityName" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="pinCode">Pin Code</label>
			<input id="pinCode" class="form-control" min="0" max="999999" type="number" ng-model="vm.company.pinCode" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="state">State</label>
			<select class="form-control" ng-model="vm.company.state.stateId" id="userState"
				   	ng-init="vm.company.state.stateId = vm.stateList[0].stateId"  
					ng-options="state.stateId as state.stateName for state in vm.stateList">
      		</select>
		</div>
		<div class="col-sm-12 col-md-12 form-group">
			<label for="officeAddress">Address</label>
			<textarea id="officeAddress" maxlength="500" class="form-control" type="text" ng-model="vm.company.officeAddress">
			</textarea>
		</div>
		
		<div class="col-sm-12 col-md-12 col-lg-12 form-group">
			<div class="card-border">
				<div class="card-header" style="text-align: center;">
					<span>Document List</span>
					<i class="mdi mdi-plus-circle pull-right" 
						style="padding-right: 5px; cursor: pointer;" 
						ng-click="vm.addDocument()"> 
					</i>
				</div>
				<div class="card-body row">
					<table class="table purchase-item-container">
						<thead>
							<tr>
								<th>Document File</th>
								<th>Document Type</th>
								<th>Description</th>
								<th>Download</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="companyDocumentObj in vm.company.companyDocumentList">
								<td>
									<img alt="Document"
										ng-if="!vm.billInkDashboardService.isPDFDocument(companyDocumentObj.documentUrl)"
										src="{{companyDocumentObj.documentUrl}}"
										height="100px" style="max-width: 150px;" />
										
									<img alt="Document"
										ng-if="vm.billInkDashboardService.isPDFDocument(companyDocumentObj.documentUrl)"
										src="../images/pdf-image.png"
										height="100px" style="max-width: 150px;" />
								</td>
								<td ng-bind="companyDocumentObj.documentType"></td>
								<td ng-bind="companyDocumentObj.description"></td>
								<td>
									<a href="#" ng-click="vm.billInkDashboardService.downloadURI(companyDocumentObj.documentUrl)">
										Download
									</a>
								</td>
								<td> 
									<i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.deleteDocument($index)"> </i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-sm-12 col-lg-12 col-md-12">
		<div class="col-sm-12">
			<button class="btn btn-default pull-right btn-md" ng-click="vm.closeCompanyAddScreen()">
				Cancel
			</button>
			<button ng-if="vm.manageCompanyService.requestType === 'Add'" class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" ng-click="vm.uploadFileAndSaveCompanyData()">
				Save
			</button>
			<button ng-if="vm.manageCompanyService.requestType === 'Edit'" class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" ng-click="vm.uploadFileAndUpdateCompanyData()">
				Update
			</button>
		</div>
	</div>

	<div id="add-document-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Company Document</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType" >Document Type</label>
							<select class="form-control" ng-model="vm.companyDocumentObj.documentType" id="documentType"
									ng-options="documentType for documentType in vm.billInkDashboardService.documentTypeList">
				      		</select>
						</div>

						<div class="col-sm-12 col-sm-12 form-group">
							<label for="documentFile">Document</label>
							<input id="documentFile"
								class="form-control-file" type="file"
								accept="image/*,application/pdf"
								file-model="vm.companyDocumentFile" />
						</div>

						<div class="form-group row col-sm-12">
							<label for="documentDesc" >Description</label>
							<textarea id="documentDesc" maxlength="500" class="form-control" 
								ng-model="vm.companyDocumentObj.description"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedDocumentModal()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveDocument()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


