<style>
<!--

.manage-company-container .card-border {
	border: 1px solid #1e88e5;
    border-radius: 5px;
    min-height: 250px;
    background: white;
}

.manage-company-container .card-container {
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.manage-company-container .bold-text {
	font-weight: 700;
}

.mdi {
	font-size: 20px;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.dropdown li:hover {
	background-color: #ddd;
}

.dropdown li {
	padding: 10px; 
	border-bottom: 1px solid #eef5f9;
}

.dropdown ul {
	width: 97%; 
	margin-left: 20px; 
	cursor: pointer; 
	height: 200px; 
	overflow: auto;
}
-->
</style>
<div class="manage-company-container col-lg-12 col-md-12 col-sm-12"
	ng-controller="manageCompanyController as vm" ng-init="vm.init()">

	<div class="row col-sm-12" 
		ng-if="vm.billInkDashboardService.userRole === 'Admin' && vm.manageCompanyService.requestType != 'Edit' && vm.manageCompanyService.requestType != 'Add'"
		style="padding-top: 10px; padding-left: 0px; padding-right: 0px;"
		>
		<div class="col-sm-11">
			<input id="itemName"
				maxlength="255" type="text" class="form-control"
				placeholder="search company name..."
				ng-change="vm.searchCompanyData()"
				ng-model="vm.manageCompanyService.searchCompanyNameText" />
		</div>
		<div class="col-sm-1">
			<button ng-click="vm.launchAddCompanyScreen()" class="btn btn-default">Add</button>
		</div>
	</div>

	<div ng-include="vm.manageCompanyService.currentViewUrl"></div>
	

	<div id="company-delelete-confirmation-dialog">
      <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Are you sure to delete?</h4>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="vm.closeDeleteModal()">Cancel</button>
				<button type="button"  class="btn btn-danger" ng-click="vm.deleteCompanyData()">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

