<style>
.card-container div:focus {
  color: red;
}
</style>

<div class="row" ng-if="vm.manageCompanyService.companyList.length > 0"
	infinite-scroll="vm.loadMoreCompany()" infinite-scroll-distance="2">
	<div class="col-lg-3 col-md-6 col-sm-12 card-container"
		ng-repeat="companyObj in vm.manageCompanyService.companyList">
		<div class="card-border" style="cursor: pointer;">
			<i class="mdi mdi-delete pull-right" style="padding-right: 10px; cursor: pointer;" ng-click="vm.showDeletePrompt(companyObj.companyId)"></i>
			<div style="text-align: center; padding-top: 10px; padding-bottom: 10px;" ng-click="vm.editCompanyData(companyObj.companyId)">
				<img src="{{companyObj.profilePhotoURL}}"
					style="max-width: 200px;"
					height="150px" alt="Card image cap">
			</div>
			<div class="card-body" ng-click="vm.editCompanyData(companyObj.companyId)">
				<h5 class="card-title" style="text-align: center;"
					ng-bind="::companyObj.companyName"></h5>
				<p class="card-text">
				<div class="col-sm-12">
					<label class="bold-text">GST Number </label> <span
						ng-bind="::companyObj.gstNumber"></span>
				</div>
				<div class="col-sm-12">
					<label class="bold-text">Mobile Number </label> <span
						ng-bind="::companyObj.mobileNumber"></span>
				</div>
				</p>
			</div>
		</div>
	</div>
</div>