<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="addUserDataController as vm" style="padding-top: 10px; padding-bottom: 10px;"
	ng-init="vm.init()">
	<div class="row col-sm-12 col-md-12 col-lg-12">
		<div class="col-sm-12 col-md-6 form-group">
			<label for="role">User Role</label>
			<select class="form-control" 
					ng-model="vm.SeletedRole"
					ng-change="vm.setSeletedRole()">
				<option ng-repeat="role in vm.roleList track by $index" ng-bind="role.roleName" 
						ng-selected="role.roleId === vm.user.role.roleId"
						value="{{$index}}"></option>
      		</select>
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<div ng-if="vm.user.role.roleName === 'Vendor'">
				<label for="userLicenceExpiryDate">User Licence Expiry Date</label>
				<input type="date" id="userLicenceExpiryDate" class="form-control" ng-model="vm.user.userLicenceExpiryDateObj" />
			</div>
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="userName">User Name</label>
			<input id="userName" maxlength="255" class="form-control" type="text" ng-model="vm.user.userName" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="profilePhoto">Profile Photo</label>
			<input type="file" class="form-control-file"
					accept="image/*" 
					file-model="vm.profilePhotoFile" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="firstName">First Name</label>
			<input id="firstName" maxlength="255" class="form-control" type="text" ng-model="vm.user.firstName" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="lastName">Last Name</label>
			<input id="lastName" maxlength="255" class="form-control" type="text" ng-model="vm.user.lastName" />
		</div>

		<div class="col-sm-12 col-md-6 form-group" ng-if="vm.manageUserDataService.requestType === 'Add'">
			<label for="password">Password</label>
			<input id="password" class="form-control" type="password" ng-model="vm.user.password" />
		</div>

		<div class="col-sm-12 col-md-6 form-group"  ng-if="vm.manageUserDataService.requestType === 'Add'">
			<label for="confirmPassword">Confirm Password</label>
			<input id="confirmPassword" class="form-control" type="password" ng-model="vm.user.confirmPassword" />
		</div>

		<div class="col-sm-12 col-md-6 form-group">
			<label for="mobileNumber">Mobile Number</label>
			<input id="mobileNumber" min="0" max="9999999999" class="form-control" type="number" ng-model="vm.user.mobileNumber" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="emailId">Email Id</label>
			<input id="emailId" class="form-control" type="email" ng-model="vm.user.emailId" />
		</div>
		<div class="col-sm-12 col-md-6 form-group" ng-if="vm.user.role.roleName === 'Vendor'">
			<label for="city">Designation</label>
			<select class="form-control" ng-model="vm.user.designation" id="designation"
					ng-options="designation for designation in vm.vendorDesignationList">
      		</select>
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="cityName">City Name</label>
			<input id="cityName" class="form-control" type="text" maxlength="500" ng-model="vm.user.cityName" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="pinCode">Pin Code</label>
			<input id="pinCode" class="form-control" min="0" max="999999" type="number" ng-model="vm.user.pincode" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="state">State</label>
			<select class="form-control" ng-model="vm.user.state.stateId" id="userState"
				   	ng-init="vm.user.state.stateId = vm.stateList[0].stateId"  
					ng-options="state.stateId as state.stateName for state in vm.stateList">
      		</select>
		</div>
		<div class="col-sm-12 col-md-12 form-group">
			<label for="fullAddress">Address</label>
			<textarea id="fullAddress" maxlength="500" class="form-control" maxlength="500" type="text" ng-model="vm.user.fullAddress">
			</textarea>
		</div>
		<div class="col-sm-12 nopaddding form-group">
			<label for="mapCompanyToUser">Map Company</label>
			<div class="dropdown col-sm-12 nopaddding">
				<input class="form-control dropdown-toggle" 
					ng-change="vm.searchCompany()"
					ng-model="vm.searchCompanyNameText"
					type="text" autocomplete="off" 
					placeholder="search company..." 
					data-toggle="dropdown" />
			  	<ul class="dropdown-menu col-sm-12"
			  		ng-if="vm.searchCompanyList.length > 0">
			  		<li ng-repeat="companyObj in vm.searchCompanyList"
			  			ng-click="vm.selectCompany(companyObj)">
			  			<span ng-bind="companyObj.companyName"></span>
			  		</li>	
			  	</ul>
			</div>
	
			<div class="col-sm-12 nopaddding" style="min-height: 50px; padding-top: 10px;">
				<div class="card col-sm-12" ng-repeat="companyObj in vm.user.companyList track by $index">
				  	<div class="card-header">
						<span ng-bind="companyObj.companyName"></span>
						<i class="mdi mdi-delete pull-right" style="padding-right: 10px; cursor: pointer;" ng-click="vm.deleteFromSeletedCompany($index)"></i>	
				  	</div>
				  	<div class="card-body row">
				  		<div ng-repeat="menuObj in vm.user.companyList[$index].userCompanyMenuList" class="col-sm-4">
					    	<input id="menu-obj-{{companyObj.companyId}}-{{menuObj.menuId}}" type="checkbox" 
					    	ng-model="menuObj.selected">
					    	<label for="menu-obj-{{companyObj.companyId}}-{{menuObj.menuId}}" ng-bind="menuObj.menuName"></label>
				  		</div>
				  	</div>
				</div>	
			</div>
		</div>
	</div>
	<div id="user-change-password-dialog">
      <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
				<div class="col-sm-12 form-group">
					<label for="userNewPassword">New Password</label>
					<input type="password" class="form-control" ng-model="vm.newPassword" />
				</div>
				<div class="col-sm-12 form-group">
					<label for="userConfirmPassword">Confirm New Password</label>
					<input type="password" class="form-control" ng-model="vm.confirmNewPassword" />
				</div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="vm.closeChangePasswordModal()">Cancel</button>
				<button type="button"  class="btn btn-primary" ng-click="vm.changePassword()">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div class="row col-sm-12 col-lg-12 col-md-12">
		<div class="col-sm-10">
			<button class="btn btn-default pull-right btn-md" ng-click="vm.closeAddEditUserScreen()">
				Cancel
			</button>
			<button ng-if="vm.manageUserDataService.requestType === 'Add'" 
			class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" 
			ng-click="vm.uploadFileAndSaveUserData()">
				Save
			</button>
			<button ng-if="vm.manageUserDataService.requestType === 'Edit'" class="btn btn-primary pull-right btn-md" style="margin-right: 10px;" ng-click="vm.uploadFileAndUpdateUserData()">
				Update
			</button>			
		</div>
		<div class= "col-sm-2 pull-left" ng-if="vm.manageUserDataService.requestType === 'Edit'" >
			<button class="btn btn-default pull-right btn-md" ng-click = "vm.showChangePasswordPrompt()">Change Password
			</button>
		</div>
	</div>
</div>