<div class = "modal-header">
    <h4 class="modal-title">Change password</h4>
</div>
<div class= "modal-body">
	<div class="col-sm-12 col-md-6 form-group">
		<label for="userName">User Name</label>
		<input id="ledgerName" type="text" class="form-control" ng-model="vm." />
	</div>
	<div class="col-sm-12 col-md-6 form-group">
		<label for="ledgerName">Old password</label>
		<input id="ledgerName" type="password" class="form-control" ng-model="" />
	</div>
	<div class="col-sm-12 col-md-6 form-group">
		<label for="ledgerName">New Password</label>
		<input id="ledgerName" type="password" class="form-control" ng-model="" />
	</div>
	<div class="col-sm-12 col-md-6 form-group">
		<label for="ledgerName">Confirm new password</label>
		<input id="ledgerName" type="password" class="form-control" ng-model="" />
	</div>
</div>
<div class = "modal-footer">
	<button type="button" class="btn btn-default">Change Password</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>