
<style>
.edit-user-profile-container .card-border {
	border: 1px solid #1e88e5;
    border-radius: 5px;
    min-height: 250px;
    background: white;
}

.edit-user-profile-container .card-container {
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.edit-user-profile-container .bold-text {
	font-weight: 700;
}
</style>
<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<div ng-controller="editUserProfileController as vm" class="edit-user-profile-container" style="padding-top: 10px; padding-bottom: 10px;"
	ng-init="vm.init()">
	<div class="row col-sm-12 col-md-12 col-lg-12">
		<div class="col-sm-12 col-md-6 form-group">
			<label for="userName">User Name</label>
			<input id="userName" maxlength="255" class="form-control" disabled="disabled" type="text" ng-model="vm.user.userName" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="profilePhoto">Profile Photo</label>
			<input type="file" class="form-control-file" 
					accept="image/*" 
					file-model="vm.profilePhotoFile" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="firstName">First Name</label>
			<input id="firstName" maxlength="255" class="form-control" type="text" ng-model="vm.user.firstName" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="lastName">Last Name</label>
			<input id="lastName" maxlength="255" class="form-control" type="text" ng-model="vm.user.lastName" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="mobileNumber">Mobile Number</label>
			<input id="mobileNumber" min="0" max="9999999999" class="form-control" type="number" ng-model="vm.user.mobileNumber" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="emailId">Email Id</label>
			<input id="emailId" class="form-control" type="email" ng-model="vm.user.emailId" />
		</div>
		<div class="col-sm-12 col-md-6 form-group" ng-if="vm.user.role.roleName === 'Vendor'">
			<label for="city">Designation</label>
			<select class="form-control" ng-model="vm.user.designation" id="designation"
					ng-options="designation for designation in vm.vendorDesignationList">
      		</select>
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="cityName">City Name</label>
			<input id="cityName" class="form-control" type="text" maxlength="500" ng-model="vm.user.cityName" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="pinCode">Pin Code</label>
			<input id="pinCode" class="form-control" min="0" max="999999" type="number" ng-model="vm.user.pincode" />
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<label for="state">State</label>
			<select class="form-control" ng-model="vm.user.state.stateId" id="userState"
				   	ng-init="vm.user.state.stateId = vm.stateList[0].stateId"  
					ng-options="state.stateId as state.stateName for state in vm.stateList">
      		</select>
		</div>
		<div class="col-sm-12 col-md-12 form-group">
			<label for="fullAddress">Address</label>
			<textarea id="fullAddress" maxlength="500" class="form-control" maxlength="500" type="text" ng-model="vm.user.fullAddress">
			</textarea>
		</div>
		
		<div class="col-sm-12 col-md-12 col-lg-12 form-group">
			<div class="card-border">
				<div class="card-header" style="text-align: center;">
					<span>Document List</span>
					<i class="mdi mdi-plus-circle pull-right" 
						style="padding-right: 5px; cursor: pointer;" 
						ng-click="vm.addDocument()"> 
					</i>
				</div>
				<div class="card-body row">
					<table class="table purchase-item-container">
						<thead>
							<tr>
								<th>Document File</th>
								<th>Document Type</th>
								<th>Description</th>
								<th>Download</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="userDocumentObj in vm.user.userDocumentList track by $index">
								<td>
									<img alt="Document"
											ng-if="!vm.billInkDashboardService.isPDFDocument(userDocumentObj.documentUrl)"
											src="{{userDocumentObj.documentUrl}}"
											height="100px" style="max-width: 150px;" />
											
										<img alt="Document"
											ng-if="vm.billInkDashboardService.isPDFDocument(userDocumentObj.documentUrl)"
											src="../images/pdf-image.png"
											height="100px" style="max-width: 150px;" />
								</td>
								<td ng-bind="userDocumentObj.documentType"></td>
								<td ng-bind="userDocumentObj.description"></td>
								<td>
									<a href="#" ng-click="vm.billInkDashboardService.downloadURI(userDocumentObj.documentUrl)">
										Download
									</a>
								</td>
								<td>
									<i class="mdi mdi-delete pull-right"
										style="padding-right: 5px; cursor: pointer;"
										ng-click="vm.deleteDocument($index)"> </i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="user-change-password-dialog">
      <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
	           	<div class="col-sm-12 form-group">
					<label for="userOldPassword">Old Password</label>
					<input type="password" class="form-control" ng-model="vm.oldPassword" />
				</div>
				<div class="col-sm-12 form-group">
					<label for="userNewPassword">New Password</label>
					<input type="password" class="form-control" ng-model="vm.newPassword" />
				</div>
				<div class="col-sm-12 form-group">
					<label for="userConfirmPassword">Confirm New Password</label>
					<input type="password" class="form-control" ng-model="vm.confirmNewPassword" />
				</div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="vm.closeChangePasswordModal()">Cancel</button>
				<button type="button"  class="btn btn-primary" ng-click="vm.changePassword()">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div class="row col-sm-12 col-lg-12 col-md-12">
		<div class="col-sm-10">
			<button ng-click="vm.uploadFileAndUpdateUserData()" class="btn btn-primary pull-right btn-md" style="margin-right: 10px;">
				Update
			</button>
		</div>
		<div class= "col-sm-2 pull-left">
			<button class="btn btn-default pull-right btn-md" ng-click = "vm.showChangePasswordPrompt()">Change Password
			</button>
		</div>
	</div>
	
	
	<div id="add-document-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add User Document</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row col-sm-12">
							<label for="documentType" >Document Type</label>
							<select class="form-control" ng-model="vm.userDocumentObj.documentType" id="documentType"
									ng-options="documentType for documentType in vm.billInkDashboardService.documentTypeList">
				      		</select>
						</div>

						<div class="col-sm-12 col-sm-12 form-group">
							<label for="documentFile">Document</label>
							<input id="documentFile"
								class="form-control-file" type="file"
								file-model="vm.userDocumentFile" />
						</div>

						<div class="form-group row col-sm-12">
							<label for="documentDesc" >Description</label>
							<textarea id="documentDesc" maxlength="500" class="form-control" 
								ng-model="vm.userDocumentObj.description"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							ng-click="vm.closedDocumentModal()">Cancel</button>
						<button type="button" class="btn btn-primary"
							ng-click="vm.saveDocument()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>