<div class="row" ng-if="vm.manageUserDataService.userList.length > 0"
	infinite-scroll="vm.loadMoreUser()" infinite-scroll-distance="2">
	<div class="col-lg-3 col-md-6 col-sm-12 card-container"
		ng-repeat="userObj in vm.manageUserDataService.userList">
		<div class="card-border" style="cursor: pointer;">
			<i class="mdi mdi-delete pull-right" style="padding-right: 10px; cursor: pointer;" ng-click="vm.showDeletePrompt(userObj.userId)"></i>
			<div style="text-align: center; padding-top: 10px; padding-bottom: 10px;"
				ng-click="vm.editUserData(userObj.userId)">
				<img src="{{::userObj.profilePhotoURL}}"
					style="max-width: 200px;"
					height="150px" alt="Card image cap">
			</div>
			<div class="card-body"
				ng-click="vm.editUserData(userObj.userId)">
				<h5 class="card-title" style="text-align: center;"
					ng-bind="::userObj.userName"></h5>
				<p class="card-text">
				<div class="col-sm-12">
					<label class="bold-text">User Role </label> <span
						ng-bind="::userObj.role.roleName"></span>
				</div>
				<div class="col-sm-12">
					<label class="bold-text">Mobile Number </label> <span
						ng-bind="::userObj.mobileNumber"></span>
				</div>
				</p>
			</div>
		</div>
	</div>
</div>